[2016-09-28 12:26] marscher commented on #789
has this already been checked?

[2016-09-28 12:55] gph82 commented on #789
Yes. #929 fixed it, thanks @fabian-paul

[code]

[2016-09-28 12:55] #789 closed, assigned to nobody

[2016-09-28 12:55] marscher commented on #789
Thanks a lot.

[2016-09-30 18:02] greenTara opened #950 "Not possible to set a prior for the emission matrix"
In pyemma/msm/estimators/bayesian_hmsm.py, the class BayesianHMS allows a prior to be input for the transmission matrix but not for the emission matrix. This limits the ways that other information can be brought in to inform the estimation. Although this could, apparently, be carried out using lower-level routines, it takes a rather high level of familiarity with the package to figure this out. So

[2016-10-02 01:45] MamtaMohan opened #951 "Continuous time MSM"
Hi,

Is it possible to generate continuous time MSM with pyEMMA.

Mamta

[2016-10-02 16:01] franknoe commented on #951
This has been on our lists, but we hadn't had the time to finish it yet.
@fabian-paul has implemented rate matrix estimator using the
Kalbfleisch-Lawless method in a pull request here:
     https://github.com/markovmodel/msmtools/pull/57
But I'm not sure what the status is, Fabian can you comment? Maybe
having the estimator in msmtools would already help you, Mamta? My
feeling is that this would b

[2016-10-02 18:08] MamtaMohan commented on #951
Thank you.

Appreciate your response.

I will give a try.

Mamta

[2016-10-03 09:19] fabian-paul commented on #951
Hi Mamta, hi Frank,

the continuous time estimator that is implemented in the pull request markovmodel/msmtools#57 is functional. To use the estimator as quick as possible, you could replace your version of msmtools with the version from my branch: https://github.com/fabian-paul/msmtools/tree/ratematrix
This version is quite up-to-date with the development branch.

The rate-matrix estimator is ava

[2016-10-03 12:34] franknoe commented on #951
most of these additional features (Implied Timescales and CKTest) would
come for free if an Estimator and Model class are implemented, so I
think it's less work than you suggest, but of course I see you can't do
it right now.

Can we merge the PR in msmtools to have the basic functionality and
discuss the rest in Berlin?

Am 03/10/16 um 04:19 schrieb fabian-paul:

##

---

Prof. Dr. Frank Noe
Head

[2016-10-03 19:26] fabian-paul commented on #951
I see. If we implement it as a Model with .timescales() and  .propagate() we get much for free.

Yes the PR is ready to merge. It was on halt for two reasons:
- We were waiting for my PR on scipy to make it into the next release. That has happened and I have removed all duplicate code that now is in scipy from the PR.
- We wanted to clarify whether my or Robert's approach works better. We didn't s

[2016-10-03 20:50] franknoe commented on #951
I agree. Let's go ahead, we can always swap out code if useful, but for
now it's important to have the functionality.

Am 03/10/16 um 14:26 schrieb fabian-paul:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-05 14:47] marscher opened #953 "[ITS] do we need _estimators, _models by default?"
These objects can be potentially very memory-consuming and after #952 is merged, we could switch to the evaluate "timescales" method. I talked to Nuria and Tim and they said, they consider the inspection of underlying estimators an "expert" option, so we should make it optional.

[2016-10-05 16:50] franknoe commented on #953
We have briefly discussed with @cwehmeyer that ITS might be in future replaced by a function that just returns a series of MSMs for a given set of parameters (i.e. a parameter sweep). But in that case we'd need to keep things in memory too.

I think in practice the most memory consuming objects are upstream. Why do you think it is memory consuming? If everything works well, the input data should o

[2016-10-05 17:00] franknoe commented on #953
Related to this: we could think about not holding a copy to the input data (e.g. dtrajs) in the estimators. That might simplify some things. My intuition is that the usual processing pipeline should still work, but there might be problems with estimator functions accessing the input data. Potentially we can rewrite them in order to use only lower-memory properties derived from the data (such as co

[2016-10-05 20:29] marscher commented on #953
I think the memory gets duplicated, because in ITS we use estimate_param_scan, where estimators are cloned (deeply) for each parameter of the grid. This behaviour is trigger by "if return_estimators or n_jobs > 1", so storing the estimators in ITS will duplicate all input data. For the future we should investigate, whether storing dtrajs is really needed and could be avoided by recalling estimate

[2016-10-05 20:33] franknoe commented on #953
I understand. Yeah, that's a problem. I think the reference to the data
can be avoided, at least on the Estimator level. After all the sklearn
design appears to make more and more sense as we go through these issues.

Am 05/10/16 um 15:29 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
We

[2016-10-06 10:07] marscher commented on #953
dtrajs_full in MaximumLikelihoodMSM is used for:
1. the easy invocation of the cktest (this could be avoided by just returned the instantiated CK-Estimator to the user, which can the be estimated again with dtrajs from outside).
2. effective_count_matrix (this can be set during estimation, without the need to store dtrajs)
3. active_count_fraction (same thing)
4. discrete_trajectories_active, disc

[2016-10-06 16:19] franknoe commented on #953
Am 06/10/16 um 05:07 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-06 16:31] gph82 opened #954 "different sparsity patterns?"
[code]

[2016-10-06 16:36] franknoe commented on #954
This happens when the maximum likelihood estimator looses some
connections compared to the count matrix because of underflow. In this
case the connectivity pattern of the transition matrix should be used
during the sampling rather than that of the count matrix if possible,
while an informative exception should be thrown if the matrix becomes
disconnected.

I thought we had we fixed that already, n

[2016-10-06 19:28] #954 closed, assigned to nobody

[2016-10-06 19:28] marscher commented on #954
update msmtools (and search the issue tracker next time, thank you)

[2016-10-07 08:01] gph82 commented on #954
ooops #878 you're right @marscher, sorry. One question: pulling the latest devel version of pyemma doesn't update msmtools?

[2016-10-07 12:02] marscher commented on #954
you mean during running setup.py develop?

[2016-10-07 12:13] gph82 commented on #954
Well, I had been doing exactly that:

[code]

but that version does not have the fix:
https://github.com/markovmodel/msmtools/blob/devel/doc/source/CHANGELOG.rst

[2016-10-07 12:20] gph82 commented on #954
Sorry, now I got what you meant. I updated msmtools myself, and now:

[code]

[2016-10-07 17:13] gph82 commented on #953
Doesn't also use them for sample_by_distributions and sample_by_state?

[2016-10-07 17:22] pgromano opened #955 "plot_markov_model does not accept pos argument"
Hello all,

I've run into a new error using `pyemma.plots.plot_markov_model` inside the Jupyter Notebook, where it fails to plot if I use the pos=ndarray(n,2). The code is shown below.

[code]

Additionally, arbitrary positions, `pos=np.array([[-1,0],[1,0]])`, produce the same error. The plot tool works well if I remove the pos=ndarray(n,2) argument altogether. This code worked in the past, but ho

[2016-10-08 10:39] marscher commented on #953
is this a statement or a question? As I refactored ML-MSM it didn't pop up during the tests. But maybe these features are untested?

[2016-10-08 11:24] marscher commented on #955
The error message suggests that the png backend produced an error, which matplotlib version are you using? Can you reproduce this using the lastest pyemma version (2.0.4 is fairly old). Also try the latest matplotlib version (1.5.3).

[2016-10-08 18:11] gph82 commented on #953
Sorry I cannot open a good IDE now and really check, but just browsing the code in github I find that ML-MSM has these functions
https://github.com/markovmodel/PyEMMA/blob/1bd334b11478f07883d6d071a8de652063f0a849/pyemma/msm/estimators/maximum_likelihood_msm.py#L614 and here
https://github.com/markovmodel/PyEMMA/blob/1bd334b11478f07883d6d071a8de652063f0a849/pyemma/msm/estimators/maximum_likelihood_

[2016-10-08 18:16] gph82 commented on #953
(updated the comment, some links were wrong)

[2016-10-10 16:53] pgromano commented on #955
The update to 1.5.3 didn't update `icu` and broke a lot of `pyplot`. It's discussed in issue [#30](https://github.com/conda-forge/matplotlib-feedstock/issues/30).

After incorporating the fixes discussed there, PyEMMA updated to 2.2.6, and matplotlib version 1.5.3, the problem still persists. I've attached an updated error file.
[error.txt](https://github.com/markovmodel/PyEMMA/files/520001/error.

[2016-10-10 22:57] marscher commented on #955
https://stackoverflow.com/questions/15697580/python-matplotlib-and-libpng-incompatibility-issue Maybe it is an related issue. Can you please try to use the jpeg backend? If this solves the problem, you should check your installation. If libpng is used from the system library instead of Anacondas version this can cause trouble.

[2016-10-10 22:58] marscher commented on #955
https://stackoverflow.com/questions/13817940/matplotlib-and-libpng-issues-with-ipython-notebook this otool call seems interesting too.

[2016-10-11 16:54] gph82 opened #956 "[coor/save_traj] fragmented trajectory reader"
Hi everyone.
save_traj is extensively tested, also with the fragmented trajectory reader:
 https://github.com/markovmodel/PyEMMA/blob/1bd334b11478f07883d6d071a8de652063f0a849/pyemma/coordinates/tests/test_save_traj.py
But I am getting this behavior where save_traj fails for frame indices larger than the fragment size, which is 10000 in this case:
Anyone has a clue of what is exactly going on here?

[2016-10-11 17:28] franknoe opened #957 "TRAM docs"
I just discussed with Oleksandra who is using TRAM for a multi-ensemble simulation. It's quite hard to understand how to use it, and I have convinced myself that I wouldn't be able to do it based on the documentation. Here's the problem:

Using `pyemma.thermo.tram` you get a TRAM object. The doc page:
http://www.emma-project.org/latest/api/generated/thermo-api/pyemma.thermo.tram.html#pyemma.thermo

[2016-10-12 11:54] gph82 commented on #956
Okay, more info to help debug this. It appears the variable "stride" gets does not get initialized if the first fragment is not present in the sample.

[code]

[2016-10-12 21:18] sonyahanson opened #958 "[frames_from_files] ValueError: largest specified index is larger than trajectory length"
Getting `ValueError: largest specified index is larger than trajectory length` even with staged trajectories.

@maxentile and I had seen this for non-staged trajectories that we had reason to believe were being continuously updated. This was mentioned previously (https://github.com/markovmodel/PyEMMA/issues/892). More recently this problem has been happening with trajectories that have been copied

[2016-10-12 23:18] franknoe commented on #891
Apparently this issue still persists, and @TensorDuck ran into it. Justin - can you provide a minimal example to reproduce it?

[2016-10-13 03:31] TensorDuck commented on #891
I have an example (DE Shaw's Ubiquitin) that can reproduce this. However, the example takes 20 minutes to run. Some notes about how I got this error to be repeatable:
1. Trajectories must be long, if you keep pre-striding the data externally, the error goes away if you stride too much. I have strided it as much as I can before the error goes away in my example.
2. It only happens when I have 2 or

[2016-10-13 07:20] franknoe commented on #891
/group/ag_cmb/scratch/cclementi/ubiquitin-test-symmetry.tar.gz

The text in the notebook debug_test.ipynb describes what the issue is about.

Am 13/10/16 um 05:31 schrieb Justin Chen:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-13 09:32] clonker commented on #956
Thanks for spotting this, I just opened a PR that should fix it.

[2016-10-13 09:44] gph82 commented on #956
great, that was quick! Thanks, guys!

On 13.10.2016 11:32, Moritz Hoffmann wrote:

##

Dr. Guillermo Pérez-Hernández
Freie Universität Berlin
Institute for Mathematics
Arnimallee 6
D-14195 Berlin
tel       0049 30 838 75775

## http://userpage.fu-berlin.de/gph82/

[2016-10-13 13:36] gph82 commented on #956
Great, both my test-case and the actual system giving problems work perfectly now. Thanks @clonker ! I'm closing the issue.

[2016-10-13 13:36] #956 closed, assigned to nobody

[2016-10-13 22:41] franknoe opened #961 "Jupyter notebooks didn't render correctly"
The notebook

http://www.emma-project.org/latest/generated/MSM_BPTI.html

(and maybe others), has rendering errors, such as

`Widget Javascript not detected.  It may not be installed properly. Did you enable the widgetsnbextension? If not, then run "jupyter nbextension enable --py --sys-prefix widgetsnbextension"`

[2016-10-14 01:05] cclementi opened #962 "pyemma.coordinates.tica crushes"
Hi, I have been trying to run TICA using pyemma as follows:

featurizer = coor.featurizer(topfile)
featurizer.add_distances_ca()
featurizer.add_residue_mindist(residue_pairs='all', scheme='closest-heavy')
featurizer.add_all()
featurizer.add_backbone_torsions(cossin=True)
featurizer.add_chi1_torsions(cossin=True)

inp = coor.source(all_trajs, featurizer, chunk_size=1000)
tica_obj = coor.tica(inp, l

[2016-10-14 06:30] franknoe commented on #962
Cecilia, I had the same issue with 2.2 but it appears to work for me
after upgrading to 2.2.6. Perhaps there was an issue with passing on the
chunk_size parameter in an earlier version, but there have been several
fixes along the way. Please upgrade and retry. I am closing this issue
for now, feel free to reopen it if the issue persists.

Am 14/10/16 um 03:05 schrieb Cecilia Clementi:

##

---

Pr

[2016-10-14 06:30] #962 closed, assigned to nobody

[2016-10-14 09:18] marscher commented on #961
A recent version of jupyter ipywidgets require this call prior to executing the notebooks, I'll add this to the pipeline.

[2016-10-14 09:19] franknoe commented on #961
thanks!

Am 14/10/16 um 11:18 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-14 12:26] greenTara commented on #950
Is there anyway that we can help with this issue? We have a drop-dead deadline of end of November to submit a journal paper that depends on the use of this functionality, and I am concerned that we will not have enough time to test our implementation and prepare this paper.

[2016-10-14 14:09] fnueske commented on #917
When discussing this again today, @marscher , @fabian-paul  and I thought that making variational a package could be better as
1. Future developments do not require copy / pasting code around. If we use the subtree, there is no automatic update of setup.py, which could be necessary more often in the future.
2. This also worked for thermotools and msmtools. Integration of pyemma and thermotools wor

[2016-10-14 14:15] marscher commented on #891
Unfortunately can not reproduce the error with notebook on a recent version (2.2.6+12.gd939b39.dirty). I use OpenBLAS for NumPy operations. I'll retry with MKL ...

[2016-10-14 14:18] franknoe commented on #917
Strongly against that. The main objective here is that things work for
the user, and the concern is stability of the API. I think bhmm and
thermotools should in fact also not be package but subtree dependencies
until their APIs are really established.

Am 14/10/16 um 16:09 schrieb Feliks Nüske:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

P

[2016-10-14 14:30] marscher commented on #917
On 10/14/2016 04:18 PM, Frank Noe wrote:

If we want to experiment with incompatible changes, we can use branches.

[2016-10-14 15:13] franknoe commented on #917
Am 14/10/16 um 16:30 schrieb Martin K. Scherer:

Main aim is to guarantee that a PyEMMA version that works now will also
work the same way in the forseeable future unless we actively change it
and the user gets that change via an update of PyEMMA. I don't care if
we use subtrees or another method to ensure this aim. But right now we
have to actively keep it running because whenever a dependency ch

[2016-10-14 17:44] TensorDuck commented on #891
My version is: `pyemma v 2.2.6 np110py27_0 omnia` according to conda.
I use the intel MKL library: imkl/11.2.2.164 (I think)

If the issue is not with pyemma, then is it possible its with the libraries I use?

[2016-10-14 19:28] clonker commented on #917
Maybe a submodule is then more appropriate than a subtree (submodule == link to another repository at a certain commit / tag; subtree == copy)?
Then there would be no copying involved and the submodule's content is fixed until one decides to change the commit it points to so one wouldnt run into version clashes anymore.

One then of course has the overhead of creating a new pyemma release as soon

[2016-10-15 00:59] cclementi opened #964 "error loading new version of pyemma"
Hi,

I have just updated pyemma version to pyemma-2.2.6  and now I get an error when I try to load it in a python script (on the FU computers):

Traceback (most recent call last):
  File "MSM_lag300.py", line 5, in <module>
    import pyemma
  File "/home/mi/cclementi/anaconda2/lib/python2.7/site-packages/pyemma/**init**.py", line 37, in <module>
    from . import plots
  File "/home/mi/cclementi/

[2016-10-15 01:04] franknoe commented on #964
I have experienced the same issue when upgrading from 2.2 to 2.2.6 on
Linux. It went away when installing a more previous version such as the
latest pyemma-dev (which strangely has an older version number) and
replacing that again by 2.2.6.
I didn't experience the problem when upgrading to 2.2.6 under Mac, but I
had more recent version before.

I guess something went wrong with compiling the exten

[2016-10-15 01:38] franknoe commented on #964
Turns out it was an issue with an old concurrent pip install of thermotools that was imported instead of the conda 2.2.3 version. These things are really confusing. Why doesn't the conda-installed pyemma import the conda packages by default?

[2016-10-15 01:38] #964 closed, assigned to nobody

[2016-10-15 12:44] funnybomb opened #965 "Is there deviation between tica_ojb.get_output() and pca_obj.get_output() calculation?"
I have a start pdb file named "a.pdb", and a corresponding simulation file named "a.xtc", I want to mark the point of the pdb structure on the first two PCs. So when I test the projection, I got different results by manually calculated projection via np.dot(dev,eigenvectors)[:2] when using TICA, but same result when using PCA

[code]

[2016-10-15 12:55] franknoe commented on #965
If you use TICA with `kinetic_map=True` (default), there is an additional scaling of eigenvectors by eigenvalues:

[code]

If you initialize tica with kinetic_map=False I would expect the line `out[47]` to show near zeros. Differences on the order of 1e-8 are numerical errors.

[2016-10-15 12:55] #965 closed, assigned to nobody

[2016-10-17 12:15] marscher commented on #958
The check in the function is correct, I've double checked it. So the question is why the indices you're passing in are out of bounds. Does it also happen if you use two trajectories (the "faulty" one + an arbitrary or subsequent one)?

@franknoe the test here only uses one trajectory, so maybe this case is not covered for hmm?
https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/msm/tests/test_

[2016-10-17 12:23] marscher commented on #891
Still no luck in reproducing the error. I re-tried with MKL backend. But I also used the recent numpy release 1.11. Can you please upload the contents of conda list > env.txt?

[2016-10-17 13:07] nsplattner commented on #878
The problem seems to be solved in the 2.2.6 release (at least for my examples), so I'm closing this issue.

[2016-10-17 13:07] #878 closed, assigned to nobody

[2016-10-17 13:26] marscher commented on #878
thank you for testing again!

[2016-10-17 13:31] marscher commented on #891
Okay, with numpy=1.10 it fails.

[2016-10-17 14:36] #550 closed, assigned to nobody

[2016-10-17 15:36] marscher commented on #891
So the culprit is the RunningMoments/Moments.combine method, which introduces a non-finite number in the running estimate of the covariance. I will try to get more information...

[code]

[2016-10-17 15:41] marscher commented on #891
[code]

[2016-10-17 22:02] franknoe commented on #957
@cwehmeyer , whenever you have a chance, please have a look at this.

[2016-10-18 02:44] sonyahanson commented on #958
Hmmm. No error with two trajectories (the "faulty" one + an arbitrary or subsequent one).

[2016-10-18 06:35] TensorDuck commented on #891
So updating to `NumPy1.11` fixes this issue for me as well. I was previously on `NumPy1.10`.

[2016-10-18 07:45] franknoe commented on #891
how weird.

Am 18/10/16 um 08:35 schrieb Justin Chen:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-18 10:13] marscher commented on #891
Should we encourage to upgrade via a version constraint in the conda-recipe? This makes me really nervous, that users will get unpredictable results just because of an old numpy version.

[2016-10-18 10:15] marscher commented on #961
I tried the official solution, but it does not work. Even the documentation of the underlying package they have this error: https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20Styling.html

I already wasted two hours trying to fix this, so I think it will be best to wait until it is fixed upstream.
https://github.com/ipython/ipywidgets/issues/541

[2016-10-18 10:15] #961 closed, assigned to nobody

[2016-10-18 10:38] franknoe commented on #961
Are they working on this / is there an issue in the Ipython project?

Am 18/10/16 um 12:15 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-18 10:39] franknoe commented on #891
are there any potential problems by requiring >=1.11 ? If I remember
correctly some omnia packages were tested against different numpy
versions, but I don't remember why. Maybe this is an omnia question?

Am 18/10/16 um 12:13 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research

[2016-10-18 11:46] marscher commented on #891
Yes, for omnia we build 1.10 and 1.11. But we can omit 1.10 for pyemma, this is no problem.

It turns out that the input data is already not finite:

[code]

The last two elements are NaN. So it seems to be either a problem with the trajectory or with the mdtraj.compute_distances function.

[2016-10-18 11:48] franknoe commented on #891
Ah, but then this is not a numpy problem. So maybe we can separate the
frame that has the problem and nail it down?

Am 18/10/16 um 13:46 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-18 11:49] marscher commented on #891
You're right. I'm extracting this right now. However it only occurs if we use numpy=1.10

[2016-10-18 12:41] marscher commented on #891
It is not reproducible, without loading the first traj too. None of these workflows obtains these NaNs...
1. if one loads the whole traj into memory and computes the distances.
2. iterate with pyemma and compute distances using a single iterator.
3. iterate with pyemma and compute distances with lagged iter (which TICA uses).
4. load in chunks with mdtraj.XTCTrajectoryFile.read_as_traj mimicking t

[2016-10-18 13:42] franknoe commented on #891
Am I understanding this correct: So if you just do this in isolation (your point 3.)

[code]

and construct the iterator in the same way that TICA does it, you cannot reproduce into the problem, while you do run into it when doing TICA which uses the same code? So what's different between these two usecases?

If the trajectory doesn't have any NaN's itself, then the NaN's must be produced by our r

[2016-10-18 15:56] jchodera commented on #891
I'd be a bit careful here. If you require `numpy >=1.11`, you are effectively forcing everyone's conda environments to `numpy 1.11`. Since some other packages may use `pyemma` under the hood, this may have surprising effects.

[2016-10-18 15:57] marscher commented on #891
One has to use covartools.running_moments in the loop to trigger the error. We've also checked that the input is in the DistanceFeature is finite, but the outcome of mdtraj contains NaN's. Unfortunately the single dumped Trajectory object does not reproduce the error, when loaded again and passed to compute_distances. So it is a very very weird side-effect in conjunction with compute_distances and

[2016-10-18 16:06] franknoe commented on #891
Am 18/10/16 um 17:57 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-18 16:10] marscher commented on #891
I have no idea what you mean by parse_mode=False. You're right, mdtraj spits out faulty things in this weird constellation, but in general it is fine. Only if we enabled covartools in the loop we can provocate the NaN. It also happens at arbitrary positions, suggesting that this is some kind of synchronization error. However everything is single-threaded.

[2016-10-18 16:12] franknoe commented on #891
Am 18/10/16 um 18:10 schrieb Martin K. Scherer:

return RunningCovar(compute_XX=xx, compute_XY=xy, compute_YY=yy,
time_lagged=time_lagged, lag=lag,

sparse_mode=sparse_mode, modify_data=modify_data,

remove_mean=remove_mean, symmetrize=symmetrize, nsave=nsave)

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:

[2016-10-18 16:15] marscher commented on #891
Ah okay, will try to re-run with sparse_mode=(not default).

[2016-10-18 16:36] marscher commented on #891
sparse_mode='dense' fails

[2016-10-18 16:44] franknoe commented on #891
Hmm, then it's not the lower-level routines, because dense mode is just
matrix multiplication.
A nontrivial step is the recursive combination of Moments
(Moments.combine). That involves some divisions. Is it possible that
empty frames are generated and passed to the covariance estimator? Then
w1 or w2 could be zero and that would create NaNs.

Am 18/10/16 um 18:36 schrieb Martin K. Scherer:

##

-

[2016-10-18 16:46] marscher commented on #891
I've also checked combine with np.isfinite, but as one can see from the stack traces posted before, the distance array computed by mdtraj already contains NaNs. I'm now testing with modify_data=False

[2016-10-18 16:47] marscher commented on #891
Sorry I forgot to post it, I just described it.

[2016-10-18 16:58] marscher commented on #891
So this happens before we pass the data to RunningMoments. The dists array is not finite.

[code]

[2016-10-18 17:02] marscher commented on #891
-> assert np.all(np.isfinite(res))
(Pdb) res
array([[ 0.91784525,  1.21824014,  1.51844239, ...,  1.0195421 ,
         1.30562103,  0.95286995],
       [ 0.97154814,  1.18705022,  1.52098179, ...,  1.0303359 ,
         1.13738918,  0.81548101],
       [ 0.98786074,  1.29795039,  1.59229791, ...,  0.71648455,
         0.80708987,  0.91732764],
       ...,
       [ 0.86510295,  1.01831925,  1.369827

[2016-10-18 17:06] marscher commented on #891
It also crashes with modify_data=False. I'm now testing mdtraj compute_distances with an non-empty output array to see if some values are not being set.

[2016-10-18 17:26] marscher commented on #891
So if I initialize the output array with -1, these asserts pass, which suggests, that in this special case (however it is caused) the compute_distance c++ implementation does not fill these last two values.
Unluckily it is non-deterministic, eg. if one runs the computation without covar it succeeds in any case.

@rmcgibbo, @mpharrigan: Do you have any clue what might be the source of this error? I

[2016-10-18 17:27] marscher commented on #891
I've used mdtraj-1.7.2 as basis for my changes. I can re-test on master tomorrow.

[2016-10-18 17:47] rmcgibbo commented on #891
Is this fixed by passing `opt=False` to md.compute_distances? If so, it
seems plausible that the bug is in mdtraj. Do you know if the unit cell is
orthogonal or triclinic?

It seems like there's a potential here to read off the end of the array,
which could be a segfault but not give incorrect results otherwise.
Otherwise, I don't see a bug otherwise.
https://github.com/mdtraj/mdtraj/blob/master/m

[2016-10-18 19:49] franknoe commented on #891
Puh, this is a hard one. Has this only been observed in conjunction with
compute_distances, or also other features?

Am 18/10/16 um 19:26 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-19 09:27] fabian-paul commented on #891
I'm getting this error in conjunction with compute_distances, I've not observed it in other cases (which doesn't mean that it doesn't exist because the error is very irreproducible). I'd like to point out that the error is obscured if one uses contacts features. The distance matrix may contain NaNs, but converting the distance matrix to a (boolean) matrix of contacts removes the NaNs. In this case

[2016-10-19 09:29] gph82 commented on #891
+1

On 10/19/2016 11:27 AM, fabian-paul wrote:

##

Dr. Guillermo Pérez-Hernández
Freie Universität Berlin
Institute for Mathematics
Arnimallee 6
D-14195 Berlin
tel       0049 30 838 75775

[2016-10-19 12:44] marscher commented on #891
I'll open a PR soon, which contains optional iterator output checking to catch problems like this.

[2016-10-19 13:22] franknoe commented on #891
Just for my understanding:
- will this problem be fixed if  https://github.com/mdtraj/mdtraj/issues/1185 is addressed?
- do we understand how NaNs are generated? My reading of https://github.com/mdtraj/mdtraj/issues/1185 is that it is about the behavior if NaNs are present.
- why are we closing this? As far as I understand it's not yet fixed. Even if the problem is not in PyEMMA, it affects PyEMMA

[2016-10-19 13:47] marscher commented on #891
On 10/19/2016 03:22 PM, Frank Noe wrote:

The proposed PR will catch this problem ASAP (if turned on, which is disabled by default, because you were once concerned it could hurt performance).

[2016-10-19 13:57] franknoe commented on #891
So I'll reopen this, because we need to at least confirm that this is fixed with the referenced mdtraj issues, and possibly release a patch that requires the newest mdtraj release once that is released.
Please keep an eye on the progress in mdtraj.

[2016-10-19 13:57] marscher commented on #891
Will do.

[2016-10-19 14:02] marscher commented on #961
https://github.com/ipython/ipywidgets/issues/541
https://github.com/ipython/ipywidgets/issues/669

[2016-10-19 14:04] franknoe commented on #961
Ah, so does this solve the problem?
https://github.com/ipython-books/cookbook-code/issues/41

Am 19/10/16 um 16:02 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-19 14:06] marscher commented on #961
No, I've tested some combinations of this command. None solved the problem.

[2016-10-19 17:05] gph82 opened #968 "[coor.save_traj] different behaviour dcd and xtc?"
An `indexes` vector produced by `cl.sample_indexes_by_cluster([0], 10)` gives the right results when used back on the original, continuous variable, the tic `Y`, meaning that slicing `Y` with `indexes`,  and assigning it to a clustercenter gives...the index of the clustercenter that produced `indexes` in the first place (0 in this case).

However, when using the same `indexes` as input for `coor.s

[2016-10-19 17:36] marscher commented on #968
Since XTC truncates the floats to only 3 significant decimal places, while DCD stores at full precision, it is actually not that surprising that one gets different results in TICA, right?

If you further cluster in this space with a dmin of 0.01, guess what happens - you will have different centers, therefore you will collect different representative frames.

[2016-10-19 17:42] jchodera commented on #968
I guess the question is "how sensitive are the results to trajectory precision?"

[2016-10-19 18:05] gph82 commented on #968
The problem would still be there just comparing dcd+lots of input
features vs dcd+less input features

On 10/19/2016 07:42 PM, John Chodera wrote:

##

Dr. Guillermo Pérez-Hernández
Freie Universität Berlin
Institute for Mathematics
Arnimallee 6
D-14195 Berlin
tel       0049 30 838 75775

[2016-10-20 09:02] gph82 commented on #968
Hmmm: @marscher : if what you're saying is "dcd is more precise", then it should be the xtcs at fault here, but they are not. Plus it is not that TICA values are different for .xtc and .dcd that worries me, it's that the TICA transformation will produce different results for the same .dcd frames. Please take a look at this plot. Everything looks fine for .xtc (aka, very importantly, save_trajs and

[2016-10-20 09:12] gph82 commented on #968
And, BTW, notice the assert statement in cell nr. [3]

[code]

[2016-10-20 09:25] fabian-paul commented on #891
@peastman Did you want to try something out here in the event that mdtraj will be used in nuclear weapons control? ;-)
http://www.underhanded-c.org/ (ctrl-f Peter)

[2016-10-20 14:26] gph82 commented on #968
After debugging session with @marscher the bug was found and a PR is almost ready.

[2016-10-20 15:30] marscher commented on #955
@pgromano What is the status on this? Did you have any luck fixing your matplotlib installation? Can you reproduce this error on another system? Alternatively you can provide the transition matrix as a npy file, so I could try to reproduce this locally.

[2016-10-20 21:25] cclementi opened #971 "featurizer.describe() and featurizer.dimension() do not have the same size when add_custom_func is used"
Hi,

I am using the add_custom_func method of the featurizer in pyemma.coordinates package and I see that when the custom function is passed and I call featurizer.describe() it considers it counts it as just one feature, independently on the dimension of the output of the custom function. So the size of list returned by featurizer.describe() is different from the dimension what returned by  featur

[2016-10-21 11:54] marscher commented on #971
In the case you want to have a proper description for your custom feature, derive a class from http://emma-project.org/latest/api/generated/pyemma.coordinates.data.CustomFeature.html?highlight=customfeature and override the describe method. We can not set this for an arbitrary feature, so we just fall back to an description of the input function the user has put in.

[2016-10-21 11:54] #971 closed, assigned to nobody

[2016-10-21 12:16] marscher commented on #971
Simpler than deriving a whole class seems this pattern:

[code]

[2016-10-21 12:22] #968 closed, assigned to nobody

[2016-10-21 12:22] #958 closed, assigned to nobody

[2016-10-21 15:35] gph82 opened #973 "[coor.save_traj] with fragmented trajectory reader"
It pains me to open this, but:

[code]

However, if instead of parsing the filenames I parse the `FragmentedTrajectoryReader`:

[code]

I can continue using the first form, but it creates a new reader every time. The fragmented trajectory reader is a black-box for me. Any ideas?

[2016-10-21 17:24] franknoe commented on #951
Matma, the msmtools code is merged. You can find the low-level functionality in `msmtools.estimation.rate_matrix` if you install from github. If you want to use the released version, wait a few days until the new msmtools release is cut.

[2016-10-25 11:09] clonker commented on #973
I am sorry that you keep running into issues with the fragment reader! The only way i could reproduce this was to request an random access index that was larger than the trajectory. Can you check that?

[2016-10-25 12:21] gph82 commented on #973
What do you mean "larger than the trajectory"? You mean larger than the frames that the trajectory is supposed to have?

[2016-10-25 12:23] gph82 commented on #973
Anyway, I have prepared these files, can you see if you can run them?

[issue.zip](https://github.com/markovmodel/PyEMMA/files/550548/issue.zip)

[2016-10-25 12:36] gph82 commented on #973
and btw, I had replied before via email but github didn't pick up my answer:

[code]

[2016-10-25 13:32] marscher commented on #951
@MamtaMohan you can now use msmtools-1.2 for rate matrix estimation

[2016-10-25 16:06] gph82 commented on #973
[test.zip](https://github.com/markovmodel/PyEMMA/files/551097/test.zip)
@clonker this keeps getting better. This is with the current devel version (even without the bugfix we did earlier in my office):

[code]

[2016-10-25 17:44] gph82 commented on #973
@clonker  and @marscher , can you please see if you can run the attached code? This is kind of a
 blocker for our project at this moment
[test.zip](https://github.com/markovmodel/PyEMMA/files/551358/test.zip)

[2016-10-25 18:23] franknoe commented on #973
This should be a unit test then.

Am 21/10/16 um 17:35 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-25 18:53] franknoe commented on #971
Of course we can make it consistent. If the user does

[code]

then the user has specified the number of dimensions of the feature, and
the corresponding number of entries must be added to the description,
not just one entry.
/

Am 21/10/16 um 13:54 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 8

[2016-10-25 18:54] MamtaMohan commented on #951
Thank you Frank.

I will wait few days.

Mamta

---

From: Frank Noe notifications@github.com
Sent: Friday, October 21, 2016 1:24:29 PM
To: markovmodel/PyEMMA
Cc: Mohan, Mamta; Author
Subject: Re: [markovmodel/PyEMMA] Continuous time MSM (#951)

Matma, the msmtools code is merged. You can find the low-level functionality in msmtools.estimation.rate_matrix if you install from github. If you want to

[2016-10-25 19:00] gph82 commented on #973
I'm working on a good example all morning, will get back to you soon
thanks for looking into this

On 10/25/2016 01:09 PM, Moritz Hoffmann wrote:

--
Dr. Guillermo Pérez-Hernández
Freie Universität Berlin
Institute for Mathematics
Arnimallee 6
D-14195 Berlin
tel       0049 30 838 75775

[2016-10-25 19:01] marscher commented on #951
the binaries the released version are also available ;)

just do a conda update msmtools

[2016-10-25 19:01] marscher commented on #971
fyi: the pr is already there

[2016-10-25 21:56] franknoe commented on #973
is this the version that was just released?

Am 21/10/16 um 17:35 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-25 21:56] franknoe commented on #971
it seems the custom feature just adds one line to the description. In
the absence of other information I suggest it should just add d equal
lines to the description, where d is the dimension of the custom function.

Am 20/10/16 um 23:25 schrieb Cecilia Clementi:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:

[2016-10-25 21:59] gph82 commented on #973
yes on the first comment, my last one is already "dirty":

# '2.2.7+0.gc7e1f39.dirty'

[2016-10-25 22:08] marscher commented on #973
This is what I get when running your test.py script:

ValueError: Some of the given input files were directories or did not exist:
File
/group/ag_cmb/simulation-data/DESRES-Science2011-FastProteinFolding/DESRES-Trajectory_1FME-0-protein/1FME-0-protein/1FME-0-protein-000.dcd
did not exist or was no file

[2016-10-25 22:09] gph82 commented on #973
Can you try to run it on a machine that's on our fileserver? These absolute paths should be readable by everybody

[2016-10-25 22:09] marscher commented on #973
To make debugging easier :+1:

[2016-10-25 22:10] gph82 commented on #973
?

[2016-10-25 22:11] marscher commented on #973
https://www.jetbrains.com/help/pycharm/2016.1/remote-debugging.html

[2016-10-25 22:22] marscher commented on #937
I only observed this on Travis and very rarely on Appveyor, but never locally (where I dont use MKL, which affects the eigen solver). Since the msmtools function is_reversible uses pi for the test, it could be that this caused by a not converged eigenvector. I'll add a PR on devel to obtain more info in the case this test fails.

[2016-10-26 00:23] MamtaMohan commented on #951
Thank you Martin.

I was waiting for conda release.

Appreciate it.

Mamta

---

From: Martin K. Scherer notifications@github.com
Sent: Tuesday, October 25, 2016 3:01:19 PM
To: markovmodel/PyEMMA
Cc: Mohan, Mamta; Mention
Subject: Re: [markovmodel/PyEMMA] Continuous time MSM (#951)

the binaries the released version are also available ;)

just do a conda update msmtools

##

You are receiving this

[2016-10-26 15:27] stefdoerr opened #978 "Dropping states before MSM estimation"
Hey, I was wondering if your `MaximumLikelihoodMSM` estimator allows you to discard a set of states.

For example I have my discrete trajectory `d`

[code]

Now I decide that I don't want to include state 3, thus not count transitions in or out of that state.
I used to have my own implementation which ignored negative state indexes so I would just do

[code]

and then the estimator would skip tran

[2016-10-26 15:33] marscher commented on #978
I don't think we have such a thing at the moment. You can implement this in msm/estimators/_dtraj_stats.py if you want. In msmtools we have the "ignore_negative" option for eg. msmtools.dtraj.count_states (but not in the api, just the impl, which should be changed then).

[2016-10-26 16:11] franknoe commented on #978
Not done, unless the state is cut out from estimation due to
connectivity issues.

There are different ways you could cut the state out, e.g.:
1. split the trajectory
2. ignore all transition counts that involve the -1 state (but you would
   include the transitions that skip over it)
3. do a "core" or "milestoning" count, i.e. only switch labels once you
   enter a real state again. In your examp

[2016-10-26 16:29] stefdoerr commented on #978
Getting off-topic but core sets are quite nice! (here 980 states vs. 190 core states)

![coreset](https://cloud.githubusercontent.com/assets/7935362/19734956/eb0f9a74-9ba9-11e6-9d7b-ddf4ec76e59c.png)

[2016-10-26 16:31] franknoe commented on #978
how defined? High PCCA memberships in a MSM based on TICA?

Am 26/10/16 um 18:29 schrieb Stefan Doerr:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-26 16:31] stefdoerr commented on #978
Yes

[2016-10-26 16:32] stefdoerr commented on #978
Admittedly this is a dataset which was already pretty nicely converged, but that early convergence on the right plot is sweet. I want to see how this works on worse systems.

[2016-10-26 16:34] franknoe commented on #978
Sure. The PCCA-variant will be very easy to include into PyEMMA. Can you
make a suggest how to extend the code with this?

Am 26/10/16 um 18:32 schrieb Stefan Doerr:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-10-27 12:43] stefdoerr commented on #978
Don't know where I should put it in so I just paste here my horribly unoptimized code

[code]

`calcCoreSet` just uses a heuristic to pick the top most contributing microstates of a macrostate. I just take all the ones which have values bigger than (maxval-minval)/x

[code]

This could hopefully be optimized a bit so that it doesn't have to iterate over every trajectory and every frame. Essentiall

[2016-10-27 14:17] jchodera commented on #978
CCing @maxentile, who has also been experimenting with core sets and pyemma.

[2016-10-27 20:58] #973 closed, assigned to nobody

[2016-11-03 11:32] marscher commented on #955
Feel free to re-open, once you can provide more info

[2016-11-03 11:32] #955 closed, assigned to nobody

[2016-11-03 12:37] gph82 opened #981 "[msmtools.flux.ReactiveFlux.coarse_grain] sorted by commitor?"
AFAIK:
   * the order of the coarse sets does not reflect the order of the input and
   * they be sorted by committor:

(https://github.com/markovmodel/PyEMMA/issues/677#issuecomment-172962243 and https://github.com/markovmodel/PyEMMA/issues/677#issuecomment-172962562).

However, I'm getting this (pyemma version 2.2.7+13.g05f5fc4)
[code]

I.e., clearly not sorted wrt. to q.

I haven't taken a look

[2016-11-03 12:46] gph82 commented on #981
I guess this https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/msm/models/reactive_flux.py#L377 is the place to sort wrt. the committor, right before instantiating the coarse ReactiveFlux object.

One would instantiate after having sorted these variables, right?
Fnet_coarse, pstat_coarse, backward_committor_coarse, forward_committor_coarse, F_coarse

[2016-11-03 13:14] stefdoerr opened #982 "TICA errors when using array slices"
Apparently if you slice the input arrays it can result in errors in TICA. Even if the slice produces the same identical array (as in the example bellow).

Here is the data to test it [dtraj.zip](https://github.com/markovmodel/PyEMMA/files/569015/dtraj.zip)

I had similar issues in the past when passing slices to C functions.

[code]

[code]

[2016-11-03 14:45] marscher commented on #982
@fnueske: didn't you fix something in variational concerning masks?

On 11/03/2016 02:14 PM, Stefan Doerr wrote:

[2016-11-03 14:56] fnueske commented on #982
Yes, I know this. I believe PR #43 in variational should solve this.

Am 03.11.16 um 15:45 schrieb Martin K. Scherer:

[2016-11-03 14:58] marscher commented on #982
On 11/03/2016 03:56 PM, Feliks Nüske wrote:

[2016-11-03 15:27] marscher commented on #982
@stefdoerr can you confirm this solution works for your case?

[code]

[2016-11-03 20:04] franknoe commented on #982
No, we didn't. So far we have the code of variational as a copy, and the
request was to find a solution that avoids package dependency because we
don't have a stable API here yet.

Am 03/11/16 um 15:58 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:

[2016-11-04 03:24] franknoe commented on #982
In case if this is not fixed - I think the problem here might be that the initial scan of finding out sparsity structure of the data array uses a C code that assumes that the data is contiguous in memory, and I am not sure if I had tested this properly. A simple solution would be to just skip these tests if we are delivered a sliced array (that's a view on an array) and just do straightforward den

[2016-11-04 09:45] fnueske commented on #982
@franknoe : The fix I made is much simpler. It is possible that the inputs X and Y to RunningCovar.add(X, Y) have different sparsity structures, which can result in mask_X = None but mask_Y is not None (or vice versa). This case was not handled and the result was an error like the one above, because some operations were carried out on None-type objects. This is what I fixed.

[2016-11-04 10:15] stefdoerr commented on #982
@franknoe It's not for performance. I am doing something similar to Barnase-Barstar. So I have some contacts that I want to project with TICA and also a single distance between the two molecules to separate bulk from bound. I don't want to use TICA on that last distance so I slice the rest when doing TICA. I think it's quite elegant that way. I just pass to TICA the dimensions I wish to project.
I

[2016-11-04 18:10] marscher commented on #917
We can't not easily include it as a subtree- or module (because of its package structure).
So is there any need to have it as a separate repository in the first place?
Including it in PyEMMA would have several advantages:
1. lower maintenance overhead (just release one package)
2. easier refactoring (API changes can be done with the IDE in one step, instead of two).
3. Not enough use-cases for a s

[2016-11-04 18:10] marscher commented on #982
The proposed solution fixed the bug (thanks to @fabian-paul and @fnueske).

The only blocker at the current state is the structure the variational package has. See #917

[2016-11-04 22:20] franknoe commented on #917
I think it is ok to include in PyEMMA as a subpackage. Feliks, what do
you think?

Am 04/11/16 um 19:10 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-11-05 15:50] fnueske commented on #917
I'm fine with making variational a sub package, it's probably the most convenient solution.
The Koopman implementation is in PR #976 .

[2016-11-05 15:52] franknoe commented on #917
Am 05/11/16 um 16:50 schrieb Feliks Nüske:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-11-09 17:52] marscher commented on #891
It is now fixed upstream in mdtraj (https://github.com/mdtraj/mdtraj/issues/1185) and they are going to release soon.

[2016-11-09 17:52] #891 closed, assigned to nobody

[2016-11-14 15:09] #845 closed, assigned to nobody

[2016-11-16 01:50] MamtaMohan commented on #951
Dear Fabian,

I was caught up with things so writing to after a delay.

I am new to lot of things so please be patient with me.

I just want basic Continuous Markov Model, functionality for it there now.

Please correct me where ever you think I am off.

To make Continuous Markov Model, Using PentaPeptide test files and tutorial and following script
I build the model up to the point to calculate I

[2016-11-16 02:46] franknoe commented on #951
Hi,

you may need to update msmtools:
     conda install msmtools

then your import statement should work as this:
     from msmtools.estimation import estimate_rate_matrix
and use as
     estimate_rate_matrix(args)

or
     import msmtools
and use as
     msmtools.estimation import estimate_rate_matrix()

Am 16/11/16 um 02:50 schrieb MamtaMohan:

##

---

Prof. Dr. Frank Noe
Head of Computational

[2016-11-16 12:43] MamtaMohan commented on #951
Dear Frank,

I will try your suggestion again as you mentioned.

I updated PyEMMA before I started via conda update and following packages were updated:

| package | build |
| --- | --- |
| progress_reporter-1.2 | py_1          14 KB  acellera |
| conda-4.2.12 | py27_0         373 KB |
| msmtools-1.2 | np111py27_0         1.2 MB  acellera |
| pyemma-2.2.7 | np111py27_0         1.3 MB  acellera |

[2016-11-16 12:45] franknoe commented on #951
then I guess you should have an msmtools that includes the feature

Am 16/11/16 um 13:43 schrieb MamtaMohan:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-11-16 13:03] fabian-paul commented on #951
Hi Mamta,

The comments above are a bit out-dated. We renamed the method in msmtools to `msmtools.estimation.rate_matrix`.
Could you give that a try?
Also msmtools doens't work with dtrajs directly (like pyemma). You first have to estimate a count matrix with `msmtools.estimation.count_matrix` and restrict that to its connected set with `msmtools.estimation.largest_connected_submatrix`. That subma

[2016-11-16 13:07] MamtaMohan commented on #951
ok.

Let me give it a try and let me get back to you.

[2016-11-17 12:40] marscher commented on #951
On 11/16/2016 03:46 AM, Frank Noe wrote:

To easily get a correct (connected count matrix) you can first estimate an msm via
pyemma and re-use the count_matrix_active property:

msmtools.estimation.rate_matrix(msm.count_matrix_active)

[2016-11-17 12:43] franknoe commented on #951
Yes, correct.

Note that estimation of the rate matrix on a fine clustering that MSMs
are built upon
is very expensive and not necessarily very meaningful. It's a better
idea to use a HMM and then do rate
matrix estimation on the resulting macroscopic count matrix.

Am 17/11/16 um 13:40 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Uni

[2016-11-17 14:28] marscher opened #988 "[testing] thread numbers"
In Travis we recently see failures on Linux, which uses Docker containers to encapsulate the testing jobs. These are caused by starting too many threads for the shared environment, which will then be re-scheduled to a very low priority (basically because this is bad behaviour).

When we enforced parallelism in the cluster assignment routine, we default to the environment variable "OMP_NUM_THREADS"

[2016-11-17 17:02] MamtaMohan commented on #951
Thank you.

Hopefully I will be able to get this today or tomorrow and I will get back to you.

[2016-11-18 17:08] marscher commented on #988
fixed by #986

[2016-11-18 17:08] #988 closed, assigned to nobody

[2016-11-18 22:02] MamtaMohan commented on #951
Sorry for the delay.

This is what I understand from the discussion:

For Continuous Markov Model:
After I build discrete Markov Model via PyEMMA
I should first build HMM as Frank suggested.
I did make HMM for 4 states for Penta-peptide but I realized
As Martim suggested for rate_matrix
I imported msmtools as:
import msmtools as msmtools
I checked Markov model which is in M.
M.count_matrix_active

[2016-11-22 16:56] gph82 opened #991 "[plots.plot_network] fails with input arrow labels as strings"
From the documentation one reads:
[code]
however the last sentence is not really true. A matrix of strings fails:
[code]

shouldn't be hard to fix, either here
https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/plots/networks.py#L233
with another elif statement or elsewhere
I'll try to prepare something

[2016-11-23 10:09] #991 closed, assigned to nobody

[2016-11-24 13:25] funnybomb opened #993 "feature selection: PCA total variance VS TICA total kinetic variance"
Greetings!
In pyemma tutorial:
http://www.emma-project.org/latest/generated/feature_selection.html
In function
[code]
evaluate all the pca or  tica object's total variance in square, But in the next plot part,
tica_ojb is using square
[code]
but pca is not using square
[code]
I am a bit confused, when to use square of the eigenvalues or just sum pca eigenvalues ? Can I use these total variance as

[2016-11-24 15:00] franknoe commented on #993
It's correct. It depends on what the eigenvalues mean. In PCA the
eigenvalues of the covariance matrix are already variances, so just a
plain sum. In the kinetic map, a different eigenvalue problem is solved
and the sum of squared eigenvalues has a similar interpretation like the
PCA variance (although the interpretation there is a kinetic variance,
i.e. it has something to do with time, not with

[2016-11-28 19:53] #993 closed, assigned to nobody

[2016-11-29 16:49] stefdoerr opened #996 "stationary probability of PCCA states"
If I ask for lots of macrostates (7 in this case) from PCCA I sometimes get less macrostates back which is ok.
[code]

However if I then look at the metastable_memberships it still has the original shape.
[code]

If I want to calculate the stationary probability of the PCCA macrostates I weigh the `stationary_distribution` by the `metastable_memberships` like this:

[code]

This however doesn't su

[2016-11-29 17:22] franknoe commented on #996
That sounds like a bug. Can you provide the transition matrix for which
this happens?

Am 29/11/16 um 17:49 schrieb Stefan Doerr:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
-------------------------

[2016-11-29 17:26] stefdoerr commented on #996
[tm.zip](https://github.com/markovmodel/PyEMMA/files/619689/tm.zip)

[2016-11-30 13:13] marscher commented on #996
you could access the stationary vector of the coarse grained transition matrix like this:
[code]

I do not know what would be affected if we reshape the memberships to its argmax, as this would also imply that we enforce a crisp clustering.

[2016-11-30 13:17] stefdoerr commented on #996
Same here though. There are only theoretically 7 macrostates but in practice there are 5. Should I renormalize the probabilities? How do we proceed when we get less macrostates than asked?

[code]

[2016-11-30 13:25] franknoe commented on #996
I think this is a bug, someone needs to review the PCCA code and treat
this case. I remember that less macrostates are provided if the matrix
doesn't allow as many macrostates as asked, but I don't exactly remember
what the conditions for this were and I don't yet know what Stefan's
case is about. The fact that later matrices are created with more states
than are available is clearly wrong, so the

[2016-11-30 13:29] stefdoerr commented on #996
FYI: We made an issue on it a year ago https://github.com/markovmodel/PyEMMA/issues/564

[2016-11-30 16:24] marscher opened #998 "Implement Laio density based clustering algorithm"
This would be nice to have for estimating core MSMs.
One can find an impl for R here: https://github.com/thomasp85/densityClust

@giopina Frank told me, that you are working on this or might be interested.

[2016-11-30 16:50] marscher commented on #998
https://github.com/cwehmeyer/pydpc This algorithm needs user interaction, but also be interesting (for smaller data sets).

[2016-11-30 16:52] marscher opened #999 "ITS can not call estimate twice with different lags parameter"
There is no setter for lags, which is needed for this sklearn pattern.

[2016-11-30 17:03] gph82 commented on #999
This would be really great, since adding longer (or shorter) lagtimes to an already estimated its object is impossible now (or involves huge amounts of monkey-patching)

[2016-11-30 17:12] marscher commented on #999
Do you mind sharing this monkey-patching code with me? :)

[2016-11-30 17:16] gph82 commented on #999
he! I wish I had it, tried it and got too fuzzy. Gave up along the way. But we can sit together sometime, since I already looked into this

[2016-12-01 15:54] giopina commented on #998
I'm working on this. Now they have an unsupervised version that works without the user selection of cluster centers that was required in the original algorithm. I have an implementation that I'm using. It's "PyEmma friendly" but independent, at the moment.
For sure I'm interested into put it into PyEmma: what if we speak about it in one month? (I'll be back in FU from January)
ps: if you need to u

[2016-12-01 15:59] franknoe commented on #998
Sure, this will be more efficient once you are here. I suggest that we
build a working core MSM example with sklearn's dbscan clustering for
now. Once this is in place, it should be easy to exchange the clustering
algorithm.

@marscher, how about building a notebook where we do TICA +
dklearn-dbscan + core MSM estimation using a toy model (double well) and
a DESRES example (e.g. BPTI or one of Sim

[2016-12-01 16:53] marscher commented on #998
Thanks for the feedback. I'm currently working on the wrapper for sklearn.
@giopina we can work out the details, when you're here. That would be easier.

[2016-12-01 17:50] giopina opened #1001 "Question on active set definition"
How is the active set defined?

I assume that groups of states that are entered but never left (or viceversa) are marked as non-active.

However I have a discrete trajectory  that enters in a state and leaves it after a short time, but this state is not included in the active set.

I noticed that the time spend in the state by the trajectory is smaller than the lagtime I'm using. I guess this must

[2016-12-01 17:59] marscher commented on #1001
By default it is defined as the largest connected set. So you can have trap states, because they are still reachable (once).

[2016-12-01 18:03] marscher commented on #1001
So it can be that the state gets disconnected, if you choose a too large lag time, because if it exceeds the time to enter/leave the state, you can not observe any counts into it.

[2016-12-01 18:06] giopina commented on #1001
I think I understood what's going on. The event is actually very close (<tau) to the beginning of the trajectory, so there's actually no entering event.

Thanks!

[2016-12-01 18:11] #1001 closed, assigned to nobody

[2016-12-05 12:55] funnybomb opened #1002 "help to determine what is the problem with my result."
Greetings,
I have been using PyEMMA to solve my MD simulations (25K saved frames for 500ns), but I met some problems.
I used PCA and TICA to reduce the dimension of the simulations and projected into first 2 components, TICA gave bad results in both systems and all kinds of lag time(15 to 1000 steps) and features(CA coordinate, Dihedral, Dihedral + chi1 torsion) , the projection of the first 2 com

[2016-12-05 13:01] funnybomb commented on #1002
zip file was attached here.
[upload.zip](https://github.com/markovmodel/PyEMMA/files/631099/upload.zip)

[2016-12-05 13:05] franknoe commented on #1002
Hi,

your problem is not TICA but your simulations. TICA shows correctly that
your simulations are not converged - it finds that your simulation just
"diffuse" in one direction without ever returning. This is not
surprising because 500 ns is extremely little for any biomolecular
system (I don't know what system you are simulating, but if it's a small
to medium protein don't expect anything useful

[2016-12-05 13:05] #1002 closed, assigned to nobody

[2016-12-06 12:20] franknoe opened #1003 "Fast kmeans++"
This paper suggests a k-means seeding method that is much faster than kmeans++ and nearly as good. The algorithm constructs a Markov chain on the data points, and in practice k-1 chains of length 100 seem enough to get approximately equal quality as kmeans++. Importantly, only one full pass over the data is needed.

https://papers.nips.cc/paper/6478-fast-and-provably-good-seedings-for-k-means.pdf

[2016-12-06 12:55] psolsson commented on #1003
Cython implementation is here:
https://github.com/obachem/kmc2

[2016-12-06 14:05] marscher commented on #1003
That is a nice improvement. We just need to substitute the metric calculations by ours and should be good to go. MIT license is permissive, right? So we just leave the copyright notes and and can include the code.

[2016-12-06 14:10] franknoe commented on #1003
Yes permissive. The change is probably trivial if we only want to work
on data in memory, but this algorithm could also handle data that can't
be fully loaded.

Am 06/12/16 um 15:05 schrieb Martin K. Scherer:

[2016-12-06 17:21] nsplattner opened #1004 "Order of coarse grained states in coarse grained flux unclear"
The order (indices) of the coarse grained states obtained by

fluxAB = msm.tpt(M, A, B)
fluxAB.coarse_grain(my_coarse_sets)

is unclear. A is always at index 0 and and B is always at index n, but the rest of the assignment is unclear. This is particularly confusing if A and B are two metastable sets obtained by PCCA and my_coarse_sets are all PCCA sets. In this case I get a coarse grained flux plo

[2016-12-06 17:27] marscher commented on #1004
The order of the intermediate sets is random because the coarse graining uses Python set operations to calculate intersections etc. Sets are unordered data
structures, this is why we will loose this information on the way.

A very simple solution would be to replace the sets by OrderedSets (implemented in Cython, BSD over there: https://github.com/simonpercivall/orderedset)

We can include the cod

[2016-12-06 17:35] gph82 commented on #1004
Is this a duplicate of #981 ?

[2016-12-06 17:42] nsplattner commented on #1004
Its based on the same problem, but my request is more basic: I would just like to have a convenient way for assigning the output sets to the input sets. How they should be sorted is a different problem which probably needs some discussion.

[2016-12-06 17:48] gph82 commented on #1004
Sorry, got it. I also thought they'd be sorted by committor anyways, and not randomly. Thanks!

[2016-12-09 18:23] fnueske opened #1008 "OOM-MSM branch"
Hi @franknoe and @jhprinz ,
I have drafted a basic framework for the OOM-based MSM estimation, in pyemma/msm/estimators/OOM_MSM.py.
It consists of four functions that realize what is actually new about the method: bootstrapping of count matrices, estimation of two-step count matrices, estimation of OOM-components and correction of transition matrix. Can you have look at the module and the implemen

[2016-12-15 00:40] TensorDuck opened #1009 "Segmentation Fault when clustering kmeans"
PyEMMA v.2.2.7
Red Hat Enterprise Linux Server release 7.2 (Maipo)

I am getting a segmentation fault whenever I run kmeans clustering on my system. I've changed input files and it works, so I think it's specific to my set of input files but I cannot figure out why that is. I have a compressed example attached as well as my conda_list.txt for your reference.

I also saw some old issues involving s

[2016-12-15 07:19] franknoe commented on #1009
which error do you get?

[2016-12-15 11:37] clonker commented on #1009
I could reproduce it locally and am currently running valgrind on top of that, which might take a while. I'll let you know when i found something.

[2016-12-15 13:09] clonker commented on #1009
@marscher and I just submitted a PR that should avoid this segfault. However, your data contains NaN values, which lead to this fault in the first place. If you want to check for NaNs a priori, we suggest you set the following config flag:
[code]
which yields in your case something like
[code]

[2016-12-15 13:09] #1009 closed, assigned to marscher, clonker

[2016-12-15 13:10] franknoe commented on #1009
thanks

Am 15/12/16 um 14:09 schrieb Moritz Hoffmann:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2016-12-15 17:46] TensorDuck commented on #1009
Thank you, don't know why I am getting NaN values. I will check if there is something wrong with my inputs.

[2016-12-23 22:59] yongwangCPH opened #1014 "Help wanted: tutorials of TRAM analyzing biased (e.g. umbrella sampling or metadynamics) simulations with PyEMMA?"
I'd like to do MSM analysis on biased simulations (using umbrella sampling or metadynamics), but didn't find any tutorials for it. Could you show me where I could find one or provide me one (like dialanine or a bit more complex biological system)? Thanks a lot! And merry christmas in advance!

[2016-12-28 14:44] franknoe opened #1015 "Add Prinz potential to datasets"
Currently we have the two-well potential in the datasets. It would be useful to have the Prinz potential (energy, transition matrix as a function of temperature/diffusion constant, stationary probability, easy trajectory generation) in the datasets too.

[2016-12-30 18:12] #1008 closed, assigned to nobody

[2017-01-02 15:24] franknoe commented on #1014
Happy new year! I suggest @cwehmeyer to help with this.

[2017-01-02 15:42] franknoe opened #1017 "Fix minor issues and release next PyEMMA version."
- [x] merge #1016 when final.
- [x] Fix TPT visualization. See last figure in this notebook, where the fluxes aren't shown:
     ``http://www.emma-project.org/devel/generated/MSM_BPTI.html ``
  Perhaps @gph82 can help here.
- [x] Update Changelog. Main new features are: Koopman reweighting (TICA), Covariance estimator (also with Koopman reweighting), OOM-reweighted MSM. Cite papers (Arxiv) in the

[2017-01-02 18:01] fabian-paul commented on #951
Hi Mamta,

apologies for the long delay. I had some time to dig into this error only now. I created a pull request with a tentative fix on https://github.com/markovmodel/msmtools/pull/98
There seems to be some internal problem of the l_bfgs_b routine as it apparently can violate the constraints that are imposed during the minimization of the likelihood.
The fix would be to install a new version of

[2017-01-02 18:08] fabian-paul commented on #1014
Hi @franknoe, a while ago we discussed whether we could provide the US-data from the Trypsin-Benzamidine system as a tutorial. The advantage is that the data is very low-dimensional (only the US-order parameter and one TICA dimension). The disadvantage is, that it's pure US-data without physical kinetics. And it's not so interesting if one doesn't have the full trajectories (e. g. to look at them

[2017-01-02 18:14] franknoe commented on #1014
Yeah, if we reduce the data to two dimensions, it's similar to a alanine dipeptide example. Don't we have a tutorial for that? Perhaps not US?

[2017-01-03 17:15] MamtaMohan commented on #951
Dear Fabian,

Thank you for your response.

I will try the fix.

If you want I can wait a bit.

Mamta

________________________________
From: fabian-paul <notifications@github.com>
Sent: Monday, January 02, 2017 1:01:10 PM
To: markovmodel/PyEMMA
Cc: Mohan, Mamta; Mention
Subject: Re: [markovmodel/PyEMMA] Continuous time MSM (#951)

Hi Mamta,

apologies for the long delay. I had some time to dig in

[2017-01-04 20:13] RobertArbon opened #1018 "issue with add_angle(cossin=True)"
I'm trying to add angles with the _cossin=True_ feature for later use with TICA.  With _cossin = False_ I get no problems, with _cossin = True_ I get the following error:

       trajs[itraj][it.pos:it.pos + L, :] = chunk[:, dimensions]
       IndexError: too many indices for array

The problem is that the _FeatureReaderIterator_ object returns a flat (1-D) _chunk_ object when _cossin = True_ rath

[2017-01-04 20:18] franknoe commented on #1018
Thank you! @marscher or @clonker, can you take care of this?

Am 04/01/17 um 21:13 schrieb RobertArbon:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-01-04 20:53] RobertArbon commented on #1018
After some further investigation within the _transform_ method of _AngleFeature_ the line:

    rad = rad.reshape(functools.reduce(lambda x, y: x * y, rad.shape),)

Collapses the _rad_ array from _(chunksize, dimension, 2)_ to _(chuncksise * dimension * 2, )_ rather than _(chunksize*2, dimension)_ (presumably that's what we want).

[2017-01-04 20:57] franknoe commented on #1018
I guess we want /(chunksize, 2*dimension) /- cos/sin double the
dimension, not the number of timesteps.

Am 04/01/17 um 21:53 schrieb RobertArbon:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
--------

[2017-01-04 22:10] RobertArbon commented on #1018
Thanks for your prompt replies and yes, I was mistaken.  The _transform_ method of the _DihedralsFeature_ gives the reshape as:

    rad = rad.reshape(rad.shape[0], rad.shape[1]*rad.shape[2])

Which makes sense.  Changing the _AnglesFeature_ method to this formula seems to sort the problem or at least make the _angles_ and _dihedrals_ features the same in terms of output.

[2017-01-05 12:30] franknoe commented on #1018
Thanks. Is this reshaping consistent with the feature description, i.e. do the feature names match?

I am currently missing the context and am not sure what the line below does
``rad = rad.reshape(functools.reduce(lambda x, y: x * y, rad.shape),)``
Who can clarify or fix this?

Since this is likely a trivial fix I suggest to include it in the 2.3 release - see #1017

[2017-01-05 13:40] RobertArbon commented on #1018
The feature description is the same with the two different re-shapings and is consistent with the _cossin=False_ option.  I ran this quick and dirty test:

[code]

I got this output:

[code]

[2017-01-05 14:55] #1018 closed, assigned to nobody

[2017-01-06 14:18] marscher commented on #1017
ping @fnueske, @fabian-paul for changelog entries

[2017-01-06 15:59] marscher commented on #1017
@franknoe the notebooks are ready for inspection: http://www.emma-project.org/vdevel/ipython.html

[2017-01-06 16:06] marscher commented on #1017
I'm trying to get rid of this ipywidgets warning again...

[2017-01-06 16:11] franknoe commented on #1017
Thanks! That looks coorect to me.

2 cosmetic issues that could be corrected:

- There's a ton of "Widget Javascript not detected. " whenever there
would be a progress bar.
     If that cannot be fixed, perhaps we could just switch progress bars
off in the Ipython notebooks in the beginning, and add a comment to
     change this setting if the user wants progress bars.

- In the BPTI notebook, the

[2017-01-06 17:05] marscher commented on #1017
done. I'll pull the release trigger.

[2017-01-06 17:19] franknoe commented on #1017
yay!

Am 06/01/17 um 18:05 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-01-07 14:34] franknoe commented on #1017
@marscher did you retrigger the Jupyter notebook build? The "Widget Javascript not detected. " is still there in the devel versions.

[2017-01-07 14:37] marscher commented on #1017
The build is triggered automatically. If the message still pops up, then disabling the bars at all does not cure this...

[2017-01-07 14:39] franknoe commented on #1017
Where is the bar disabled? I don't see such a command, e.g.:

http://www.emma-project.org/devel/generated/pentapeptide_msm.html

Am 07/01/17 um 15:37 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6,

[2017-01-07 14:39] marscher commented on #1017
disabled via the pyemma config interface prior execution and conversion
of the notebooks.

[2017-01-07 14:45] franknoe commented on #1017
What I meant was to add a deactivation command in the notebook.
Deactivating them centrally just for the notebook execution would be
even nicer, but that apparently didn't work. If the progress bars would
indeed be switched off, there wouldn't be a Widget problem I suppose.

Am 07/01/17 um 15:39 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head

[2017-01-07 14:48] marscher commented on #1017
there shouldn't yes, I have a look. We can retrigger the doc build
manually when it is fixed.

The function for the rendering of the progress bars immediately returns,
if the config flag is set to false.

[2017-01-07 14:49] franknoe commented on #1017
ok thanks

Am 07/01/17 um 15:48 schrieb Martin K. Scherer:

[2017-01-08 13:12] franknoe opened #1024 "Make msm.estimators.OOMReweightedMSM visible to users"
The class ``msm.estimators.OOMReweightedMSM`` doesn't appear in the docs. I suggest to make it visible at the user classes like ``MaximumLikelihoodMSM``. Probably just add an import statement in an ``__init__.py``.

[2017-01-08 13:24] marscher commented on #1024
the same thing applies for the new covariance estimator, right?

[2017-01-08 13:26] franknoe commented on #1024
correct: `` coordinates.estimation.LaggedCovariance``

Am 08/01/17 um 14:24 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-01-08 13:39] marscher commented on #1024
And the docstring of estimate_markov_model does not state it returns a OOM MSM, if the according weights argument is given.

[2017-01-08 13:41] franknoe commented on #1024
True, but I don't know how to solve that, because printing both full
docs is confusing. It's not really important because they just differ by
the estimation routines, and at that point estimation is already done.

Am 08/01/17 um 14:39 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet B

[2017-01-08 13:47] #1017 closed, assigned to nobody

[2017-01-09 10:05] yongwangCPH commented on #1014
Happy new years. Thanks for your reply. Just let me know when the tutorial is ready.

[2017-01-09 14:46] stefdoerr commented on #996
Any news on this?

[2017-01-09 14:47] franknoe commented on #996
No sorry, ERC and Revision stress.

Am 09/01/17 um 15:46 schrieb Stefan Doerr:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-01-09 18:22] thempel opened #1025 "BayesianMSM / counting modes"
In the BayesianMSM estimator, the default counting mode is set to 'effective' which is different to the maximum likelihood estimator default. I understand that counting in sliding window mode underestimates the error, but does it make sense to implicitly use different counting modes? The results can be quite different, so it might be good to have this documented.
Further, is there a reason not to

[2017-01-09 18:27] franknoe commented on #1025
Am 09/01/17 um 19:22 schrieb thempel:

It is documented what 'effective' is and that 'effective' is used as a
default in the bayesian estimate:

http://www.emma-project.org/latest/api/generated/pyemma.msm.bayesian_markov_model.html#pyemma.msm.bayesian_markov_model

Because I would consider this as a preliminary solution. Estimating
effective counts is a hard problem and we haven't cracked it compl

[2017-01-10 10:50] thempel commented on #1025
Thanks, Frank.
The point I wanted to make about the documentation (but failed...) is that from the user's perspective, implied timescales are estimated with timescales_msm() but upon turning on the error bars, the MLE-ITS change for no obvious reason. Would it make sense to mention the shift to the BayesianMSM class in the timescales_msm() documentation, maybe in the general warning message about

[2017-01-10 11:02] franknoe commented on #1025
I understand. I wouldn't go for a warning, because it's not "wrong" that
two different estimators produce different results for finite data, but
I agree that the timescales docs should say that. I suggest to change
the docstring in pyemma.msm.timescales_msm for the parameter "errors" into:

Specifies whether to compute statistical uncertainties (by default not),
and which algorithm to use if yes.

[2017-01-10 14:29] #1025 closed, assigned to nobody

[2017-01-24 17:25] marscher commented on #978
@stefdoerr you can now try the milestoning branch on my fork to remove undesired states. Just set them to -1 and they will be rewritten to the previous visited state.

[2017-01-24 17:25] marscher commented on #978
please report in #1000, if you're willing to test.

[2017-01-24 17:25] #978 closed, assigned to nobody

[2017-01-24 17:26] #1024 closed, assigned to nobody

[2017-01-25 16:24] marscher commented on #999
Actually one should have a partial_fit interface here and re-estimate only the lags which have not been computed yet. If we just implement the setter the models for all lag times will be recomputed.

[2017-01-25 20:20] juanmit opened #1028 "TRAM: no counts but has population predicted"
Hi,

I had met a question while I was using TRAM algorithm, hopefully someone can help me out.

I have 4 trajs at same T but different bias restraint, and I built a 17 states MSM.
After applying TRAM to the model, it(tram_stationary_distribution) predicted state 5 has a population at reference 1(condition restraint 1). However, I checked the transition count matrices, it has no counts for transiti

[2017-01-25 22:19] franknoe commented on #1028
I'm not sure I understand, maybe discuss this question with @cwehmeyer .
In case if this answers your question: TRAM can predict populations at
states not sampled in that ensemble, but in other ensembles. That is
done by means of reweighting.

Am 25/01/17 um 21:20 schrieb juanmit:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group

[2017-01-25 23:12] juanmit commented on #1028
@franknoe Thanks for replying. We were actually looking for the TRAM estimated transition count matrix(all states), which tram_obj only shows the transition count matrix of the active set of states.
--Hongbin

[2017-01-27 14:26] stefdoerr opened #1029 "'MaximumLikelihoodMSM' object has no attribute '_pi'"
What does this error mean?

[code]

[2017-01-27 14:30] franknoe commented on #1029
Where does model come from? Can you show the lines where you do the
estimation?
Is it possible the MSM hasn't been estimated yet?

Am 27/01/17 um 15:26 schrieb Stefan Doerr:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 141

[2017-01-27 14:54] stefdoerr commented on #1029
Oh I see! I must have saved the model with an old pyEMMA version, then updated pyEMMA and loaded the model. Seems like you renamed some internal variables and now `pi` is a property which overwrote the `pi` variable which I guess used to store my stationary distribution.

https://github.com/markovmodel/PyEMMA/commit/f569d9d8cdb8d06ab9a22bf2cba0591f58aaa683#diff-42e0cd6eb871e56d83671ce4ffaad914L216

[2017-01-27 15:35] #1029 closed, assigned to nobody

[2017-01-31 16:35] marscher opened #1031 "mdtraj-1.8 provides only binaries for python-3.5 on windows"
This forces windows users to use mdtraj-1.7.2 which suffers from the NaN bug in distance calculations.

available binaries for win-64:
[code]

From the recipe there is a note, that this could actually be fixed:
[code]

[2017-01-31 17:05] marscher commented on #1015
@gph82 I saw that you have this potential in the notebook screenshot you've posted in #1030. Can you share this with us?

[2017-01-31 17:06] gph82 commented on #1015
will do. Lemme check how current potentials are implemented

[2017-01-31 17:17] gph82 commented on #1015
ok I saw how it's done. I can write a class like double_well_discrete.py that has the methods and attributes that @franknoe mention above. Should be ready in time for the pyemma workshop

[2017-01-31 17:19] franknoe commented on #1015
It's not urgent, Ops is more important.

Am 31/01/17 um 18:17 schrieb Guillermo Pérez-Hernández:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-01-31 17:20] marscher commented on #1015
cool! Thank you!

[2017-02-01 20:13] j3mdamas opened #1032 "plot_flux not showing the plot"
I initially thought it was a problem with HTMD, but I just tried with https://github.com/markovmodel/PyEMMA_IPython/blob/master/applications/bpti_msm/TPT_BPTI.ipynb, and the cell [13] just shows the energy surface, and not the flux plot.

I thought I may be having a problem with matplotlib, but I did a simple scatter plot and it worked.

I am using PyEMMA version 2.2.7.

Is this just me?

[2017-02-01 20:19] franknoe commented on #1032
this should be fixed in PyEMMA 2.3. Try updating.

Am 01/02/17 um 21:13 schrieb João M. Damas:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-02-01 20:23] j3mdamas commented on #1032
Yeah, I saw the new release, but the conda omnia channel still has version 2.7. The pyemma-dev is even more outdated. Are you guys uploading on that channel?

[2017-02-01 20:26] franknoe commented on #1032
Uhm, I thought that had been merged. @marscher, @jchodera can you
comment? I got lost in the previous discussion about build systems that
broke out after the 2.3 release.

Am 01/02/17 um 21:23 schrieb João M. Damas:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   res

[2017-02-01 20:27] j3mdamas commented on #1032
Thanks! In the meantime I am going to clone the repo and test if it fixes it.

[2017-02-01 20:28] franknoe commented on #1032
thanks for pointing it out.

Am 01/02/17 um 21:27 schrieb João M. Damas:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-02-01 20:41] franknoe commented on #1032
I can confirm this. conda update pyemma does not upgrade to 2.3!

Am 01/02/17 um 21:27 schrieb João M. Damas:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
---------------------------------------------

[2017-02-01 20:45] cwehmeyer commented on #1032
pyemma-2.3 is available via conda-forge:

[code]

[2017-02-01 20:49] franknoe commented on #1032
Ah, but didn't we agree to keep omnia up to date until we eventually
retire it? I'm not aware that we have told anybody to move to
conda-forge. Even the 2.3 docs say to install via omnia:

     http://www.emma-project.org/latest/INSTALL.html

So at this stage I think we should definitely have 2.3 on omnia too. I'm
also pretty sure this was merged, but I'm not sure what happened in the
discussion a

[2017-02-01 20:57] j3mdamas commented on #1032
I cloned the repo and installed, and the tutorial is working. Thanks!

On the HTMD example I am trying, I get this `FutureWarning` and no plot:
[code]

Any clue? Maybe I need to update our call to your `plot_flux`.

@franknoe do you want me to open a separate issue for the conda omnia thing?

[2017-02-01 20:58] cwehmeyer commented on #1032
I am not familiar with this discussion. But I agree that we should keep it up to date on both channels if possible.

[2017-02-01 21:00] franknoe commented on #1032
no clue, please check if your call is still up to date.

Yes, please open a new issue. Thanks!

Am 01/02/17 um 21:57 schrieb João M. Damas:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
---------------

[2017-02-01 21:01] j3mdamas commented on #1032
Yeah, we probably need to update our `state_labels` argument (@stefdoerr). Thanks.

[2017-02-01 21:01] #1032 closed, assigned to nobody

[2017-02-01 21:03] j3mdamas opened #1033 "pyemma on conda omnia channel not up to date"
A fork from issue #1032

It's currently on version 2.2.7. pyemma-dev is also much more outdated.

[2017-02-01 21:07] franknoe commented on #1033
I think we didn't upgrade pyemma-dev ever, did we? If we don't pursue
this line consistently, we should get rid of it to avoid confusion.

Am 01/02/17 um 22:03 schrieb João M. Damas:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimall

[2017-02-01 21:12] j3mdamas commented on #1033
I remember in the past @marscher mentioning it as a good way to test the latest version of pyemma, and I understood it got automatically/periodically updated. Actually, I haven't been using it and I just noticed it because of the issue with the main package

[2017-02-02 01:44] marscher commented on #1033
Sorry guys, something went wrong copying over the files from conda-forge. Now the files are in place.

(for documentation: anaconda copy --to-owner omnia conda-forge/pyemma/2.3)

[2017-02-02 01:45] marscher commented on #982
fixed in 2.3

[2017-02-02 01:45] #982 closed, assigned to nobody

[2017-02-02 10:08] franknoe commented on #1033
Thanks, but hold on:
- this issue is also about pyemma-dev being outdated. What do we do with that?
- what do you mean by the line for documentation: anaconda copy --to-owner omnia conda-forge/pyemma/2.3

[2017-02-02 11:57] marscher commented on #1033
On 02.02.2017 11:08, Frank Noe wrote:

delete it. If anybody ever used it-he/she would have dropped it after
very short period. The problem was mainly to inquire a sane versioning
(deriving it from git would have been the most preferable solution,
however near to impossible to implement with the conda-dev-recipes
solution). It took me lots of time to try to get this working properly.

Installing a

[2017-02-02 12:06] franknoe commented on #1033
Am 02/02/17 um 12:57 schrieb Martin K. Scherer:

I'm fine with this. Delete it.

OK. Should this go to the developer docs?

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
--------------------------------

[2017-02-02 13:28] marscher commented on #1033
I've made the dev-package private, so it can't be used anymore. I don't think this single command should go to dev docs, because we only need it for the transition to conda-forge, which shouldn't take so long. I just posted it here, to have it somewhere (searchable).

[2017-02-02 13:28] franknoe commented on #1033
ok

Am 02/02/17 um 14:28 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-02-02 13:29] #1033 closed, assigned to nobody

[2017-02-02 13:33] j3mdamas commented on #1033
Hi,

So the pyemma conda package will disappear from omnia and only be available in the conda-forge channel?

@mj-harvey, be need to change our sync of pyemma from omnia to conda-forge if that's the case.

cc: @giadefa @stefdoerr

[2017-02-02 13:36] marscher commented on #1033
On 02/02/2017 02:33 PM, João M. Damas wrote:

In the long-term, yes. But you don't need to change everything by now, because there is a transition phase.
Follow the updates of the omnia Github organization.

[2017-02-02 13:38] giadefa commented on #1033
what's conda-forge? an open channel?

On Thu, Feb 2, 2017 at 2:36 PM, Martin K. Scherer <notifications@github.com>
wrote:

[2017-02-02 13:39] #999 closed, assigned to nobody

[2017-02-02 13:44] marscher commented on #1033
On 02/02/2017 02:38 PM, Gianni De Fabritiis wrote:

It is a tool to build tools :) Basically its goal is to provide all packages of Anaconda and beyond, but in an open manner (e.g the recipes are public and free)

[2017-02-02 16:43] stefdoerr opened #1034 "TICA broken in 2.3?"
Started happening after updating

[ticacrash.zip](https://github.com/markovmodel/PyEMMA/files/748365/ticacrash.zip)

[code]

[code]

[2017-02-02 16:47] marscher commented on #1034
On 02/02/2017 05:43 PM, Stefan Doerr wrote:

What is data? It works if I just pass an array or a list of array (float).

[2017-02-02 16:49] franknoe commented on #1034
Hmm, why wouldn't the unit tests find this problem? This looks like a
code structure problem that is not specific to the data, so should be
the same if you use ``data = np.random.rand((1000, 10))`` - is that so?

Let's make sure the tests cover this case.

Am 02/02/17 um 17:43 schrieb Stefan Doerr:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecu

[2017-02-02 17:01] marscher commented on #1034
Of course this stuff is tested......
https://codecov.io/gh/markovmodel/PyEMMA/src/56a100ba26248d078d96406e22642818252a6248/pyemma/_base/estimator.py

Thats why I asked Stefan to let us know hat is the type of data. If it is an object array of ndarrays, this is not handled. (It is also documented, which types we accept and this is not.)

Maybe we can add support.

[2017-02-02 17:03] j3mdamas commented on #1034
[code]

[2017-02-02 17:05] marscher commented on #1034
RTFM?
Parameters:

    data (ndarray (T, d) or list of ndarray (T_i, d) or a reader created by) – source function array with the data, if available. When given, the TICA transformation is immediately computed and can be used to transform data.

[2017-02-02 17:05] marscher commented on #1034
F==fine ;)

[2017-02-02 17:05] marscher commented on #1034
I agree, that we should raise here.

[2017-02-02 17:12] marscher commented on #1034
And you didnt' even use version 2.3, because this raises a correct exception:

[code]

[2017-02-02 17:26] franknoe commented on #1034
As a general remark, please stay polite and don't use offensive language
here.

In any case, Stefan appended the input files in his issue (see
ticacrash.zip link).

Am 02/02/17 um 18:01 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   resear

[2017-02-02 17:29] stefdoerr commented on #1034
I do indeed have 2.3. Also it was a list before I dumped it into a numpy file. np.save does this

![image](https://cloud.githubusercontent.com/assets/7935362/22560581/72e6191e-e975-11e6-8c88-16f57e1be66d.png)

[2017-02-02 17:32] stefdoerr commented on #1034
[code]

YMMV as they say 😛

[2017-02-02 17:35] j3mdamas commented on #1034
Thanks for the feedback, @marscher!

There's something weird going on, because I just did a fresh conda installation, ran the example, and I've got @marscher's result. Yet, Stefan is reproducing a different result, that we are also getting on our Travis build...

[code]

[2017-02-02 17:36] stefdoerr commented on #1034
Joao was wrong about the shape. Manuals were read. It's just what happens when you save a list of nparrays with np.save. Forgot to convert it back for the example I gave but the error is still valid.

I mean look at the example I posted above. It's 2.3 and the types were all correct.
Might just be another conda update issue then...

I mean we reproduced it on two different conda installations befo

[2017-02-02 17:40] franknoe commented on #1034
I can confirm - this worked for me with 2.2.7 and after a "conda install
pyemma" it upgrades to 2.3 (from omnia), and *does* indeed produce
Stefan's crash:

     import numpy as np
     from pyemma.coordinates.transform.tica import TICA as TICApyemma

     tica = TICApyemma(100)
     data = np.load('ticacrash.npy')
     data = list(data)

     tica.fit(data)
     output = tica.get_output()
     pr

[2017-02-02 17:40] j3mdamas commented on #1034
yeah, I saw it. but this is weird. I just checked and I have the same conda version of pyemma as the one being built on Travis...

[2017-02-02 17:46] franknoe commented on #1034
in any case the following code here works with 2.3, so I assume that the
Stefan's usecase with first object instantiation and then calling fit()
is either not tested or there is really some weirdness with version
differences here.

from pyemma.coordinates import tica
tic_obj = tica(data, 100)
output = tic_obj.get_output()
print list(output)

Am 02/02/17 um 18:40 schrieb João M. Damas:

--

-------

[2017-02-02 18:03] jchodera commented on #1033
We don't want to allow packages to be build on conda-forge and copied to omnia at this time. Once we migrate to CentOS 6 to harmonize with conda-forge's linux-anvil build system (in progress, see https://github.com/omnia-md/conda-recipes/pull/667) this will be fine, but until then, we cannot allow it since it will break any builds that use pyemma under the hood. See https://github.com/omnia-md/con

[2017-02-02 18:06] franknoe commented on #1033
Maybe this is related to #1034

Am 02/02/17 um 19:03 schrieb John Chodera:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-02-02 18:11] j3mdamas commented on #1034
[code]

I get this with a fresh installation of Miniconda3 and using ipython:

[code]

why is this importing 2.2.7? See the commands below:

[code]

The ipython and conda are the ones I just installed, with the correct 2.3 package.

[2017-02-02 18:15] franknoe commented on #1034
The problem occurs with the installation from the source too, so this issue is real and seems to be independent of build or import issues or problems that might be due to copying the conda-forge build over to omnia. That might be a separate issue with that, if there is, let's handle this outside this issue.

[2017-02-02 18:16] j3mdamas commented on #1034
OK @franknoe. Maybe you are right and it has to do with issue #1033

[2017-02-02 19:01] franknoe commented on #1034
I think this is a problem with the ``StreamingTransformer`` class. For 2.3 we have rearranged the superclasses of estimators and transformers somewhat. I haven't gone into much detail, but my hunch is that the new StreamingTransformer doesn't set it's data producer when you call the ``fit()`` method. In contrast, the data producer is correctly set when you go through the api function (pyemma.coord

[2017-02-03 14:31] marscher commented on #1034
yes. Your hunch is correct. I've opened up a PR.

In the feature_selection notebook, which is part of the applications tests, this error should have pop up. I have to investigate, why it didn't.

Sorry for being harsh!

[2017-02-03 14:34] franknoe commented on #1034
Hm, I don't think we use the construct object / fit - approach in the
notebooks, but maybe I don't remember it well.

Am 03/02/17 um 15:31 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berli

[2017-02-03 14:40] marscher commented on #1034
On 03.02.2017 15:34, Frank Noe wrote:

It circumvents this bug, by using the API.

[2017-02-03 15:46] #1034 closed, assigned to nobody

[2017-02-03 15:47] j3mdamas commented on #1034
@marscher in which version will the fix be available?

[2017-02-03 15:49] franknoe commented on #1034
Joao, pls try with the devel install this works for you. We can do a
patch release.

Am 03/02/17 um 16:47 schrieb João M. Damas:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
--------------------------

[2017-02-03 15:50] marscher commented on #1034
On 03.02.2017 16:47, João M. Damas wrote:

Expect 2.3.1 soon. In the meantime, just use the tica API function or
alternatively:

t=TICA(tau)
t.data_source = pyemma.coordinates.source(x)
t.parametrize()
t.get_output()

[2017-02-03 15:57] j3mdamas commented on #1034
Works for me:

[code]

Any idea of how long will the patch version take?

[2017-02-03 16:01] marscher commented on #1034
Thanks for testing.

Depends on how broken omnia is at the moment and how busy the cloud is.
Maybe middle of next week,

[2017-02-03 16:03] j3mdamas commented on #1034
OK! Thanks for the fix. We'll wait for the release then.

[2017-02-03 16:03] stefdoerr commented on #1034
I think we'll just wait for the next version. No point in modifying HTMD to accomodate a bug

[2017-02-06 22:15] marscher commented on #1031
this is only a problem on conda-forge, which is not yet the default recommended installation channel. The issue is about to be fixed soon.

[2017-02-06 22:15] #1031 closed, assigned to nobody

[2017-02-07 22:10] TensorDuck opened #1037 "TICA Fail PyEMMAv2.3.1"
I am getting a weird failure on using TICAv.2.3.1 after upgrading, tica was working on this data set previously.

Error is long, due to it being a recursion error, but the last bit of the traceback is this:

[code]
I have an example attached in a tar-ball with a python script `run_msm.py` that reproduces the error for me, all necessary data files included. I also have my conda_list.txt

[test-tica

[2017-02-07 22:34] franknoe commented on #1037
This appears to be the symmetrization problem again that was related to
an mdtraj issue. No idea why it would pop up again in 2.3.1. @marscher,
can you have a look?
@tensorduck, is this behavior specific to this example, or do you see
that problem also in other examples?

Am 07/02/17 um 23:10 schrieb Justin Chen:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Compu

[2017-02-07 22:40] TensorDuck commented on #1037
I see this in a few similar trajectories, all of them coarse-grained models though. I will test with some all-atom data as well and see if there is a difference.

[2017-02-08 02:38] marscher commented on #1037
@TensorDuck: thanks for taking the time to report this with a reproducing example.

@franknoe:
**maximum-recursion-depth reached**...This has nothing to do with mdtraj. Please tell me to which specific issue you are referring to?

Its an endless recursion, because of the decorator voodoo of lazy estimation. I introduced this code for partial_fit support to avoid early diagonalization and only perf

[2017-02-08 03:04] TensorDuck commented on #1037
Ah, I see. So I wasn't going crazy. I think I will probably roll back a few versions for now then.

[2017-02-08 03:12] marscher commented on #1037
On 08.02.2017 04:04, Justin Chen wrote:

I just wanted to point out how serious is the issue is. If people use
this flag in analysis on a cluster, they will just hit the wall time.

This has been introduced in the stress of paper deadlines/phd thesis
wrap up. Please accept our apologies.

I recommend 2.2.7 at the moment.

PS: sorry if you felt offended by that comment [I have toothache and its
4 o

[2017-02-08 03:20] TensorDuck commented on #1037
I will roll back to 2.2.7 then. Thank you to everyone for y'all's help.

[2017-02-08 09:27] franknoe commented on #1037
Not sure I understand, I'm also not sure if a decorator is a good way to
do this. Decorator code is hard to read for most developers and
programming logic should be contained in easily accessible code, ideally
in the class in which it acts.

In any case I agree about the general stuff, i.e. release-candidates or
devel versions (whichever is easier to do) that are only available on
demand and have

[2017-02-08 13:29] fabian-paul commented on #1037
I don't think you need my help. @marscher correctly identified the problem. commute_map simply wasn't tested.

Concerning @marscher comment on the RuntimeWarning, there seems to be a general problem with @franknoe 's regularization formula.
Consider this example:
[code]
[code]
This produces negative numbers, which I think wasn't intended. Let me ponder on this...

[2017-02-08 13:34] franknoe commented on #1037
Is it only a commute map problem, or is it a general problem with
partial fit.

Am 08/02/17 um 14:29 schrieb fabian-paul:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
---------------------------------

[2017-02-08 14:12] marscher commented on #1037
On 08.02.2017 14:34, Frank Noe wrote:

Fabians example is pure numpy ;-) How do you relate it to partial_fit?

[2017-02-08 14:18] franknoe commented on #1037
Your explanation was that there is a problem that depends upon whether
the estimator has been estimated or not. This doesn't sound like it it
specific to the commute map.

Am 08/02/17 um 15:12 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:

[2017-02-08 14:18] fabian-paul commented on #1037
@franknoe : it's only a commute map problem. I've added a combined test  #1039 that tests commute_map with partial fit.
@marscher : the numpy code is a copy from https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/coordinates/transform/tica.py#L300
The point I tried to make it that the code is ok, but the math is wrong.

[2017-02-08 14:36] fabian-paul commented on #1037
I think @marscher 's explanation is partially (sic!) wrong "The only condition in which it can work is, If tica_obj._estimated is true before diag() is invoked the decorator does not call it again. So this condition is met most of the time."
I don't agree. This condition is not met most of the time. When _diagonalize() is entered self._estimated usually is False. (I checked this by adding `assert

[2017-02-08 16:10] fabian-paul commented on #1037
For the regularization, a quick'n'dirty way of solving the problem of negative implied time scales would be to truncate the regularized timescales at zero:
`0.5 * timescales * np.maximum(np.tanh(np.pi * ((timescales - lag) / lag) + 1),0))`

Talking about hyperbolic functions... why not regularize with the hyperbola directly, without any mental gymnastics?
`lag*np.sqrt((np.maximum((timescales/lag)*

[2017-02-08 20:02] tabramy opened #1040 "Lag time clarification"
Dear All,

There are two 'lag' that the tutorial mentions, one in here as part of TICA:
http://emma-project.org/latest/generated/MSM_BPTI.html#time-lagged-independent-component-analysis-tica
and another one is in here http://emma-project.org/latest/generated/MSM_BPTI.html#msm

The PyEMMA literature explains how to choose the optimal lag time from the implied time scales (ITS), but I was wondering

[2017-02-09 14:36] #1037 closed, assigned to nobody

[2017-02-13 21:11] euhruska opened #1042 "clean up exception"
Hello, I found an error message when PyEMMA checks available versions and the cluster has restricted url access. The whole error is:

[code]

It seems that `pyemma._impl()` in line 99 of [pyemma/__init__.py](https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/__init__.py#L92-L112) does no handle the exception cleanly. Fortunately, this error is not fatal and the code continued after calling th

[2017-02-13 21:12] marscher commented on #1042
Ah thank you for this report, it seems urllib3 raises a different exception.

[2017-02-13 21:15] marscher commented on #1042
the exception handling is perfectly fine, but the exception is logged in
any case. I will lower the log level for this to debug in order not to
confuse somebody.

[2017-02-13 21:20] franknoe commented on #1042
Since this is not a functional feature but a service feature I think
there should be no exception raised here, i.e. it should be caught and
maybe a "can't reach server" message logged, but no exception there
either. An exception should indicate that something went wrong, and
there's nothing wrong with using PyEMMA offline.

Am 13/02/17 um 22:15 schrieb Martin K. Scherer:

--

---------------------

[2017-02-13 21:22] marscher commented on #1042
On 13.02.2017 22:20, Frank Noe wrote:

The exception is handled, but it is logged in a verbose level, so it
will be shown to the user. Like Eugen reported it, it is not fatal.

[2017-02-13 23:56] #1042 closed, assigned to nobody

[2017-02-15 11:47] stefdoerr opened #1044 "MSM estimator for joining adaptive trajectories"
No bug report. Just a discussion.

What is your opinion on making an estimator that understands that adaptive trajectories are spawned from previous ones and treat them as long trajectories during estimation by stitching them together?
This would allow us to use very large lag times for MSMs and also obtain more statistics from the simulations.

i.e., traj2, traj3 both branch off from traj1 at the

[2017-02-15 11:52] marscher commented on #1044
This can be achieved by grouping the trajectories which belong together
in a tuple. These grouped trajs will be treated as single
realization/trajectory in subsequent estimation. Is this what you desire?

[2017-02-15 12:26] stefdoerr commented on #1044
Hm not exactly because as you can see in the example once you branch off to a new adaptive trajectory you need to disregard the rest of the trajectory for the purposes of the joined longer one. You can still use the whole trajectory independently.

We would need some kind of index pointing to the "parent" trajectory/frame combination for each trajectory, since each trajectory can have multiple chi

[2017-02-15 13:00] fabian-paul commented on #1044
This an interesting suggestion. It reminds me a bit of the *weighted ensemble* technique. Maybe we should have a look into the weighted ensemble literature.

Knowing explicitly which trajectories branch from which other trajectories might also help in checking the connectivity/ergodicity of the sampling. Because if we known that a trajectory branches off another one, we know with certainty that it

[2017-02-15 13:08] nsplattner commented on #1044
Are you taking velocities+positions from each frame for the restart or only positions? In the case of taking only the positions, the trajectories are not really continuous and should not be treated as one trajectory. Having the information from which frame a trajectory starts is potentially interesting, but I think we first have to define the potential usecases and what sampling methods would be u

[2017-02-15 13:20] stefdoerr commented on #1044
Yes Nuria you are right. We don't restart with the velocities because we don't store them on GPUGRID but I could add an easy fix to the adaptive to use velocities if present which is the case for local/cluster simulations.

In our implementation of adaptive we keep track of simulation "lineage" by the trajectory (folder) names. It's an arbitrary naming scheme obviously: `e5s7_e3s1f15p1` means that

[2017-02-15 13:26] franknoe commented on #1044
I think this is a very useful idea, but seems to be a level above PyEMMA. As Nuria pointed out, you need to know something about how trajectories were restarted and which protocol was used in order to join in a meaningful way. An adaptive sampling framework would be the right place to do this - so I would presently do this in HTMD rather than PyEMMA, but perhaps we can come up with a joint framewo

[2017-02-15 13:31] stefdoerr commented on #1044
Yeah you have a point in that. I guess if I find some time I could subclass your estimators and modify them to work with explicit knowledge of our adaptive scheme.
Thanks for the input!

[2017-02-15 13:31] #1044 closed, assigned to nobody

[2017-02-15 16:59] marscher opened #1045 "Release 3.2.2"
Checklist

- [x] thermo doc fixes and minor changes @cwehmeyer
- [x] test
- [x] release pkgs
- [x] decide, if we want to advertise/recommend the usage of conda-forge for now.

[2017-02-18 22:39] j3mdamas opened #1050 "Small bug in pyemma/msm/estimators/implied_timescales.py"
Hi guys,

I was running using timescale estimator through HTMD, on some trajectories that fail at some lagtimes, and I've got this error:

[code]

I was tracing back the error, and I think it comes from here: https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/msm/estimators/implied_timescales.py#L209-L211

I believe it should rather be:
[code]

[2017-02-19 09:29] #1050 closed, assigned to nobody

[2017-02-19 11:11] #1045 closed, assigned to nobody

[2017-02-19 11:15] franknoe commented on #1045
thanks!

Am 19/02/17 um 12:11 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-02-22 10:35] j3mdamas commented on #998
Very interesting! I read Laio's paper a while ago and ever since I would like to see an implementation of it in python to test. Can you tell me what's your status on it? Do the corresponding objects follow the scikit-learn clustering library?

[2017-02-22 18:07] vvoelz opened #1052 "connected sets and TRAM estimator"
I've been trying to build TRAM models for a "toy" 9-state landscape from Monte Carlo trajectories that changes with pH.  The idea is that we could get lots of productive sampling of transitions at low pH, with hopes of extrapolating slower rates at higher pH.

Here's a picture of a situation where we're just using *two* pH values -- pH 3.6 is the "biased" landscape, and pH  4.0 is "unbiased".

![t

[2017-02-23 10:49] franknoe commented on #1052
Hi Vince,

the technical side is better replied by Chris or Fabian. However, are
you sure you have transitions towards states above 5 occur in one of the
two ensembles? If states are ergodically connected in one of the two
ensembles, then simply connectivity in the other ensemble should be enough.

Another option is that you might not have enough connectivity between
ensembles in terms of thermody

[2017-02-27 18:26] j3mdamas commented on #996
Hey @franknoe, any news on this issue?

[2017-02-28 16:49] stefdoerr opened #1053 "TICA error message when only 0's are passed"
One of our users made a projection that was 0 for all frames/trajectories (no residues ever came in contact). Obviously TICA cannot find anything in that degenerate space. Would be awesome if you could handle this case and print out a more meaningful message because the current one is a bit obscure.

Thanks!

[code]

[2017-02-28 16:56] franknoe commented on #1053
I see. I think the problem should already arise after computing C0,
because that shouldn't be invertible. In any case, if we handle this in
the eig_corr function, it will be a pretty abstract (algebraic) error
statement. If we want to handle this on the TICA level, we need to make
an additional check of the results of the covariance estimator.
@fabian-paul or @fnueske, what do you suggest?

Am 28/

[2017-02-28 16:57] franknoe commented on #1052
@wehmeyer or @fabian-paul, can you help here?

Am 22/02/17 um 19:07 schrieb Vincent Voelz:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-02-28 17:11] fyrazu opened #1054 "Building a HMM from TRAM MSM object"
My aim is to probe the rates of folding and unfolding for a given protein. In order to do that, I have a set of trajectories which are not necessarily equilibrated, and run at different temperatures. First of all I apply TICA (using pyemma.coordinates.tica) and then cluster the TICA-transformed trajectories into 500 clusters (using pyemma.coordinates.cluster_kmeans). These clustered trajectories I

[2017-02-28 17:31] franknoe commented on #1054
There's currently no TRAM for HMMs, TRAM is really based on the MSM
likelihood. I suppose it's possible to do that, but it's a research
project to even develop the theory and currently not on our TODO list.

Based on what's currently available, I think your best bet is to take
the MSM from TRAM at your temperature of interest (up to 500 states),
and then do whatever you can on the level of that tr

[2017-02-28 17:36] fyrazu commented on #1054
Thank you, Frank. I will explore those options you mention.

[2017-02-28 17:40] #1054 closed, assigned to nobody

[2017-02-28 20:52] vvoelz commented on #1052
@franknoe thanks for the follow-up.  No need for intense consternation over my results with this toy model; I'm asking a lot of it (!) and expect it to fail; more trying to figure out what TRAM is giving as output.

I checked this out, and you are correct -- if I add some 4->5 backcounts, and nothing else, I do get a connected model, at least at low pH.

Yes, this is going on too:  at high pH, ens

[2017-02-28 20:55] franknoe commented on #1052
Not sure about the second question, this is better answered by
@cwehmeyer or @fabian-paul.

Am 28/02/17 um 21:52 schrieb Vincent Voelz:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
-------------------

[2017-02-28 20:57] vvoelz commented on #1052
p.s. I can post an example of my code and input files if it's helpful.   I'm certain I can "fix" my issues with better sampling, however.

[2017-02-28 20:59] franknoe commented on #1052
of course

Am 28/02/17 um 21:57 schrieb Vincent Voelz:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-03-01 11:23] fabian-paul commented on #1052
Hi Vincent,

I think it would help a lot to see what's going on, if you could post the count matrices.

First of all, it is not possible to not trim the set of states to the ergodically connected set. (At least with the current TRAM theory.) If the set of states is not trimmed and there is an absorbing state (or a set of absorbing states), that state will get a probability of one and the remaining

[2017-03-01 12:56] fabian-paul commented on #1053
Hi all,

I think the error behaviour is already ok, except for the cryptic error message.
Think of the case were the tica esimator is partial_fitted with multiple trajectories in sequence. If the first trajectory is all zero, no error should be raised because the tica dimension reduction could still be defined if a later trajectory is nonzero.
Only if the timescales or the tics are requested, an e

[2017-03-01 18:16] #1053 closed, assigned to nobody

[2017-03-02 13:04] marscher opened #1057 "[notebooks] input cells are not rendered."

[2017-03-02 15:16] marscher commented on #1057
This arises from from https://github.com/ContinuumIO/anaconda-issues/issues/1430.
I move to conda-forge now.

[2017-03-03 15:39] marscher commented on #1057
fixed

[2017-03-03 15:39] #1057 closed, assigned to nobody

[2017-03-14 19:10] giopina opened #1058 "TRAM convergence plot error"
Sometimes when using the "plot_convergence_info()" function for a tram object (i.e. output of "pyemma.thermo.tram()") I get the following error:
(I would like to include a minimal example in which this happens but my files are too big and I can't reproduce it with a smaller size example)

[code]

[2017-03-15 10:52] fabian-paul commented on #1058
Hi Giovanni,

the error says that all changes in the log-likelihood during the TRAM iterations were negative. This means that the log-likelihood was minimized instead of being maximized. That is the optimization is diverging instead of converging.
My guess would be that there is something really wrong with the input data / setup. Have you tried to analyse the data with MBAR as a test?

Cheers,
Fab

[2017-03-15 18:25] giopina commented on #1058
Ok I'll double check to see if there was some convergence error/warning.

[2017-03-21 11:32] AlexanderJussupow opened #1060 "Question to tica: How to add weights?"
Hello,

I try to use tica with a metadynamics trajectory. Each frame of the trajectory has a different weight which are already precomputed. My problem is, that I do not understand how to use the weights option for pyemma.coordinates.tica ("An object that allows to compute re-weighting factors. It must possess a method"). Is it somehow possible to create a weight object, which just gives out the p

[2017-03-21 12:15] marscher commented on #1060
On 03/21/2017 12:32 PM, AlexanderJussupow wrote:

I guess this has to be class like this:

class GetWeights(object):
    def __init__(self, my_weights):
        self.frame_counter = 0
        self.my_weights = my_weights

    def weights(ndarray):
        result = self.my_weights[self.frame_counter:len(ndarray)]
        self.frame_counter += len(ndarray)
        return result

[2017-03-21 12:34] marscher commented on #1060
This of course assumes that the ordering of my_weights is the same as the one you feed in the trajectories into tica.

[2017-03-21 12:40] marscher commented on #1060
Sorry, I've looked into the code and you have to derive the GetWeights class from this one:
from pyemma.coordaintes.estimation.koopman import _Weights
class GetWeights(_Weights):
    ...

I think we should change that into a plain signature check [hasattr(weights, "weights") and type(getattr(weights, "weights")) == types.MethodType to make this pythonic, eg. duck typed.

[2017-03-21 14:01] #917 closed, assigned to nobody

[2017-03-21 15:06] franknoe commented on #1060
I think this was implemented by @fabian-paul  or @fnueske . Guys, what's the intended usecase?

[2017-03-21 15:54] fnueske commented on #1060
This was primarily written for Koopman re-weighting. Here, the class only holds the re-weighting vector u, and transform an incoming trajectory X by multiplication by u. This assumes that X contains the same features / basis functions that were used to obtain u.
It can be used in more general situations, though. All that matters is that the user supplies a class that possesses a method "weights(X)

[2017-03-21 15:55] fabian-paul commented on #1060
I think there is no particular use case. The goal was just to have a flexible interface for the computation of the weights that can accommodate unanticipated future use cases. That's why we introduced this class.

[2017-03-21 16:15] franknoe commented on #1060
Yes it makes sense. But I agree with @marscher , you shouldn't have to derive from a base class if the base class doesn't provide code that you want to reuse, so just check for hasattr.

[2017-03-22 10:45] gph82 opened #1062 "progressbar: possible traitlets error on ipython terminal?"
pyemma.__version__ '2.3.2+0.g142fb85.dirty'
ipython                   5.1.0                    py34_0
ipython-notebook          4.0.4                    py34_0
ipython_genutils          0.1.0                    py34_0
traitlets                 4.3.1                    py34_0

Looks totally like some traitlets error rather than a pyemma issue, so please @marscher close without mercy if unnecessary

[2017-03-22 11:33] stefdoerr opened #1063 "Question: TICA weirdly slow"
[condalist.txt](https://github.com/markovmodel/PyEMMA/files/861203/condalist.txt)

Just curiosity, I doubt it's a bug. Tested on two different computers.

I have a tiny test case for HTMD. I noticed that when I do TICA on it it's surprisingly slow (around 40s). I was just wondering if this is expected behaviour for such small datasets (2 traj of 6 frames of 2000dims).

[ticaslow_traj.zip](https://

[2017-03-22 11:55] franknoe commented on #1063
Certainly not. What is going on here? 

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: Stefan Doerr <notifications@github.com>
Date: 3/22/17  6:33 AM  (GMT-06:00)
To: markovmodel/PyEMMA <PyEMMA@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [markovmodel/PyEMMA] Question: TICA weirdly slow (#1063)

condalist.txt
Just curiosity, I doubt it'

[2017-03-22 12:25] gph82 commented on #1062
This is biting us even in the tests... any ideas?
https://travis-ci.org/markovmodel/molPX/jobs/213793739

[2017-03-22 13:05] marscher commented on #1063
On 22.03.2017 12:33, Stefan Doerr wrote:

this will convert all the data to python objects, are you really sure
you want that?

[2017-03-22 13:33] stefdoerr commented on #1063
The `.tolist()` you mean? It's because numpy saves python lists of numpy arrays as numpy arrays of numpy arrays so I convert it back to list of numpy arrays to pass it to TICA. That's fine I think

[2017-03-22 13:54] marscher commented on #1063
You're right. I was creating an array (2, 6, 2000) to test it quickly without unpickling arbitrary code on my system. It seems that diagonalizing this system is the slowest step:
[code]

[2017-03-22 14:30] franknoe commented on #1063
But that is a feway seconds which is OK for a 2000 matrix. Did not Stefans example take longer? 

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: "Martin K. Scherer" <notifications@github.com>
Date: 3/22/17  8:54 AM  (GMT-06:00)
To: markovmodel/PyEMMA <PyEMMA@noreply.github.com>
Cc: Frank Noe <frank.noe@fu-berlin.de>, Comment <comment@noreply.github.com>
Subject: Re:

[2017-03-22 14:31] stefdoerr commented on #1063
No, the log Martin posted shows 40seconds which is as much as it takes me.

[2017-03-22 14:31] stefdoerr commented on #1063
So I guess it simply scales by dimension much more than by trajectory data.

[2017-03-22 14:47] franknoe commented on #1063
Ah sorry, I read it wrong. Yes, 40 seconds is a normal time to
diagonalize a 2000x2000 matrix. It will be practically the same if you
have 1000 data points instead of only a few. You can close this.

Am 22/03/17 um 15:31 schrieb Stefan Doerr:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49)

[2017-03-22 14:49] stefdoerr commented on #1063
Ok thanks! Sorry for bothering. I guess at low-data regimes the diagonalization is just slower than the  calculation of the covariances which overpowers in high-data regimes.

Merci :)

[2017-03-22 14:49] #1063 closed, assigned to nobody

[2017-03-22 14:51] franknoe commented on #1063
Correct. Diagonalization is O(N^3) whereas computing covariances is
O(T*N^2), where T are the timesteps and N the dimensions.

Am 22/03/17 um 15:49 schrieb Stefan Doerr:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 B

[2017-03-22 16:03] marscher commented on #1062
Is this ipywidgets version 6?

[2017-03-22 16:11] gph82 commented on #1062
no this is on on my py 3.4 which uses 5.x

[2017-03-22 16:12] marscher commented on #1062
On 22.03.2017 17:11, Guillermo Pérez-Hernández wrote:

strange, what has changed in the meantime?

[2017-03-22 16:14] gph82 commented on #1062
I really don't know. It thought it might be conflicting pip/conda versions of traitlets on my machine, but it wasnt. Anyway, perhaps it's a good idea not to devote too much time to this until I can reproduce it better,even more if I seem to be the only one experiencing this

[2017-03-22 16:16] marscher commented on #1062
On 22.03.2017 17:14, Guillermo Pérez-Hernández wrote:

well it also happens in a fresh environment on CI, so we can reproduce
it with these version numbers. My guess is that the detection of the
kernel in progress_reporter is not up to date with the current
development of ipython/jupyter. This happened in the past again. I'm
already thinking of switching to a third party library like tqmd or so.

[2017-03-22 16:20] gph82 commented on #1062
well tqdm is nice, but then you have to choose between tqdm and
tqdm_notebook for the nicer representation, so you'd have to also know
the kernel...I've lost 5+ hours on a similar issue about detecting the
kernel and the front-end while trying to be super "ausführlich" in the
tests. Nothing good comes from trying to find it out, according to this
SO post
http://stackoverflow.com/questions/15411967

[2017-03-22 16:20] marscher commented on #1062
Maybe its related to the brand new ipywidgets major version. NGLview still depends on major version 5, however this has not been declared in the recipes (even the bioconda maintained one). I'm currently pinning this version in omnia.

[2017-03-22 16:21] gph82 commented on #1062
thanks for doing that. I was looking forward to version 6, because it's the one that allows saving widget output as png in the notebook , that provides much better representation in the docs

[2017-03-22 16:23] marscher commented on #1062
You can still look forward to it, but nglview still needs to support it.

[2017-03-22 16:23] gph82 commented on #1062
I thought they did? Didn't they even prepare for v6 removing some proxy thing?

[2017-03-22 16:24] marscher commented on #1062
On 22.03.2017 17:23, Guillermo Pérez-Hernández wrote:

yes but their tests didn't catch some bugs :O

[2017-03-22 16:24] gph82 commented on #1062
https://github.com/arose/nglview/pull/586

[2017-03-22 16:26] marscher commented on #1062
https://github.com/conda-forge/nglview-feedstock/issues/1

[2017-03-22 16:28] gph82 commented on #1062
Yeah i was planning on checking that today...been doing busywork elsewhere...

[2017-03-22 17:22] marscher commented on #1062
the referenced travis job can not be re-runned because the commit does not exist anymore. Can you please point me to the branch where this is happening?

[2017-03-22 17:36] gph82 commented on #1062
not any more, at least not easily. The branch was https://github.com/markovmodel/molPX/tree/tests_fixes

[2017-03-22 18:24] hainm commented on #1062
`nglview` does support ipywidgets >= 6 but this version is [very buggy](https://github.com/ipython/ipywidgets/issues/1044) for `nglview`.

[2017-03-22 18:26] hainm commented on #1062
@gph82 per your 1st post, you need to create a fake Kernel like this:

https://github.com/arose/nglview/blob/master/nglview/tests/test_widget.py#L87-L131

[2017-03-22 18:27] marscher commented on #1062
Thanks for the info. @gph82 can you please try to update progress_reporter locally? 1.2 is outdated.

[2017-03-22 18:57] gph82 commented on #1062
AFK right now. @hainm, I created a fake nglwidget

____
Phone

[2017-03-22 21:23] jhprinz opened #1066 "PyEmma not preserving order of input files with duplicates?"
This is more a quick question on whether the returned list of trajectory lengths and discrete trajectories are the same as the input trajectories. Example

[code]

If not, is there a way to enforce this? Actually, I had the order changed, but accidentally had the same file twice. Also, what is the behaviour on duplicates. The number of listed trajectories suggested that the duplictes are listed mu

[2017-03-22 21:36] jhprinz commented on #1066
After more analysis this really seems only to happen when there are duplicate filenames present. In that case let me rephrase the question. That is the behaviour when having duplicate filenames!

[2017-03-22 21:50] jhprinz commented on #1066
Seems I miscounted the returned trajectories from pyemma. So apparently it uses only each trajectory once and this messes up the order. A long as this is preserved when all filenames are unique my problem is solved.

[2017-03-22 21:55] marscher commented on #1066
Hi,

duplicated files are kicked out of the list. Please correct me, if I'm
wrong, bug it does not really make sense to feed in the same files a
couple of times.

[2017-03-22 21:57] jhprinz commented on #1066
Well, could be when reweighting, but that is merely a theoretical idea. Usually no, you are right. It just seemed that I ran two simulations and used the same name and then suddenly all went weird.

Thanks for the response!

[2017-03-22 21:57] #1066 closed, assigned to nobody

[2017-03-22 22:02] marscher commented on #1066
probably I should use a more sophisticated dupe detection. Currently it
is only based on the file names, but it could rely on the TrajInfo,
which would then also check size, mtime and fingerprint.

[2017-03-23 07:12] gph82 commented on #1066
What about printing a warning?

[2017-03-23 10:25] marscher commented on #1066
This warning is being logged.

[2017-03-29 12:08] marscher commented on #1062
@gph82 can you please confirm that the error is fixed by upgrading progress_reporter?

[2017-03-29 14:27] gph82 commented on #1062
Sorry for the delay. I'm on progress-reporter         1.3.1 and things seem to work okay now

[2017-03-29 14:31] marscher commented on #1062
Thank you for the confirmation.

[2017-03-29 14:31] #1062 closed, assigned to nobody

[2017-03-29 14:32] marscher commented on #1060
fixed by #1061

[2017-03-29 14:32] #1060 closed, assigned to nobody

[2017-04-01 15:43] gph82 opened #1068 "[coor.source] get_output() on list of dcds not working?"
2.3.2+0.g142fb85.dirty

It seems that there's a problem with the source object when list of dcds are being used. The same code for .xtcs (see below) has no problem:
[code]
The code that works:
[code]

[2017-04-02 21:36] marscher commented on #1068
This is a hilarious behaviour. How does your file list look like?

0. eg. [ff.replace('dcd','xtc') for ff in flist][:n]
1. is flist a numpy array?
2. type(flist[0].replace('dcd', 'xtc')

Somehow the file names are being treated as the actual data, because of some wrong type checking.

[2017-04-02 21:44] marscher commented on #1068
3. from pyemma.coordinates.data import DataInMemory: assert isinstance(src, DataInMemory)

[2017-04-03 08:09] marscher commented on #1068
source(list(flist)) should also do the trick. We should check for numpy string arrays too, or more generic like iterable of str.

[2017-04-03 14:31] gph82 commented on #1068
sorry I did not get back earlier. today I'm packed, but I'll try to take a closer look

[2017-04-03 14:33] marscher commented on #1068
I think this one is pretty clear. The source function delegates the filename list to DataInMemory, because it has type ndarray.
We need to distinguish ndarray(str) from ndarray(float).

[2017-04-03 14:33] gph82 commented on #1068
but flist was a list created with glob(*dcd)?

[2017-04-03 14:37] marscher commented on #1068
and it has not been converted to a numpy array in the meantime?

[2017-04-03 14:39] gph82 commented on #1068
no it had not. I did not store the example because it was out of a live notebook.

[2017-04-03 14:44] marscher commented on #1068
I could only reproduce this, when flist is a numpy array of str. A minimum working example would be nice to have,
but I assume it would be hard to find, because the type checking in source only allows passing "data" of type str,
if and only if the container is a numpy array.

[2017-04-03 14:45] gph82 commented on #1068
I think I can do that later. I'm preparing a class on molpx and trying to get out a release before 10:45 (+7 to berlin time).

[2017-04-03 14:46] gph82 commented on #1068
BTW @thempel  just told me that he's fighting with dcds?

[2017-04-03 14:46] thempel commented on #1068
... have to report issues with contact features (getting weird output, i.e. contacts are not 0 or 1) with DCD-files as well. I'm analyzing it.

[2017-04-03 15:18] thempel commented on #1068
This seems to be a corrupted DCD-file, so it's probably unrelated to @gph82 's issue. It's just interesting that one gets random output. Even though `mdconvert` reports a possibly corrupted DCD-file, no warning is thrown when loading the data. My output for contact features is e.g.
[code]

[2017-04-04 20:41] marscher commented on #1068
@thempel this is unrelated, yes.
@gph82 python -c "import numpy as np; import pyemma; pyemma.coordinates.source(np.array(['this_does_not_matter.xtc', 'really_it_does_not.dcd'])).get_output()"
 leads to exactly the same stack you've shown.

[2017-04-04 20:50] gph82 commented on #1068
okay, thanks so much for investigating...i'm caught up in other stuff, the dcd files where part of a lecture which in the end I gave with the regular ol' xtcs which is what I usually work with. Is this behavior new, though?

[2017-04-05 11:37] marscher commented on #1068
it hasn't changed for two years.

[2017-04-05 15:17] gph82 commented on #1068
so....nobody noticed before?

[2017-04-06 15:50] j3mdamas opened #1069 "New method: Landmark Kernel tICA"
Hi guys,

Just saw this paper from Pande et al and I thought I would share it with you guys: http://biorxiv.org/content/early/2017/04/04/123752

Still haven't read it thoroughly, but it looks promising, specially the non-linearity aspect. They seem to improve on their previous paper: http://pubs.acs.org/doi/abs/10.1021/ct5007357

What do you think? Could this landmark kernel tICA be interesting fo

[2017-04-07 23:00] TensorDuck opened #1070 "Plotting flux fails, networks.py divide by zero encountered"
PyEMMA 2.3.2 np111py27_0
Red Hat Enterprise Linux Server release 7.2 (Maipo)
[test.tar.gz](https://github.com/markovmodel/PyEMMA/files/907025/test.tar.gz)
[conda_list.txt](https://github.com/markovmodel/PyEMMA/files/907026/conda_list.txt)

An example script with input showing that the `minflux` flag works for `pyemma.plots.plot_markov_model()` but not when using `pyemma.plots.plot_flux()`. Run in

[2017-04-08 21:09] TensorDuck commented on #1070
So, it was suggested to me that to check the obvious thing, and I realized the value for `minflux` I used is too large. If I decrease the value, the flux plot appears and there is no RuntimeWarning being thrown.

Now it appears the `minflux` variable does not produce the same cutoff in `pyemma.plots.plot_markov_model()` versus `pyemma.plots.plot_flux()`. Is there an easy way to convert values for

[2017-04-09 17:52] franknoe commented on #1070
Hey,

these functions are for different purposes and show different
quantities. plot_flux is meant to illustrate a TPT flux,
plot_markov_model shows the weights of a stochastic matrix and
plot_network shows the weights of any matrix, so I'm not sure what you
mean by conversion.

Best,
Frank.

Am 08/04/17 um 23:09 schrieb Justin Chen:

--

----------------------------------------------
Prof. Dr. Fr

[2017-04-10 14:06] #1070 closed, assigned to nobody

[2017-04-12 14:09] marscher commented on #1068
I'm closing this for now, you can reopen it, if you want to make it a feature request "support numpy str arrays" as input. But as far as I remember we discouraged this case in the beginning.

[2017-04-12 14:09] #1068 closed, assigned to nobody

[2017-04-14 16:44] fabian-paul commented on #1052
@vvoelz : I might have made a mistake in the explanation / definition of the connected set for TRAM. Please let me check this again.

[2017-04-15 10:47] fabian-paul commented on #1052
Hi all,

I'm quite sure now that I made a subtle mistake in the definition of connectivity. Thanks to @giopina for bringing it to my attention.

Initially I though that the following sampling situation (A) would be a valid input for TRAM:
[code]
E0 and E1 are two ensembles. The unidirectional arrows denote unidirectional transitions between different Markov states (0,1,2). Unidirectional means tha

[2017-04-15 16:06] franknoe commented on #1052
Hm, seems unintuitive, but maybe you're right. We also have some
normalization condition on the pi's (either they add up to 1 by ensemble
or in total, depending on how exactly you define them). Still not enough?

Am 15/04/17 um 12:47 schrieb fabian-paul:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

[2017-04-15 16:06] franknoe commented on #1052
PS you can try this simply example if it converges with dTRAM of course

Am 15/04/17 um 12:47 schrieb fabian-paul:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------

[2017-04-15 17:35] franknoe commented on #1069
Hey João, sorry for being out of sync. Let me explain me the
relationship between methods first. To my best knowledge the basis of
nonlinear approximation of MD eigenfunctions is our variational
approach. I think it would be fair for follow-up works to clearly say
that and also use consistent nomenclature, instead of just refering to
TICA. TICA was originally introduced (in the 90s) as a linear
co

[2017-04-18 12:00] chengs opened #1071 "A simple question: How to predict"
Will someone tell me how to predict a value?

If I build an order-1 markov chain from the trajectory with 9 states.
[code]

If at the current time, I have a state "8", then how to predict the next state based on the model?
Can some tell me how to implement?

Excuse me, but the document is quite unclear even on the simplest usage.

[2017-04-18 12:38] cwehmeyer commented on #1071
In your example

[code]

will give you the distribution of next states conditional on being in state 8.

Please note that just trying to predict the next state is a rather unusual usage of Pyemma and it might help us answering your questions if you could share a little bit more detail on what you want to do.

[2017-04-18 13:54] chengs commented on #1071
@cwehmeyer Thank you for the answer.
I would like to write a simple location predictor using an Order-1 or Order-2 Markov Chain in Python. In details, the predictor does as follows:

1. Construct an Order 1 (or 2) Markov Chain using the init location time series.
2. Predict the next location, and update the Markov Chain using the actual location at the next time step.

PyEmma only supports for the

[2017-04-18 15:25] franknoe commented on #1071
If you wanna do very basic stuff not related to MD, it may be easier to
work with msmtools.

Correct, we don't support higher-order Markov chains. For metastable
systems such as molecular dynamics, there are other ideas that are more
useful in practice. If a higher-order Markov chain impl. was made, it
would be part of msmtools, but not necessarily have a PyEMMA estimator
associated with it.

Am 1

[2017-04-18 15:49] #1071 closed, assigned to nobody

[2017-04-18 23:45] fabian-paul commented on #1052
Well, I think there isn't any other equation that can be used. The normalization of pi and g doesn't matter, because only the ratios g<sub>0</sub>/g<sub>1</sub>, pi<sup>0</sup><sub>0</sub>/pi<sup>0</sup><sub>1</sub> and pi<sup>1</sup><sub>0</sub>/pi<sup>1</sup><sub>1</sub> enter.

Let's pick for example g<sub>0</sub>=1 and g<sub>1</sub>=2. Let the count matrix elements C<sup>0</sup><sub>10</sub> >

[2017-04-24 12:49] marscher opened #1072 "print warning/change chunksize for io efficient covariance computation"
In PR #960 we introduced a code to avoid reading the same data twice, if the correlation time is smaller than the chunk size (lag  <= cs).

@cwehmeyer reported a fairly large speed up for his analysis pipeline, if he obeys this condition. In principle we should warn the users, if they violate this condition or, in a more automatic fashion set the default chunk size (which I guess is used most of t

[2017-04-24 18:17] marscher commented on #480
Random access patterns are already in place for the iterload wrapper, so we just need to generate the RA indices to access the file for very large strides to avoid the chunksize*stride > memory limitation. Since I also implemented fast seeking for xtc and most formats are seekable, this should be easy to add.

[2017-04-26 21:41] fabian-paul commented on #1052
It can also be shown numerically with our dTRAM implementation that the result is not unique for the irreversible case introduced above. Here are the results of two dTRAM runs with different initial conditions for the optimization. The transition matrices agree with the constraints (Boltzmann factors) but are different in each run:

[code]

[code]

[code]

[code]

[code]

[code]

[2017-04-27 03:23] franknoe commented on #1052
That's pretty convincing.

So it seems we need a little more connectivity. But, what should we
check for?

Am 26/04/17 um 23:41 schrieb fabian-paul:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
------

[2017-04-27 17:34] fabian-paul commented on #1052
This is what I would do:
Documentation:
https://github.com/markovmodel/thermotools/blob/fix-cset/thermotools/cset.py#L51

implementation 1 (ignoring overlap between thermodynamic states):
https://github.com/markovmodel/thermotools/blob/fix-cset/thermotools/cset.py#L269

implementation 2 (also checking for overlap between thermodynamic states):
https://github.com/markovmodel/thermotools/blob/fix-cs

[2017-04-27 18:55] hjuinj opened #1074 "How to produce potential energy trajectory for use in estimate_multi_temperature()"
I am looking at the pyEmma tutorial using on [Analyzing multi-temperature simulations with PyEMMA](http://www.emma-project.org/latest/generated/PyEMMA.thermo.estimate_multi_temperatur_-_asymmetric_double_well.html),

In order to use `pyemma.thermo.estimate_multi_temperature`, I need to input **energy_trajs** containing the potential energy at each time step. How do I produce this data at the first

[2017-04-27 18:58] franknoe commented on #1074
In Gromacs I believe the tool to compute energies from trajectories and
setups is called g_ener. In any case, this is not a PyEMMA issue. Please
see Gromacs documentation.

Am 27/04/17 um 20:55 schrieb hjuinj:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.

[2017-04-27 18:58] #1074 closed, assigned to nobody

[2017-04-27 19:01] hjuinj commented on #1074
Ah thank you and sorry about that. I thought pyEmma has some tools to do that too.

[2017-04-27 19:39] franknoe commented on #1074
For umbrella sampling, yes, because it's easy to compute the umbrella
bias energy if you are using a harmonic biases. But for temperature
replica-exchange and other more complex forms of bias you need to be
able to compute the energy of the molecular system, and that's the job
of MD packages, because it depends on a variety of properties of your MD
setup. PyEMMA can be used for the post-processing

[2017-04-29 20:47] franknoe opened #1075 "Simplify TICA Parameters"
``tica``'s init method has four parameters that will determine the output dimension, and that have accumulated over time as different methods were added (especially kinetic maps and commute maps):
  * dim=-1
  * var_cutoff=0.95
  * kinetic_map=True
  * commute_map=False

Now that's a bit confusing, because these parameters are interdependent, and also the current default behavior is not the most s

[2017-05-01 14:40] j3mdamas commented on #1075
It sounds good, as long as it is robust and correctly deprecated (which may not be easy, as you suggest). Maybe it should be clear in the docstring that `0<dim<1` only works with `scaling!=None`.

[2017-05-01 14:55] franknoe commented on #1075
I think I would still make it working with scaling=None, in that case
the contribution is computed by kinetic map (current PyEMMA default),
just that the actual output is not scaled. Or would that be confusing?

Am 01/05/17 um 16:40 schrieb João M. Damas:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

[2017-05-01 15:11] j3mdamas commented on #1069
Hi Frank,

Sorry for the late reply. Thank you for you explanation, I could follow it and I think I got the point.

As you know, my interest is more at the application level. Particularly, I'd like to benchmark how well all the methods, tweakings and improvements compare when applied to ligand-binding systems (not only benzamidine-trypsin, but also some GPCR binding). Not only at the analysis leve

[2017-05-01 15:14] j3mdamas commented on #1075
That is confusing. If `scaling=None`, I think the kinetic variance cut-off should then work unscaled. No? Otherwise, what is the purpose of `scaling=None`?

[2017-05-01 15:49] franknoe commented on #1075
Scaling defines whether the output coordinates are scaled (and how). By
default they would have variance 1, otherwise they are scaled by the
eigenvalues or by sqrt(t_i/2), where t_i is the timescale. But using
scaled variables doesn't mean to have to use this scale in order to
determine the number of output variables. You could use scaled
variables, but still fix their number.

The other way aroun

[2017-05-01 15:57] j3mdamas commented on #1075
Oh, I thought it worked like PCA, where each component contribution to the total variability (which I thought was equivalent to kinetic variance) can be calculated, for the unscaled case.

[2017-05-01 16:17] franknoe commented on #1075
It's conceptually the same. How to scaling is a matter of convention and
depends on what you want to do with the data, but selecting the number
of dimensions is mostly independent of that choice.

In PCA the eigenvalues are the variances of the data along the
eigenvector directions. The PCA eigenvectors come from some solver, so
at first the scaling is arbitrary. There are at least two scaling
con

[2017-05-01 19:13] j3mdamas commented on #1075
Well, then the `scaling=None` should correspond to the whitening you're talking about, no?

[2017-05-01 19:15] franknoe commented on #1075
exactly.

Am 01/05/17 um 21:13 schrieb João M. Damas:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-05-01 19:19] j3mdamas commented on #1075
That makes sense.

On May 1, 2017 9:15 PM, "Frank Noe" <notifications@github.com> wrote:

[2017-05-03 14:15] #480 closed, assigned to nobody

[2017-05-04 00:59] euhruska opened #1077 "use_trajectory_lengths_cache error"
I have a script which loads in .dcd trajectories on one cluster, no problem. Then I copied these trajectories to a different cluster and the loading of these  .dcd trajectories with the exactly same script fails. Pyemma version 2.3.2, the dcd files are slightly larger (20G). The error said something about use_trajectory_lengths_cache, not sure what's wrong there, especially since it works on the f

[2017-05-09 15:54] j3mdamas commented on #996
@franknoe is there any news here.

[2017-05-09 17:18] marscher commented on #1077
solved, was a tiny config file mistake.

[2017-05-09 17:18] #1077 closed, assigned to nobody

[2017-05-09 19:53] franknoe commented on #996
Hi, I have too many things going on to do this myself. @fnueske , you understand PCCA++ well, would you be so kind to have a quick look?

[2017-05-09 20:25] fnueske commented on #996
Sure, I'll try to understand what's going on. Please give me a few days.

[2017-05-09 20:35] j3mdamas commented on #996
Thanks a lot @fnueske! If you need any help, Stefan and I can assist, special @stefdoerr, who's more into the problem

[2017-05-09 20:41] franknoe commented on #996
Thank you!

Am 09/05/17 um 22:25 schrieb Feliks Nüske:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-05-10 19:47] giopina opened #1081 "meaning of "unbiased_state" input parameter of the function thermo.tram()"
I'm not sure about the meaning of the parameter unbiased_state in the function thermo.tram().
Apparently it doesn't appear in the documentation.

[2017-05-10 20:03] giopina commented on #1081
I describe my setup so you can better understand my question.

I'm calculating TRAM with trajectories coming from different biased ensembles (and no unbiased trajectory). The bias is a constant force on the distance between two atoms, for the first ensemble, and the same constant force **plus** harmonic umbrellas, at different positions, for the other ensembles.
Then, I'd like to have the free ene

[2017-05-10 20:05] franknoe commented on #1081
Also free_energies is not really understandably document, and many
parameters of the MEMM class aren't documented at all.

Am 10/05/17 um 22:03 schrieb giopina:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Ge

[2017-05-10 20:39] cwehmeyer commented on #1081
The ``unbiased_state`` parameter is used to set the ``msm`` attribute in an ``MEMM`` and setting this parameter only makes sense if you have unbiased trajectories. I will extend the documentation accordingly.

In your case, please do not overwrite the default ``unbiased_state=None``.

[2017-05-10 21:19] giopina commented on #1081
But I actually want to analyze the MSM in the **biased** ensemble!

Anyways, if I understand correctly, that parameter must be used only to indicate which one is the true unbiased state? Does this mean that the method is not able to understand by itself which one is the unbiased state by looking at he bias energies?
What happens if one doesn't set it? The attribute msm is going to be empty?

[2017-05-10 21:31] cwehmeyer commented on #1081
``MEMM.models`` is a list of MSM objects for each thermodynamic state in which you have data; the ``msm`` attribute is just a shortcut to the unbiased one (if present) as that is the thermodynamic state one is usually interested in.

The ``unbiased_state`` attribute is automatically set by ``estimate_umbrella_sampling()`` and ``estimate_multi_temperature``; calling ``tram()`` directly is a more ge

[2017-05-10 22:44] giopina commented on #1081
But what is the point for the user of having the option to set a "custom" unbiased state, if that should always be the real unbiased state? Then you could as well just infer which one is the unbiased state as it's done in estimate_umbrella_sampling.

And I think it's confusing for a user the fact that setting unbiased_state changes the attribute msm but not the attribute free_energies

[2017-05-10 23:15] cwehmeyer commented on #1081
The unbiased free energies are completely independent of the ``unbiased_state`` parameter and the presence of unbiased data; this parameter affects only the setting of a shortcut to a selected ``MSM`` object if and only if there is data from the respective thermodynamic state available.

The point of not automatically setting the ``unbiased_state`` parameter in ``tram()`` is that if the recommende

[2017-05-10 23:38] franknoe commented on #1081
Let me see if I understand this. ``MEMM`` is a subclass to ``MSM``, so you want to select which thermodynamic state is represented by the MEMM in order to define what it means if you call MSM attributes or functions, such as ``mfpt``, ``stationary_distribution`` etc. on the object returned from ``tram``. Is that right?

If so, this needs to be clearly documented, but I agree that ``unbiased_state`

[2017-05-11 07:27] hjuinj commented on #1081
I have some problem with `unbiased_state` too.
Once I do:
[code]
I want to inspect the its behaviour, from the tutorial:
`pyemma.plots.plot_memm_implied_timescales(dtram, nits=8, annotate=False, marker='x')`

and I get:

What should I do with that?

[2017-05-11 08:07] cwehmeyer commented on #1081
@hjuinj This is actually a bug. Thanks for pointing this out.

As a temporary workaround you can call
[code]

where ``N`` denotes the index of your unbiased thermodynamic state. You can look up this index from sequence of temperatures in the estimator object, ``dtram.temperatures``.

[2017-05-11 08:27] hjuinj commented on #1081
@cwehmeyer thank you very much. On a related note, following the tutorial, I want to construct PCCA with one of the lag time, but when I do `dtram[2].msm.pcca(2)` I get:

What should I do instead?

[2017-05-11 08:30] cwehmeyer commented on #1081
@franknoe not exactly. ``MEMM`` holds a collection of ``MSM`` objects, one for each thermodynamic state with observations. The ``MEMM`` itself does not (yet) directly provide methods like ``mfpt()``, you have to use the ``MSM`` objects for this.

The ``MEMM`` does provide thermodynamic properties for the unbiased thermodynamic state, i.e., the absence of any bias, whether or not we have observatio

[2017-05-11 08:33] cwehmeyer commented on #1081
@hjuinj this is the aforementioned bug again: in ``dTRAM``, the ``unbiased_state`` parameter is not correctly placed and, thus, ``dtram.msm`` will always be ``None``. Please use ``dtram.models[N]`` instead, where ``N`` is again the index of your unbiased thermodynamic state.

[2017-05-11 08:41] hjuinj commented on #1081
Thank you, for models in some of the thermodynamic states I get the following error:

Does this indicate insufficient sampling data?

[2017-05-11 08:47] cwehmeyer commented on #1081
This is quite possible. The ``dTRAM`` estimation will work if you have sufficient connectivity over all thermodynamic states, but the ``MSM``s for single thermodynamic states can still be disconnected if you do not have enough sampling in these states.

[2017-05-11 09:04] hjuinj commented on #1081
Thank you @cwehmeyer . Lastly, I would like to generate representative structures for a given metastable state, but it seems the method `sample_by_distributions()` is not defined for a ThermoMSM object. Do you know what is the most straight forward way to obtain representative structures?

[2017-05-11 09:30] cwehmeyer commented on #1081
I am sorry but this is not yet implemented and not exactly straightforward. You have all the necessary ingredients, though. Let me think about this and I will post a workaround here asap.

[2017-05-11 14:09] franknoe commented on #1081
Hmm, then I still don't understand what exactly the effect of
unbiased_state is. Shouldn't the "unbiased" free energy of the MEMM then
depend on its setting? For example, if we are in a multitemperature
setting there is no intrinsically unbiased state, it is a choice of the
user which temperature they want to consider as a reference. But once
this choice is made, the free energy returned by MEMM s

[2017-05-11 14:14] franknoe commented on #1081
I just saw this issue became multiple issues, so it's hard to assign replies to issues by now.

I think the connectivity issues could be handled manually by constructing a new MSM from the connected set of the old one (e.g. post example code), or we could enforce this in the estimator by setting a connectivity flag (see HMM code, where we have connectivity='all' | 'strong' | ... or similar.

For t

[2017-05-11 14:19] cwehmeyer commented on #1081
@franknoe  if you are in a multi-temperature setting, you have to choose a reference temperature and this will determine the choice of ``unbiased_state`` within ``estimate_multi_temperature()``. Likewise, trajectories without any umbrellas will determine the setting of ``unbiased_state`` within ``estimate_umbrella_sampling()``. We can make this decision because, within these functions, we know the

[2017-05-11 14:22] franknoe commented on #1081
I understand that part, but I am not fully clear what the consequence of
setting ``unbiased_state`` in ``tram()`` is. As I said, I would have
expected that to affect the free_energy of the MEMM if that refers to
the unbiased state, but your response to Giovanni above seems to suggest no.

Am 11/05/17 um 16:19 schrieb Christoph Wehmeyer:

--

----------------------------------------------
Prof. Dr.

[2017-05-11 16:08] marscher opened #1083 "[msm] dt_model, dt_traj handling is broken"
I just observed that this feature is broken. Eg. if one accesses the attribute dt_model of a MSM estimator, one gets an attribute error:

[code]
raises:
[code]
This currently hinders eg. ITS to display the correct physical time scales.

[2017-05-11 20:40] cwehmeyer commented on #1081
The way you compute the bias energies determines what your unbiased state is. This is automatically taken care of in the ``estimate...()`` functions but not in ``tram()`` and ``dtram()``.

``MEMM.msm`` is a convenience shortcut that points to a selected ``MSM`` object within the ``MEMM``, most commonly the unbiased state. The ``unbiased_state`` parameter is just used to denote which ``MSM`` the sh

[2017-05-15 17:43] franknoe opened #1086 "remove usage of `parametrize` in tests"
The current tests show numerous usages of the deprecated function `parametrize`. Please remove and replace by calls to `fit(X)`.

[2017-05-15 22:02] giopina opened #1087 "Unexpected behavior of dTRAM"
I'm doing some dTRAM analysis and I have the following problem:

If I run
dtram(... , lag=20,...)
or
dtram(... , lag=[5,10,20], ...)
(with exactly all the others parameters/input variables, unchanged) I have inconsistent results.

For example, if I look at the eigenvalues of the unbiased state MSM for the first case I have
[ 1.        ,  0.97517254,  0.87550691,  0.56572427,  0.24775154]
while in

[2017-05-16 13:35] cwehmeyer commented on #1087
I cannot reproduce this behaviour with my test systems. Could you please share your exact setup?

[2017-05-17 06:19] euhruska opened #1089 "logging level"
I there a way to change the logging level?
[Issue 760](https://github.com/markovmodel/PyEMMA/issues/760) mentioned logging, but I haven't found a way to change the logging level.
My specific issue is that I run many times kmeans and kmeans always gives logging on INFO level about the convergence.

[2017-05-17 13:33] franknoe commented on #1089
I think you can load your own logging config here:
     http://www.emma-project.org/latest/Configuration.html

see "Change Values" on top and use the field

logging_config

But I agree we should have a simple and less hidden way to do this.
@marscher, can you make an issue out of this?

Am 17/05/17 um 08:19 schrieb Eugen Hruska:

--

----------------------------------------------
Prof. Dr. Frank N

[2017-05-17 13:40] marscher commented on #1089
On 05/17/2017 08:33 AM, Frank Noe wrote:

Mhm, we use the standard python logging interface. There are actually tons of ways (files, python api, sockets, etc.) to configure it.
I think the average user would never access it though.

import logging
root_logger = logging.getLogger('pyemma')
root_logger.level = logging.WARN

should do the trick.

[2017-05-17 13:48] marscher commented on #1089
or change the logging config file in ~/.pyemma to make these changes permanent, all of the logging options defined here https://docs.python.org/2/library/logging.html can be used.

[2017-05-17 13:57] franknoe commented on #1089
Ah OK, that's good enough. But since this is a common case, we should
document it explicitly.

I think these settings are hard to find in the pyemma doc page, because
they appear under "Runtime Configuration". But the ordinary user might
not know what a runtime configuration is or that changing the log level,
the progress bars etc are found there. Maybe under Documentation we can
make a section "G

[2017-05-17 15:47] euhruska opened #1090 "progress reporter exception"
I was running pyemma in ipython and got repeated exceptions like below.  Pyemma version 2.3.2.

[code]

[2017-05-17 16:09] cwehmeyer commented on #1087
Thanks for sharing your setup. @fabian-paul and I had a look and we found the following:

1. There is **no** difference between the eigenvalues of ``dtram(..., lag=20, ...)`` and ``dtram(..., lag=[5, 10, 20, 50],...)[2]`` using your data on my machine. Which version of PyEMMA are you using and are you sure that you have compared MSMs for the same thermodynamic state in your above report?

2. We **

[2017-05-17 16:09] #1087 closed, assigned to nobody

[2017-05-17 16:12] franknoe commented on #1087
There are sometimes problems with eigenvalue convergence if sparse
matrices are used, which is why in PyEMMA, MSMs are by default dense.
Might that be the issue?

Am 17/05/17 um 18:09 schrieb Christoph Wehmeyer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   researc

[2017-05-17 16:17] cwehmeyer commented on #1087
We are also using dense matrices in ``pyemma.thermo``.

[2017-05-17 16:22] franknoe commented on #1087
OK. If the MSM is reversible, then by default the stationary
distribution is computed first and then used with the symmetric solver
np.linalg.eigh, because that is much faster. So perhaps the stationary
distribution calculation has a problem with some very small numbers that
might occur in the multiensemble case.

In TRAM, the speed of the diagonalization is not an issue, so you could
avoid doing

[2017-05-17 16:33] cwehmeyer commented on #1087
TRAM (and dTRAM) do not calculate the stationary distribution by diagonalisation of a transition matrix; it's rather the other way around: (d)TRAM estimates the stationary distribution(s) and Lagrangian multipliers, and computes the transition matrices from these quantities.

I have not yet seen a discrepancy between (d)TRAM's stationary distribution estimate and the result of a transition matrix

[2017-05-17 17:05] franknoe commented on #1087
I know, but after the TRAM estimate you initialize a bunch of MSM
objects with transition matrices. Do you also give your estimate of the
stationary distribution to these objects? If not, then what I wrote
above will apply, because this is what happens when you compute the
eigenvalues or eigenvectors from these objects. If yes, it will use the
stationary distribution from your TRAM estimate to sym

[2017-05-17 17:14] giopina commented on #1087
I'm using pyemma 2.3.2 (latest version from conda)

The notebook I sent you was executed all at once after restarting the kernel ("restart and run all")
 and if you look at the last two cells you'll see that the resulting eigenvalues are different
In[36]: dtram_prova.models[1].eigenvalues()[:5]
Out[36]: array([ 1.3120221 ,  1.        ,  0.9602436 , -0.51668492,  0.40425227])
In [37]: dtram_lags[2]

[2017-05-17 21:19] fabian-paul commented on #1087
Actually we should give it a try and create the MSM object with the pi that is estimated by (d)TRAM. Maybe this improves the estimate?

[2017-05-17 21:33] cwehmeyer commented on #1087
@franknoe sorry, I misunderstood your comment. No, we are not using (d)TRAM's stationary distributions when creating the MSM objects at the moment. @fabian-paul let's try this tomorrow.

@giopina I see; I ran your notebook all at once, too, but got a perfect agreement where you saw a difference. Let's see if using the proposed change in creating the MSM objects yields a different result.

[2017-05-17 23:49] marscher commented on #1090
Sorry for the late reply, my first attempt to reply via email got lost on Github...

[2017-05-17 23:58] marscher commented on #1090
Basically progress_reporter thinks your ipython session is a notebook. Actually this has been fixed some time ago, can you please try upgrading progress_reporter?

[2017-05-18 00:02] euhruska commented on #1090
I have progress_reporter 1.3.1
[env.txt](https://github.com/markovmodel/PyEMMA/files/1009383/env.txt)

[2017-05-18 00:04] franknoe commented on #1090
I have the same. Doesn't happen for me.

Am 18/05/17 um 02:03 schrieb Eugen Hruska:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-05-18 21:58] #1086 closed, assigned to nobody

[2017-05-19 01:38] marscher commented on #1090
I can not reproduce it with the same versions... sorry.

[2017-05-19 02:28] #1090 closed, assigned to nobody

[2017-05-19 15:53] marscher commented on #1089
Because I made a evil hack for the config module (a class pretending to be a module), it is not easy to include it in sphinx. I should probably refactor this.

[2017-05-19 15:57] franknoe commented on #1089
yeah, let's avoid hacks and stick with standard code whenever possible.

[2017-05-19 21:52] #1089 closed, assigned to nobody

[2017-05-20 01:53] cwehmeyer opened #1098 "'finding connected set' progress bar not properly removed"
The progress bar shown for finding the connected set in a TRAM estimation is not properly removed after the estimation terminates.

[2017-05-20 04:27] marscher commented on #1098
Does the progress bar created updates until all the registered work steps are really performed. If it converges prior to that point, you have to call progress_bar._progress_force_finish(step="whatever_you_have_registered_before")

[2017-05-20 04:27] marscher commented on #1098
Is this a release blocker or not?

[2017-05-20 11:06] fabian-paul commented on #1098
This is only cosmetic,  so no release blocker.
Is it safe to call progress_bar._progress_force_finish(step="whatever_you_have_registered_before") even if the progess bar has already grown to its maximum value? That is, can I just add this call before the function finishes?

[2017-05-22 19:46] marscher opened #1099 "provide convenience function to plot TICA.timescales (eg. like for ITS)"
maybe we can simply change the plot_timescales function to accept a list of TICA or a list of timescale arrays.

[2017-05-22 20:21] franknoe commented on #1099
Yes, I think that is along the lines of what Chris has suggested. I
think Chris also suggested to pass a list of lagtimes to the estimator
API function instead of calling an extra function. That would return a
list of estimators and they could be passed on to plot_timescales.

Am 22/05/17 um 21:46 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
He

[2017-05-23 21:05] rafwiewiora opened #1101 "Error on get_multiple_temperature_data()"
You guys know this already, but just for reference - Py3 error from the workshop:

[code]

[2017-05-23 21:20] marscher commented on #1101
the map function needs to be wrapped in a list or tuple in Python3.

[2017-05-24 15:36] fnueske commented on #996
At first sight it seems this is not a real bug, just a weird outcome of the calculation: pcca does compute seven macrostates, as you have observed:

`T = np.load("Tm.npy")
M = pmsm.markov_model(T)
M.pcca(7)
chi = M.metastable_memberships
print chi.shape

(1195, 7)`

But none of the microstates is assigned to states 2, 3 or 4:
`np.unique(M.metastable_assignments)
array([0, 1, 5, 6])`

The metastabl

[2017-05-24 18:06] rafwiewiora opened #1103 "Suggestion to add ergodic cutoff to MSM estimation"
See the `ergodic_cutoff` parameter in MSMBuilder: http://msmbuilder.org/3.8.0/_msm/msmbuilder.msm.MarkovStateModel.html#msmbuilder.msm.MarkovStateModel

This would be super useful for our datasets, thanks!

(tagging @sonyahanson, @jchodera, @maxentile)

[2017-05-24 20:21] #1101 closed, assigned to nobody

[2017-05-24 21:27] marscher commented on #749
I think we have this now

[2017-05-24 21:27] #749 closed, assigned to nobody

[2017-05-24 22:10] franknoe commented on #1103
This is very easy to do. I suggest to add the parameter "
/mincount_connectivity=1/N/" to both MaximumLikelihoodMSM and
OOMReweightedMSM and to the API function, because the same parameter
name is used for the HMM estimator. I'm suggesting 1/N (number of
states) as a default cutoff instead of >=1 or >0, because when we us an
*effective* count matrix, we can have non-integer counts smaller than 1,

[2017-05-24 22:23] marscher commented on #1103
On 05/24/2017 05:10 PM, Frank Noe wrote:

I was also thinking of a name like this, because min_erdogicity is ambiguous.
I'm suggesting 1/N (number of

I can do it.

[2017-05-24 22:26] franknoe commented on #1103
thanks! Have a look at the HMM code to see how it's used there. To avoid
confusion we should use the same behavior.

Am 25/05/17 um 00:23 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin

[2017-05-24 22:31] marscher commented on #1103
On 05/24/2017 05:26 PM, Frank Noe wrote:

ok. Do you remember, if the bhmm.estimators._tmatrix_disconnected.connected_sets function works with sparse matrices too?

[2017-05-24 22:36] franknoe commented on #1103
There is no sparsity used in HMM's, because the transition matrix is
small and the membership vectors are generally quite dense.

Am 25/05/17 um 00:31 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6,

[2017-05-25 18:17] pgromano opened #1105 "PyEMMA 2.4: OrderedSet undefined symbol: PySlice_AdjustIndices"
I have some codes that use PyEMMA 2.3.2 implied timescale package, and I now run into an error loading the pickle files of the saved object. It looks like it's the cython files, are they precompiled? It could be my pickle file is looking for the wrong file name? I'd appreciate any help!

Best,
Pablo

The resulting error:
[code]

[2017-05-25 18:46] franknoe commented on #1105
Are you using Python 3.6? Then this is probably the Python 3.6 error
that affects all packages with cython modules. Upgrade to Python 3.6.1
(conda install python).

Am 25/05/17 um 20:17 schrieb Pablo Romano:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.fr

[2017-05-25 18:47] #1105 closed, assigned to nobody

[2017-05-25 18:47] marscher commented on #1105
https://bugs.python.org/issue29943

[2017-05-25 18:51] pgromano commented on #1105
@franknoe that fixed it, thanks for the help!

[2017-05-25 19:35] marscher commented on #1099
I think returning multiple models/estimators upon a parameter is very confusing and also breaks the API. Why don't we extend ITS to do handle TICA too?

[2017-05-25 19:44] marscher commented on #1105
In conda-forge this ABI breakage also has been fixed https://github.com/conda-forge/python-feedstock/pull/145

[2017-05-25 21:04] franknoe commented on #1099
That was the original plan and would work of course. The disadvantage
with this approach is that in order to make it very straightforward to
use we need a separate convenience function for every estimator, such as
timescales_msm, timescales_tica etc, which becomes unscalable. Also we
don't have to break the API, because if only a single lagtime is passed,
only a single estimator (not a 1-element l

[2017-05-25 22:06] franknoe commented on #996
I see. Yes, this is not a bug. It could occur if there is no spectral
gap after 7 states, and indicates that 7 states is just not a good
choice in this case. HMMs or other coarse-graining approaches might be
able to do better, but that's a different issue. I agree that issuing a
warning in this case would be useful, perhaps after the pcca call.

Am 24/05/17 um 17:36 schrieb Feliks Nüske:

--

----

[2017-05-26 00:25] stefdoerr commented on #996
I agree it can produce less states but what about the stationary probabilities? It's a problem if they don't sum to 1 no?

[2017-05-26 00:27] franknoe commented on #996
Yes. Feliks, can you look into that?

Am 26/05/17 um 02:26 schrieb Stefan Doerr:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-05-26 14:51] fnueske commented on #996
@stefdoerr : In your code, you are only summing up the stationary probabilities of those four macrostates to which microstates are assigned. But there are significant non-zero memberships to the other states as well. If you invoke (same variables as above)
[code]
all memberships are taken into account and the result is correct.
In this example, the crisp assignment of microstates to macro states i

[2017-05-26 15:40] stefdoerr commented on #996
Ah I see. So it's an artifact of the crisp assignmen that some macros are left without micros. I will have a look at it when I'm back.

[2017-05-26 20:28] marscher opened #1108 "Estimator MaximumLikelihoodMSM modifies parameters in __init__"
pyemma/_ext/sklearn/base.py:122: DeprecationWarning: Estimator MaximumLikelihoodMSM modifies parameters in __init__. This behavior is deprecated as of 0.18 and support for this behavior will be removed in 0.20.

[2017-05-26 20:31] marscher commented on #1108
we get the same warning for BayesianMSM

[2017-05-26 20:49] franknoe commented on #1108
Hmm, what does that mean?

Am 26/05/17 um 22:28 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
----------------------------------------------

[2017-05-26 20:57] marscher commented on #1108
On 05/26/2017 03:49 PM, Frank Noe wrote:

It seems like sklearn does not like copying input parameters around. In this case it complains because we are creating
a copy of the parameter connectivity by invoking str.lower() on it...
I think this is a far too restrictive policy (it makes sense for potentially large inputs like arrays), but not for such
simple objects. Since the 0.20 release is not go

[2017-05-26 21:20] franknoe commented on #1108
Can you point me to where we trigger this warning?

[2017-05-26 21:21] marscher commented on #1108
https://github.com/markovmodel/PyEMMA/blob/56a100ba26248d078d96406e22642818252a6248/pyemma/_ext/sklearn/base.py#L118

[2017-05-26 21:22] franknoe commented on #1108
I meant where we *trigger* the warning, i.e. where we do the cloning and
overwriting that leads to this. This is where the warning is raised.

Am 26/05/17 um 23:21 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:

[2017-05-26 21:24] marscher commented on #1108
On 05/26/2017 04:22 PM, Frank Noe wrote:

We clone estimators in the estimator_param_scan function (which is used in ITS).

[2017-05-26 21:38] franknoe commented on #1108
What I meant is which line in our code causes them to issue this
warning. I think you meant this?

https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/msm/estimators/maximum_likelihood_msm.py#L138

we are doing the same with count_mode

https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/msm/estimators/maximum_likelihood_msm.py#L133

We *could* avoid that by doing the .lower() wherever we

[2017-05-26 23:26] marscher commented on #1108
I think the philosophy of not modifying input parameters is not to confuse people, because their parameters are being treated in a different manner than expected. Adding this tolower() to all comparisons seems like a valid solution although it would most likely be forgotten at another spot in a future change, which will introduce a bug. Do you think there are a lot of people using connectivity="St

[2017-05-27 00:38] franknoe commented on #1108
Good idea - let's just check for a valid setting in the __init__ and
then set it as it is.

Am 27/05/17 um 01:26 schrieb Martin K. Scherer:

--

----------------------------------------------
Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de
Mail:  Arnimallee 6, 14195 Berlin, Germany
---------------

[2017-05-27 14:03] #1108 closed, assigned to nobody

[2017-05-29 13:32] giopina opened #1110 "dtram problem"
In the latest github version ('2.4+18.g5a95a0f') the dtram function uses by default connectivity='reversible_pathways', which apparently is not available for dtram.
The following is the output error
<details>
---------------------------------------------------------------------------
Exception                                 Traceback (most recent call last)
<ipython-input-42-9fa2475b2dca> in <mod

[2017-05-29 14:08] fabian-paul commented on #1110
You have to update thermotools.

[2017-05-29 15:17] giopina commented on #1110
Ok I solved it. It was actually a problem of conflicts between different versions.

[2017-05-29 15:17] #1110 closed, assigned to nobody

[2017-06-04 03:41] franknoe opened #1113 "Specify weights as arrays in TICA + LaggedCovariance"
We need the ability to specify weights as an available weight array or list of arrays in TICA + LaggedCovariance. I thought we had decided to do that but it now seems that it's only possible to have constant weights or weights that can be computed as a function like ``weights(X)``. However, in some cases weights cannot be computed like this. For example, when the weighting comes from Metadynamics,

[2017-06-04 07:46] fabian-paul commented on #1113
I think, we had a solution for this: https://github.com/markovmodel/PyEMMA/issues/1060#issuecomment-288060766 We just have to put this into pyemma. Maybe into the tica api function?

[2017-06-08 16:13] gph82 opened #1114 "[MSM.dt_model] : not always set automatically -> dangerous consequences"
Please read in full (and preferably on the web).

Reproducing this takes quite some time and I want to hear your thoughts before pulling newest devel and trying to reproduce.

It seems that the attribute 'dt_model' is not correctly set to the MSM.lag value in "some" of the objects in its.models when using the Bayesian estimator. This leads to dangerous behavior that @fabian-paul and me had observe

[2017-06-08 16:17] gph82 commented on #1114
pyemma.version 2.4

[2017-06-08 19:14] marscher commented on #1114
this is a description of #1083 I'd guess. Is dt_model only used to scale MFPTs? Nevertheless it is a serious bug, which should have been fixed already by me... Actually I have a branch on my laptop, but the battery is dead and my power supply is getting dusty in the office. I'll be back on Monday to fix it.

[2017-06-09 09:30] gph82 commented on #1114
dt_model is used for voodoo, if you ask me ;) but no, it also impacts MSM.timescales (see above)

[2017-06-09 09:57] fabian-paul commented on #1114
@gph82 can you set the log level to the highest value to make sure we're not missing any exceptions? In particular that nothing goes unnoticed due to
https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/_base/estimator.py#L146

[2017-06-09 11:10] gph82 commented on #1114
I cannot do that RN. However, I doubt any meaningful exception (I can be wrong), because the estimation *has worked*. Doing something like (pseudocode)
[code]
makes them fall back where they are expected

[2017-06-09 14:22] stefdoerr commented on #996
Ok, so I decided to essentially just decrease the number of macrostates until pcca returns the correct amount. I think this is the best solution from a user perspective:

[code]

For me, we can close this issue. I don't know if you want to throw a warning in such cases. Up to you.

[2017-06-09 14:22] #996 closed, assigned to nobody

[2017-06-09 14:33] stefdoerr commented on #996
Thanks also for all the help @fnueske !

[2017-06-12 05:50] euhruska opened #1115 "commute_map option for Koopman"
I'm running TICA with weights='koopman' and wanted to output as commute_map, but it claims that the 'koopman' option works only with kinetic_map. Both maps are simple scalings of the eigenvectors, so it should be allowed to have commute_map with Koopman, or did I forget something?

[code]

[2017-06-12 08:40] fabian-paul commented on #1115
Hi Eugen,

yeah, you did forget something. To switch off kinetic_map:
[code]

I know that's weird. But we are discussing ways to make the user interface more understandable https://github.com/markovmodel/PyEMMA/issues/1075

Fabian

[2017-06-12 12:52] euhruska commented on #1115
Ah, with kinetic_map=False it works. Thanks

[2017-06-12 12:52] #1115 closed, assigned to nobody

[2017-06-12 13:04] marscher commented on #1113
On 06/04/2017 09:46 AM, fabian-paul wrote:

Actually this is already released, isn't it?

[2017-06-12 13:15] franknoe commented on #1113
OK, I see. That would work now, but it's workaround, not a solution. This usage makes assumptions about how the estimator works internally. The meaning of the weights(X) function is to translate X into weights by a function F(X). You're creating a class with an internal state that assumes the estimators iterates along the trajectory and calls every X only once. There is no guarantee for that in ge

[2017-06-12 14:38] #1098 closed, assigned to nobody

[2017-06-12 15:24] marscher commented on #1113
okay I see your point. I'll add a PR for this.

[2017-06-12 16:06] marscher commented on #1113
I think this one is a bit tricky to implement for partial_fit, because in this case we don't have a time information. But in general it is possible. I would wrap the given weights list in a class I've just proposed. This of course assumes again, that every chunk will be passed only once and in linear time. I think we make this assumption internally in LaggedCovariance, because we pass an Iterable

[2017-06-13 14:30] marscher opened #1117 "[RunningMoments] zero weight leads to a ZeroDivisionError"
in Moments.combine there is a ZeroDivisionError: float division by zero error for very small weights (eg. 1E-99). Namely the division w = w2 / w1 fails for this case. In general we want to have these small weights in practice.

[2017-06-13 15:44] RobertArbon opened #1118 "hTICA implementation?"
Hi,

is there an implementation of hierarchical TICA as in the paper [Hierarchical Time-Lagged Independent Component Analysis: Computing Slow Modes and Reaction Coordinates for Large Molecular Systems](http://pubs.acs.org/doi/abs/10.1021/acs.jctc.6b00738) in pyEMMA?

I want to check there's not an available code for this before I write my own.

Thanks!

Rob

[2017-06-13 17:09] rafwiewiora opened #1119 "A database (?) error on pyemma.coordinates.source()"
Hit a problem while trying to do k-means on my TICA-projected trajs, `pyemma.coordinates.source(glob.glob('*.npy'))` errors, while it worked perfectly ok on the featurized trajs (arrays are even same dimensions, keeping all TICs).

Here's the error:
[code]

Interestingly, this hack makes it work:

[code]

(i.e keep making the list of files longer by one and repeat when it fails) - I tried this onc

[2017-06-13 17:36] rafwiewiora commented on #1119
A quick thought - the very first k-means job I run earlier today worked ok, but all further ones failed with this error. When I try to re-run on the trajectories that the first job worked on - it fails now too (although this is convoluted by a fact that in the progress of trying to figure this out I also re-made the TICA projected trajectories). And it seems like there's some database somewhere th

[2017-06-13 17:41] rafwiewiora commented on #1119
I should also mention a potentially related database problem. Last week I was doing TICA with many parameter choices, on many featurization choices - i.e. a lot of jobs running at the same time. Many of those were failing with:

[code]

which seemed to be caused by two jobs starting at exactly the same time and trying to access this database at the same time? (at least some of them would have prob

[2017-06-13 18:50] franknoe commented on #1119
I see. The database stores trajectory indexing information, so it's supposed to reduce runtimes whenever you read a trajectory more than once. However it's also supposed to be failsafe and fall back to default behavior whenever connection fails. Thanks for reporting this and please work with @marscher to resolve it. 

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: Ra

[2017-06-13 18:58] jchodera commented on #1119
@rafwiewiora: Were you also attempting to have multiple instances of pyemma run concurrently when this happened?

[2017-06-13 19:19] rafwiewiora commented on #1119
Yes - the job that was started as the first one worked, all others (in fact I had 40 jobs that should have been running then) failed after short time running with the error reported.

`rm -rf ~/.pyemma` appears to have helped - I just started one job which is running without error, will see if more jobs will work ok.

[2017-06-13 19:26] rafwiewiora commented on #1119
To this I should mention that my featurized and my TICA-projected trajectories have the same names: integers between 0-5020 + .npy, maybe that causes problems too.

[2017-06-13 19:29] rafwiewiora commented on #1119
I and @jchodera wonder: is there some environmental variable to set different pyemma instances to use a different temp folder / database, to avoid all of these problems?

[2017-06-13 20:06] marscher commented on #1119
There is indeed the option to set a temporary (or permanent) configuration directory by setting PYEMMA_CFG_DIR to an existing directory. But since it is undocumented, please don't expect it to work as expected (at least you will get an error, if the dir is not existent).

May I ask how many jobs you are using concurrently? Sqlite allows only for one job to write to the database at the same time. I

[2017-06-13 20:06] marscher commented on #1119
btw @rafwiewiora if you find the time, could you please have a look at your requested feature in #1106?

[2017-06-13 20:12] rafwiewiora commented on #1119
Ok, so `rm -rf ~/.pyemma` resolved the 50000 trajectories problem - how do I increase the database size though?

I thought the problem with some jobs failing if many run at the same time was that they were starting at the exact same time and at the same point accessing the database - but from the failures I saw again with this approach: (all failing with `sqlite3.OperationalError: database is lock

[2017-06-13 20:18] rafwiewiora commented on #1119
One more question:

Would doing a cfg directory per every single worker be a good idea so no workers have to wait in the queue / potentially fail?

[2017-06-13 20:32] marscher commented on #1119
On 13.06.2017 22:12, Rafal Wiewiora wrote:

http://www.emma-project.org/latest/Configuration.html#pyemma.util._config.Config.traj_info_max_entries

pyemma.config.save()

Yes, but the database will be locked even for a longer time, if the
capacity is reached.

No actually not, one job reads/writes to the database, then frees the
lock immediately. I've only tested this with < 20 jobs.

You can also

[2017-06-13 20:33] marscher commented on #1119
On 13.06.2017 22:18, Rafal Wiewiora wrote:

this would be absolutely fail safe, but no speed up will be gained (eg.
every worker has to read in the files again, which will also cause the
file system to block).

[2017-06-13 21:24] rafwiewiora commented on #1119
Thanks @marscher! Now I get what this does finally. So let me just write out exactly what I was doing (sorry I didn't reply above about how many jobs I had). I had two cases:

1) 5 featurization choices / 5 sets of trajs - do 20 choices of TICA parameters per each - so 100 jobs total - as far as I remember I tried to run maybe up to 40 if not 50 at the same time, when some of them failed with `sql

[2017-06-14 07:57] gph82 commented on #1118
Hi Rob,

at the moment there is no official implementation (yet). As you say, it is straightforward to implement yourself. And although a repository implementing and automating most of hTICA's workflow exists already, it is not ready for release yet.

[2017-06-14 07:57] #1118 closed, assigned to nobody

[2017-06-14 07:58] RobertArbon commented on #1118
Thanks for your reply.

I re-read the paper more closely and realised that the method is a lot simpler than I first imagined.

Thanks.

Rob

[2017-06-15 12:07] marscher commented on #1119
I think we have sorted this out. The file based database can not handle that many concurrent jobs. The options are either to turn of caching completely or using separate configuration directories for a subset of jobs (< 20).

[2017-06-15 14:42] marscher opened #1121 "appveyor tests are broken (eg. missing test dependency) for py27"

[2017-06-15 14:44] marscher commented on #1114
So far i was not able to reproduce this with our dtrajs @gph82. It is really mysterious that this behaviour is non-deterministic.

[2017-06-15 14:47] gph82 commented on #1114
At least you saw it as well with your eyes...what can I say

[2017-06-15 16:05] franknoe commented on #1119
I don't think it's sorted out, because it seems impossible for anybody running into this problem to sort it out without asking us. I would consider it sorted out once we have documented the solution in some place that can be found by a non-expert, or turning off database usage is made simple. @rafwiewiora , do you have a suggestion for what solution would work from an informed-user-but-not-develop

[2017-06-15 16:24] jchodera commented on #1119
That does sound like a great fallback solution!

[2017-06-16 15:20] rafwiewiora commented on #1119
That does sound like a great fallback solution!

Agreed.

How about a short section in the Docs on 'multiprocessing' - info about the existence of this database + anything else one should know before running many instances of PyEMMA? That way I would have definitely known this before running into the problem I think.

[2017-06-16 15:29] marscher commented on #1119
On 06/16/2017 05:20 PM, Rafal Wiewiora wrote:

how about you open up a PR on that, since you seem to be the user with
the most pyemma multiprocessing experience?

In principle things should work out of the box... #1112 improves this
assumption.

I'd be happy if you could re-run one of your jobs (eg. only the creation
of the source:

conda create -n test_failsafe_lru pyemma
source activate test_fai

[2017-06-16 16:39] rafwiewiora commented on #1119
Alright will do both!

[2017-06-22 13:45] #1113 closed, assigned to nobody

[2017-06-22 13:45] #1119 closed, assigned to nobody

[2017-06-28 17:18] j3mdamas opened #1123 "ImportError: pyemma/_ext/orderedset/_orderedset.cpython-36m-x86_64-linux-gnu.so: undefined symbol: PySlice_AdjustIndices"
Hi guys,

Got this error with PyEMMA 2.4 from conda, when calling TICA from our adaptive algorithm:

[code]

If I go back to PyEMMA 2.3.2, no problem whatsoever. As anyone faced any problem or am I missing something?

Thanks!

(cc @stefdoerr)

[2017-06-28 17:50] marscher commented on #1123
please upgrade to python 3.6.1 (and maybe use the search function the
next time before opening an issue).

On 28.06.2017 19:18, João M. Damas wrote:

[2017-06-29 12:14] marscher commented on #1123
#1105

[2017-06-29 12:14] #1123 closed, assigned to nobody

[2017-06-29 12:15] marscher commented on #1121
the problem just disappeared.

[2017-06-29 12:15] #1121 closed, assigned to nobody

[2017-06-29 12:16] #1114 closed, assigned to nobody

[2017-06-30 01:01] marscher opened #1124 "[MNT] support numpy-1.13"
We need to rerender all of pyemma's dependencies on conda-forge to support the new numpy release.

- [x] msmtools https://github.com/conda-forge/msmtools-feedstock/pull/9
- [x] thermotools https://github.com/conda-forge/thermotools-feedstock/pull/6
- [x] bhmm https://github.com/conda-forge/bhmm-feedstock/pull/3
- [x] mdtraj https://github.com/conda-forge/mdtraj-feedstock/pull/10
- [x] pyemma

[2017-06-30 15:52] marscher commented on #1083
fixed by #1116

[2017-06-30 15:52] #1083 closed, assigned to marscher

[2017-06-30 15:57] marscher commented on #957
By looking at the documentation this is fixed.

[2017-06-30 15:57] #957 closed, assigned to cwehmeyer

[2017-07-02 14:31] #1124 closed, assigned to marscher

[2017-07-05 14:50] marscher opened #1129 "MSM.vamp score documentation"
The documentation for K in the vamp scores states, that it should have shape (n, k), where k is the rank deficiency. However the routines are failing for this input shape and in MSM.score a (n, n) matrix being passed to vamp_score. So I guess the documentation is just wrong?

@franknoe can you please comment on this?