[2016-04-11 09:45] marscher commented on #767
This code branch has not been properly tested (since this test-case would require to eat up all system memory to provoke a MemoryError to be thrown.

The kmeans-c-extension is not capable of chunk-processing, so it copies all the data, which is a sub-optimal solution, but fast in case that the data fits into memory. Probably we should reconcile this implementation in favor of a chunk based one (eg

[2016-04-11 09:47] marscher commented on #759
@clonker I dont think the filename propery is the problem here, but the _itraj index which runs out of bounds. Maybe we should think about a setter for _itraj (which also raises StopIteration, in case it ran out of bounds) to ensure it will always be valid.

[2016-04-11 09:57] franknoe commented on #767
But why is a copy made when the data already is in memory? isn't it
possible to just get a reference in this case.

Am 11/04/16 um 11:45 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-04-11 13:20] #767 closed, assigned to nobody

[2016-04-11 13:22] franknoe commented on #767
Closed? The issue that a copy is made although no copy is needed is not addressed. Please comment.

[2016-04-11 13:23] marscher commented on #767
Auto-closed by a merged commit. The github workflow does not really suite Email only workflow - sorry.

Of course there is a follow-up issue about unnecessary copies made in kmeans.

[2016-04-11 13:24] franknoe commented on #767
I see.

[2016-04-11 13:27] marscher opened #769 "Kmeans unnecessary copies during clustering phase."
Already discussed with @clonker so far:
ping @franknoe
1. We can add the possibility to pass an Iterable to the C-extension, so it would not matter how large the data is. There would be no need for copies, but there exists some cases where it will be horrible inefficient (eg. costly features will be re-calculated for every iteration). For the inefficient cases we could show a warning, but it will

[2016-04-11 13:33] franknoe commented on #769
Since kmeans may need many iterations, I think it's OK to force that
data are in memory once the algorithm is performed. However, I don't
think it's necessary to force the input to be a DataInMemory Reader. I
think the issue can be restricted to the following:
1. If the input _is_ DataInMemory, just get a reference to the data (no
   need to copy)
2. If not, try to create a copy, and raise an exce

[2016-04-11 13:35] fabian-paul commented on #763
If i understand correctly, the core/lib directory is created only when mdtraj is installed.
When requesting mdtraj.capi()["include_dir"], are we in fact making sure that mdtraj is the freshly installed version (which might have been installed during the same setup.py develop call?)

[2016-04-11 13:35] marscher commented on #769
1. is an optimization which we should definitely add. Probably we had this on our list, but it got lost.

[2016-04-11 13:59] fabian-paul commented on #759
I guess it is lines 372 and 373 https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/coordinates/data/feature_reader.py#L372
that can make `self._itraj==self.number_of_trajectories()` and later makes access to `self._data_source.filenames[self._itraj]` fail.
How is `_itraj` supposed to work? Should we allow `_itraj==number_of_trajectories()` or not? The current code is contradictory.

[2016-04-11 14:34] clonker commented on #759
`_itraj` indeed can become `== self.number_of_trajectories()`, however the subsequent access to `self._data_source_filenames[self._itraj]` happens only if:

`_itraj < self.number_of_trajectories() (== self._data_source.ntraj)`.

The mistake is rather that in the case of `_itraj >= self.number_of_trajectories()` no `StopIteration()` is raised, which could be fixed in a general way like @marscher su

[2016-04-11 15:50] nsplattner opened #771 "inconsistency in feature selection for minimum distance calculation"
There seems to be an inconsistency in the final feature selection when reading a full trajectory (protein+water) instead of just a protein trajectory. The testcase is the following: minimum distances between two molecules are calculated from the same trajectory:
a) with a PDB and DCD of the full trajectory
b) with a PDB and DCD of the protein only of the same trajectory.
The two trajectories are i

[2016-04-12 12:46] marscher commented on #763
It should be the latest version (at least with respect to the version constraints we've set in setup.py). I am also using a development version of mdtraj and can not reproduce this.

From with the mdtraj dev directory ipython shell:

[code]

This also works from different locations to start ipython from. It should not matter if mdtraj is loosely installed in the local .eggs directory, since it sho

[2016-04-12 17:41] marscher commented on #759
In IteratorState we have both itraj and current_itraj attributes. What's the difference?

[2016-04-13 09:28] marscher commented on #752
Since there has been no response for 9 days, I assume it has been fixed.

[2016-04-13 09:28] #752 closed, assigned to nobody

[2016-04-13 09:33] stefdoerr commented on #752
I guess. I don't have time to check it these days, sorry.

[2016-04-13 09:48] marscher commented on #752
No problem. Please feel free to re open, if something does not work yet.

[2016-04-13 13:48] #750 closed, assigned to nobody

[2016-04-14 08:35] gph82 commented on #771
Hi Nuria, I'll look into this right away. In the meantime, some questions:
- could you use each original pdbfiles as 1-frame trajectories (infile=pdbfile) and see if this behavior persists. Looks like it's dcd-specific, since feat.describe seem identical.
- could you paste (or describe) the "ind_array". I assume it's the same in both cases?

If you point me the pdbfiles and some reduced versions o

[2016-04-14 08:58] gph82 commented on #764
will do and report back, thks

[2016-04-14 09:19] nsplattner commented on #771
O.k., I will send you the link to pdb/dcd example files (uploading may be inconvenient) and a script.

Thanks!

[2016-04-14 10:27] giopina opened #772 "Saving data to disk (clustering, tica)"
Hello,
## I was wondering what is the best way to store processed data (i.e. cluster centers and assignment) to disk. I'm using cPickle to save msm and hmm objects but it seems to have problems with the clustering output:

TypeError                                 Traceback (most recent call last)
<ipython-input-49-ded47764466e> in <module>()
----> 1 pickle.dump(cl_prova,open('prova.cl','w'))

/u/

[2016-04-14 13:00] marscher commented on #772
You could try another pickling library which is capable of serializing instancemethods.

[2016-04-14 13:19] franknoe commented on #772
We are planning to have an efficient support of that. Right now, why I mostly do is to create npzfiles and store the relevant attributes with corresponding keynames.
Direct pickling runs into the problems of the sort you have described. I think Guillermo also has constructed a pickle workaround.

[2016-04-14 14:18] gph82 commented on #771
I think I cannot reproduce the exact same error, can you check the notebook and see if it should capture the inconsistency that you found?

The numbers between both trajectories do differ, but If you look at the last cells, I've reproduced a copy of the full dataset, then reduced it to the protein-only dataset in memory. Then, not only the shape, but also the numbers coincide.

Are both trajectory

[2016-04-14 14:29] nsplattner commented on #771
I think you can not see the problem a this level. The trajectory I provided is exactly the same, just with a different subset of coordinate stored. I only saw that there is a problem
a) in the overall result when the feature is calculated (i.e. the minimum distances differ)
b) in the MDtraj compute_distances() routines, modifying the source code to print the number of distance used
The reason for

[2016-04-14 14:35] gph82 commented on #771
ahh..I see now what you meant with "If I check directly the number of atom_pairs passed to the MDtraj compute_distances() function it is smaller in a) than in b)"

Do you think periodic boundary conditions might have something to do with this? We might expose the periodic=True/False in our api to have more control.

I'll keep looking

[2016-04-14 14:35] marscher commented on #754
prior 2.1 we didn't use the "numpy x.x" pattern in conda recipe which means that we haven't pinned the numpy version. This is now fixed. Maybe we should add this to the FAQ.

[2016-04-14 14:36] nsplattner commented on #771
I have tested with and without periodic boundaries and the problem stays the same. So I think its unrelated.

[2016-04-14 15:37] gph82 commented on #771
As I expected, this is a problem of the original pbcs of the topfile. If repeat everything with a pdbfile directly extracted from full.pdb (selection=Protein), everything runs as expected. And the outputs numerically coincide. Can you confirm this?

Strangely, the inconsistency persists even with periodic=False in md.compute_contacts (see https://github.com/mdtraj/mdtraj/pull/1072). I'll keep look

[2016-04-14 16:03] nsplattner commented on #771
I can confirm this in case the PDB is created by trjconv, but not by VMD. So the problem seems to be the original formatting of the PDB. There is no PBC information directly provided in the PDB (and also it should not be used since the PBC information in the DCD is the one considered.)

Very strange...

[2016-04-14 17:02] gph82 commented on #771
I'll leave this open until we see what the mdtraj developers say.

[2016-04-14 17:03] gph82 commented on #771
oh, and, BTW, as usual, very dangerous to start a sentence with "as I expected"...turns out I was wrong.

[2016-04-14 19:23] marscher commented on #760
A comment to point 2: after reading https://www.sqlite.org/howtocorrupt.html I'm not sure whether it is a good idea to try storing this information on a shared file system.

[2016-04-14 19:30] franknoe commented on #760
I'm very open to drop the database / persistent storage for now. If it
can work robustly, it's nice to have of course. @clonker what do you think?

Am 14/04/16 um 21:23 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germa

[2016-04-15 08:27] franknoe commented on #760
BTW, Point 3: What does currently happen if multiple PyEMMA processes work in the same directory? I guess they won't write into the same logfile, will they?

[2016-04-15 09:26] clonker commented on #760
Since newer versions of sqlite (sqlite3), it is supposed to be thread safe (see, e.g., [here](http://sqlite.org/compile.html#threadsafe)). When opening a connection to the database in python, there should be a named argument `check_same_thread` which should prevent corruption in a multithreaded environment.
A simpler approach would maybe to have a small tool that generates such a database for a fi

[2016-04-15 09:45] marscher commented on #760
Thread safety is not the crucial point here, but multi-process (write-) access. There you will most likely corrupt the database file because file locking is not well implemented on network filesystems like NFS.
To point 3: Things would also be messed up here, since if the log file is in the same shared location, multiple processes will open the log file for writing. So we need to add a unique patt

[2016-04-16 18:23] franknoe commented on #765
The HMM Code has changed quite a lot in the recent versions, in
particular there have been improvements in 2.1. Please upgrade and try
again. I am closing this issue for now, feel free to open a new one if
you are still having problems with 2.1.

Am 09/04/16 um 19:53 schrieb jmondal1:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49

[2016-04-16 18:23] #765 closed, assigned to nobody

[2016-04-18 09:14] gph82 commented on #763
this went away with current devel version of both pyemma and mdtraj, cannot reproduce anymore. I'm closing

[2016-04-18 09:24] gph82 opened #775 "[coor.data.NumPyFileReader] FileNotFoundError: .pyemma/trajlen_cache.dir"
Got this. (takes about 30 min to reproduce, it's what I am doing now)

In the meantime, perhaps this is known to somebody. Note how in "dumb.py" some python3.4 dev has commented already "may raise KeyError" and indeed the error appears. Is the the error upstream?

All files in "npy_files" exist and have the same number of "columns"

[code]

[2016-04-18 09:26] franknoe commented on #775
I think we got to get rid of the default write behavior asap and release
a patch. This is causing too many problems.

Am 18/04/16 um 11:24 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-04-18 10:07] gph82 commented on #775
could not reproduce in a second run...I am putting this on hold

[2016-04-18 11:50] marscher commented on #775
Am 18.04.2016 um 11:26 schrieb Frank Noe:

[2016-04-18 11:52] franknoe commented on #775
thanks

Am 18/04/16 um 13:50 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-04-18 15:57] #757 closed, assigned to marscher

[2016-04-18 16:43] marscher commented on #775
will be fixed upon merge of #774

[2016-04-18 16:53] marscher commented on #759
@jchodera Actually I was not able to reproduce this chunksize mismatch error with the provided test data. Is it still occurring with the devel version?

[2016-04-18 17:05] jchodera commented on #759
Testing right now!

[2016-04-18 18:05] #775 closed, assigned to nobody

[2016-04-18 18:07] marscher commented on #760
All issues are now fixed by #774. I've turned of the persistence of the cache completely for the upcoming version. Before changing this again, we need to discuss whether it is better to have this handled by TrajDB.

[2016-04-18 18:07] #760 closed, assigned to nobody

[2016-04-18 18:26] franknoe commented on #760
Sorry for being unclear - at least we should discuss this issue in some
detail before pushing a release.
- So is the trajectory cache only in memory now, or is there some way to
  activate it? How does that behavior affect the calculations @gph82
  mentioned?
- Is the new behavior even tested in practical use?

Am 18/04/16 um 20:07 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of C

[2016-04-18 18:46] marscher commented on #760
Am 18.04.2016 um 20:26 schrieb Frank Noe:

https://github.com/markovmodel/PyEMMA/issues/775#issuecomment-211293446

[2016-04-18 19:05] franknoe commented on #760
Am 18/04/16 um 20:46 schrieb Martin K. Scherer:

Let's play with it a bit before releasing this patch.

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-04-19 07:35] gph82 commented on #763
here we go again....

[2016-04-19 07:38] gph82 commented on #763
For some reason, the mdtraj devel version is giving problems here..., had to "hide" my devel version (mv mdtraj mdtraj_bak) and run python setup.py develop (of pyemma) s.t. pyemma would get an older mdtraj version

[2016-04-19 12:21] gph82 commented on #775
confirm that this issue is no more

[2016-04-19 14:20] jchodera opened #776 "Memory usage in parallel minRMSD clustering"
I'm testing the recent #770 parallel clustering additions on a dataset with ~1M snapshots using 32 processes, and find it violates the 96GB memory limit I give it after ~12 hours.

Is it expected that memory usage should slowly grow during clustering, or are there provisions made to keep memory usage minimal when chunking is in use?

If the expectation is that memory usage should remain minimal, I

[2016-04-19 14:35] marscher commented on #776
I'd guess we have introduced a memleak. @clonker: we free the dists
pointer for every thread, right?

[2016-04-19 14:47] marscher commented on #776
Yes. There is a memleak, please stand by.

[2016-04-19 14:58] marscher commented on #776
This went on devel.

[2016-04-19 15:46] marscher commented on #776
Valgrind now reports no leaks in Pyemma's code (only im OpenMM initialization, couple of bytes, nothing to worry about).

[2016-04-19 15:53] jchodera commented on #776
Thanks!  So I should just be able to update `master` and reinstall?

[2016-04-19 15:54] jchodera commented on #776
Do you guys have a `pyemma-dev` conda package built from `master`?

[2016-04-19 16:02] marscher commented on #776
Precisely.

[2016-04-19 16:02] jchodera commented on #776
Testing now. Thanks!

[2016-04-19 16:09] franknoe commented on #776
I don't think we have a pyemma-dev build, or do we @marscher?

It might be useful to have that though - wouldn't that even be a
replacement for release candidates?

Am 19/04/16 um 18:02 schrieb John Chodera:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 B

[2016-04-19 16:15] marscher commented on #776
I think @jchodera is talking about nightly builds via http://nightli.es/

A nightly build is in my opinion a unstable version, which changes very frequently in comparison to a release candidate.

[2016-04-19 16:19] jchodera commented on #776
We add a small script to upload the tested package to anaconda cloud at the end of the `.travis.yml`, [like this](https://github.com/choderalab/yank/blob/master/.travis.yml#L48-L50). These packages are named `packagename-dev`, and are used by other dev recipes to make sure that you can quickly catch changes in upstream packages that break your own package. These are indeed unstable builds, but can

[2016-04-19 16:27] marscher commented on #776
I really like this idea! Is there any effort going on to standardize
this for omnia?

[2016-04-19 16:32] jchodera commented on #776
It's mostly standardized. See the [devtools](https://github.com/omnia-md/devtools) guidelines and recommended scripts.

[2016-04-19 16:51] marscher commented on #776
Alright. I've enabled it. Thank you very much!

[2016-04-19 16:53] franknoe commented on #776
Cool, thanks. How is this installed? Just `conda install pyemma-dev`, if the omnia channel is known?

[2016-04-19 16:59] marscher commented on #776
Yes - that should do it.

[2016-04-20 18:35] stefdoerr commented on #764
Wanted to mention that we have the same issue in another part. Noelia and me both have had it the last days.

http://pastebin.com/pbz8Nheu

[2016-04-20 18:45] stefdoerr commented on #764
As to the question of version, I also believe I only started seeing it on 2.1.x.
I was worried that it might again be a problem with statistics at extreme lag times.
Just head over to our issue if you want trajectories. Noelia seems to have some apparently, although I don't know if they are confidential.

[2016-04-20 20:00] franknoe commented on #764
Thanks! I think this is not a lagtime issue. Guille has also seen that
but I couldn't reproduce it so far. If you have a not too large example
raising this (maybe only some trajectories), it would be great if you
could post it.

Am 20/04/16 um 20:45 schrieb Stefan:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
We

[2016-04-20 20:01] gph82 commented on #764
I have not been able to reproduce with the latest devel, but I will try again
tomorrow with a difficult dataset

On 04/20/2016 10:00 PM, Frank Noe wrote:

##

Dr. Guillermo Pérez-Hernández
Freie Universität Berlin
Institute for Mathematics
Arnimallee 6
D-14195 Berlin
tel       0049 30 838 75775

[2016-04-21 09:00] gph82 commented on #764
yeap, this is still happening, and the dataset is not fancy or anything...

[code]

[2016-04-21 09:05] franknoe commented on #764
thanks, will look into it.

Am 21/04/16 um 11:00 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-04-21 09:05] gph82 commented on #764
do you want the sample data?

[2016-04-21 09:07] franknoe commented on #764
yes

Am 21/04/16 um 11:05 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-04-21 09:10] gph82 commented on #764
/group/ag_cmb/simulation-data/dtrajs.hmm.npy

[2016-04-21 09:24] gph82 commented on #764
Ran into the same error using MSM.cktest:

[code]

[2016-04-21 09:38] franknoe commented on #764
I think I know what's the problem. I can fix this soon.

Am 21/04/16 um 11:24 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-04-21 14:29] franknoe commented on #764
Stefan, did you install 2.1 with conda? Can you check which bhmm version you have?

[2016-04-21 14:41] gph82 commented on #764
trying now with
bhmm.**version**
'0.6.1'

will report back

[2016-04-21 14:47] gph82 commented on #764
yeap, this is now gone....

I forced the update of bhmm via conda install pyemma immediately followed by conda remove pyemma (to go back to the devel version).

@marscher and @noe: What would be the "proper" way of doing this? Any way one can trigger this update automatically when doing python setup.py develop on pyemma?

[2016-04-21 14:47] stefdoerr commented on #764
Frank, the issue is not in bhmm. In our case we don't use bhmms. We use `MaximumLikelihoodMSM`. Check the pastebin if you want.

[2016-04-21 14:48] gph82 commented on #764
@stefdoerr , can you check if this persists with the workaround proposed above?

[2016-04-21 14:50] marscher commented on #764
@gph82 actually we have enforced the upgrade to 0.6, via the constraint "bhmm >=0.6,<0.7", which is both present in conda recipe and setup.py.

[2016-04-21 14:54] gph82 commented on #764
hmm that's weird, because I was running 0.5, @marscher , I pull+python setup.py develop almost daily

[2016-04-21 14:54] franknoe commented on #764
OK. Leave this issue open. Guille's issue is due to the fact that his
bhmm wasn't up to date. This would have not occurred if he had installed
PyEMMA via conda, but I think thre is still a dependency problem via pip
install, because that should have triggered a bhmm upgrade when
installing the PyEMMA devel version.

The issue reported by Stefan is indirectly triggered when at least a
single estima

[2016-04-21 15:01] franknoe commented on #764
Putting the bhmm dependency problem into a separate issue...

Am 21/04/16 um 16:54 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-04-21 15:01] marscher commented on #764
Why does a single failure of estimate silently fail everything? What was the argument of failfast?

[2016-04-21 15:02] franknoe opened #778 "Enforce lower and upper version constraint also in setup.py"
We need to introduce do this also for setup.py to guarantee proper bhmm update when using pip.

[code]

see also:
http://stackoverflow.com/questions/8795617/how-to-pip-install-a-package-with-min-and-max-version-range

[2016-04-21 15:03] franknoe commented on #764
That's not supposed to happen. It's a bug.

Am 21/04/16 um 17:02 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-04-21 15:05] marscher commented on #764
:+1: Default value for failfast is true, so it should raise. Maybe the estimator itself does not raise, but just print a warning, which is might be never printed?

[2016-04-21 15:08] jchodera commented on #776
I can confirm that `pyemma-dev` is being pushed to [anaconda cloud](https://anaconda.org/omnia/pyemma-dev/files)---thanks!

I can also confirm the memory leak is gone.  It still takes ~40 hours for minRMSD clustering 1M configurations using equitemporally-selected generators on 32 threads, but it seems to work robustly now!  Many thanks.

[2016-04-21 15:08] #776 closed, assigned to nobody

[2016-04-21 15:15] marscher commented on #776
Thanks for the confirmation! And how long did it take before the parallel assignment code, eg. with one thread?

[2016-04-21 15:18] franknoe commented on #776
yeah, that's one reason why we usually work with TICA+kmeans. Also,
time-uniform clustering has performed extremely poor in the tests I have
made, but there's no systematic analysis of these things as far as a know.

Am 21/04/16 um 17:08 schrieb John Chodera:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   r

[2016-04-21 19:35] #778 closed, assigned to nobody

[2016-04-21 19:35] franknoe commented on #778
closed by #779

[2016-04-23 14:56] jchodera commented on #776
Looks like ~29h with 1 thread and ~132h with 32 threads.

[2016-04-23 14:57] franknoe commented on #776
I hope the other way around

Am 23/04/16 um 16:56 schrieb John Chodera:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-04-23 14:57] jchodera commented on #776
Ha!  Yes, the other way around.  Sorry!

[2016-04-25 09:01] gph82 commented on #764
With the updated bhmm (0.6.1), the problem does not appear when calling hmm ( https://github.com/markovmodel/PyEMMA/issues/764#issuecomment-212820705) but persists when calling cktest(https://github.com/markovmodel/PyEMMA/issues/764#issuecomment-212828119)

[2016-04-25 11:06] franknoe opened #781 "Implied timescale plots fails with a single timescale 2.1"
`plots.plot_implied_timescales` seems to have a problem in that it omits one timescale. As a consequence, for a 2-state trajectory that only has a single timescale, nothing will be printed. This problem is new - probably since 2.1.

As an example, this will plot nothing:

[code]

Whereas this will plot a single timescale:

[code]

[2016-04-25 11:12] franknoe opened #782 "IPython notebooks are not updated / integration test problems in 2.1"
The IPython notebooks on pyemma.org do not seem to have been updated since 2.0.2. Moreover, at least since the 2.1 releases, the outputs of these notebooks seem to not have been checked. For example the notebook

http://www.emma-project.org/latest/generated/model_selection_validation.html

suffers from issue #781 which is a functional failure, although no exception is raised. It is essential to re

[2016-04-25 11:24] marscher commented on #782
The notebooks run too long on Travis, eg. they hit the maximum wall time of 40 minutes. I've tested the notebooks for 2.1 locally and there was no problem.

[2016-04-25 11:32] franknoe commented on #782
1. This is a change in policy that we haven't discussed. I think
   automatic testing of the notebooks is important, we need to find some
   way to do this. They don't need to be run for every PR, but at least we
   need to make sure that the tests are run before the release.
2. Clearly there _is_ a problem, at least due to issue #781. This issue
   doesn't lead to an exception, but it is obvious

[2016-04-25 11:37] franknoe commented on #764
Here is a minimal example producing that problem:

[code]

I think the problem has been introduced by changing the behavior of the Estimator base class. It could be fixed by handling the exception in ImpliedTimescales, ChapmanKolgmorovTest etc, or by putting the Estimator back to the previous behavior. Not sure yet what's the best solution here.

[2016-04-25 11:37] marscher commented on #782
Am 25.04.2016 um 13:32 schrieb Frank Noe:

https://travis-ci.org/markovmodel/PyEMMA_IPython/builds/119287802

However these tests are only run, only if there is a change on the PyEMMA_IPython repository.
I've changed that now via nightly.es, so there will be a nightly test on basis of PyEMMA dev.

So we should add this step to the release procedure.

[2016-04-25 11:45] gph82 commented on #781
Hi, haven't  looked yet, but is it possible this is related to this https://github.com/markovmodel/PyEMMA/pull/728 ?

[2016-04-25 11:45] marscher commented on #764
Am 25.04.2016 um 13:37 schrieb Frank Noe:

[code]

[2016-04-25 11:48] franknoe commented on #782
Am 25/04/16 um 13:37 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-04-25 11:53] marscher commented on #782
Am 25.04.2016 um 13:48 schrieb Frank Noe:

[2016-04-25 11:59] marscher commented on #764
I think the problem is this code snippet:

[code]

The exception handler block re-raises the type of the exception, which
is not correct, since the "type" class does not derive from Exception base class.

But in joblib only the case of a proper exception (derived from BaseException) is
handled.

[2016-04-25 12:00] gph82 commented on #781
It does, working on a patch now

[2016-04-25 12:02] franknoe commented on #764
OK, what do you suggest?

Am 25/04/16 um 13:59 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-04-25 12:43] franknoe commented on #764
Please add a test-case with the minimal example. This code:

[code]

should not raise by default, but should raise when failfast=True.

[2016-04-25 12:46] marscher commented on #764
ok.

[2016-04-25 14:58] #781 closed, assigned to nobody

[2016-04-26 11:18] franknoe commented on #764
I think this issue is solved by #784

[2016-04-26 11:31] marscher commented on #764
Yes.

[2016-04-26 11:31] #764 closed, assigned to nobody

[2016-04-27 15:03] marscher opened #786 "MSM.mfpt crashes with LinAlgError in Trypsin_Benzamidine_HMM notebook"
During testing the trypsin_benzamidine_hmm notebook I've encounter the following problem. For lag time=1, the evaluation of kinetic/thermodynamic quantities the mfpt method fails for matrix A being singular. However T is fully connected and reversible.

@nsplattner suggested that the new bhmm version gives a converged estimate, which is in this case not converged because we only feed in a very sma

[2016-04-27 16:03] marscher commented on #786
For all lagtimes the off rates can not be computed:

[code]

[2016-04-27 17:17] franknoe commented on #786
T is clearly not fully connected. State 4 is absorbing.

I guess that means that this subset of data is actually disconnected.
The new HMM code provides much better convergence to the optimal
solution, so it reveals a problem that hasn't been seen before. I think
we have a larger set of trajectories (at least 20 microseconds), we
could try with those.

Since this is an issue with the data in the n

[2016-04-28 16:26] j3mdamas opened #787 "most updated PyEMMA (devel) now requires thermotools"
Hi,

I wanted to test your fix to a problem we were having with PyEMMA on HTMD (#764), but it seems like the devel branch now requires `thermotools` (in the new TRAM_estimator.py at least), while the previous release we were using (2.1.1) did not. Can you confirm this to me? Otherwise, I may be doing some mistake importing the module.

Thanks,
João

[2016-04-28 16:33] marscher commented on #787
Hi,

you're right, devel now has this dependency.
The setup.py and conda packages reflects this new requirement.

[2016-04-28 16:34] gph82 opened #788 "[coor/save_traj]: building of an index file?"
Hi, I don't know where this was introduced, but this was unknown to me:
save_traj relies upon indexing xtcs before carrying out its frame-of-file extraction.

![snap1](https://cloud.githubusercontent.com/assets/7518004/14893228/cecac358-0d6e-11e6-81aa-397c431c59ba.png)

If the index has not been constructed before, this is definitely NOT the moment to do it, imho. Notice that I have to wait 20h+ t

[2016-04-28 16:37] j3mdamas commented on #787
I updated the conda `thermotools` version and it's now working. Thanks Martin!

[2016-04-28 16:37] #787 closed, assigned to nobody

[2016-04-28 16:41] marscher commented on #788
We have to find a suitable solution soon.

In the meantime try reverting this change on your local branch:
git revert 9363956d190bb902759e3456746022b380f09cab

[2016-04-28 16:41] marscher commented on #787
You can also use the new conda package pyemma-dev

[2016-04-28 16:43] franknoe commented on #788
I agree. We should build the index lazily (i.e. just remember what you
know), but not run into the danger of wasting time by indexing
everything that is being opened.

Is this in a release or just devel?

Am 28/04/16 um 18:34 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:

[2016-04-28 16:43] gph82 commented on #788
Actually, I can prepare a PR that gives to option to choose between frames_from_files and frames_from_file here:https://github.com/markovmodel/PyEMMA/blob/b5d9d6a912bb5016747ea1bbf84f5ce985d73735/pyemma/coordinates/api.py#L643

[2016-04-28 16:47] gph82 commented on #788
That would cure it. Some optarg of save_traj along the lines of "no_cache=False".
""""
no_cache: boolean, default is False
                 If set to true, pyemma will skip the indexing of trajectories before accessing them. In some cases with short :py:obj:indexes arrays and long :py:obj:traj_inp" lists, this can be significantly faster. In others, with long :py:obj:indexes but short :py:obj:traj

[2016-04-28 16:51] franknoe commented on #788
I think defaults should behave well. Having bad behavior that you can
switch off optionally is not a good strategy.

Am 28/04/16 um 18:47 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-04-28 16:54] gph82 commented on #788
Agree, but I the thing is we don't know a priory what's "good" or "bad". In my case is disastrous, but in other it may not. I don't have a strong opinion here...it's really hard to know a priori, i think

[2016-04-28 16:56] franknoe commented on #788
I think it's clear. We are working with mass data, so no proactive
indexing of everything in addition to what is being read anyway. We
can't predict how the user wants to use the data.

Am 28/04/16 um 18:54 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.d

[2016-04-28 16:57] gph82 commented on #788
Got it!

What about sth like this?

[code]

[2016-04-28 16:59] franknoe commented on #788
This issue really has nothing to do with this particular function. It is
just triggered in this case by calling the function, but indexing should
not be controlled at this level.

Am 28/04/16 um 18:57 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

##

[2016-04-28 17:01] gph82 commented on #788
Well, then that is much bigger issue, I guess you have to ping @clonker and talk design.

I wrote the original save_traj to be able to work with lists of files in case the user has not built (or doesn't want to build) readers...but that got changed along the way

[2016-04-28 17:13] j3mdamas commented on #787
yeah, I saw that on a conda search. Thanks!

[2016-04-28 17:13] gph82 commented on #788
@marscher, I am not getting the revert to work...am I missing something?

[code]

[2016-04-28 17:17] gph82 commented on #788
plus, my proposed solution (https://github.com/markovmodel/PyEMMA/issues/788#issuecomment-215490138) would not be of any use, actually...

[2016-04-29 11:26] marscher commented on #788
What if we only index the files from which actually frames are going to be extracted?

So we just filter the given indices to kick out files, which are not desired.
This would then only trigger a pre-indexing of the desired files, not the whole list.

[2016-04-29 11:29] franknoe commented on #788
I suppose that makes sense. For xtc you'd anyway have to index the file
in order to extract frames - you could only save work on indexing in the
situation that only frames in the beginning of the file are requested.

Can you try it out and @gph82 checks how this behaves on his data?

Am 29/04/16 um 13:26 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biolo

[2016-04-29 11:41] gph82 commented on #788
Yeah I'll try it out.

Still think that it might be a bit overkill. I don't think there's a
general solution. Then one will be "sold" by whatever is in indexes...

I can think of scenarios where one would still choose not to build an
index and just stream through the needed files

On 04/29/2016 01:29 PM, Frank Noe wrote:

##

Dr. Guillermo Pérez-Hernández
Freie Universität Berlin
Institute for Mat

[2016-04-29 11:45] franknoe commented on #788
If files have been indexed, there is no reason not to use the
information. One just shouldn't waste time on indexing trajectories that
aren't used.

Am 29/04/16 um 13:41 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berl

[2016-04-29 13:32] j3mdamas commented on #787
Thanks a lot Martin, the pyemma-dev is really useful and easy!

[2016-04-29 13:33] marscher commented on #787
Am 29.04.2016 um 15:32 schrieb João M. Damas:

[2016-04-29 13:35] j3mdamas commented on #787
I see. Well, it ran on my machine and I could test that the issue we had is gone with the current dev. That's enough.

[2016-04-29 13:59] gph82 opened #789 "[msm/tpt] mfpt differs between tpt(msm, [a], [b]) and msm.mfpt([a], [b])"
I'm opening this so we don't forget to check this

[2016-04-29 23:37] rafwiewiora opened #790 "pyemma.coordinates.load suddenly broke"
Hi guys!

Not sure what's going on quite yet, but I've been seeing this since last night on `pyemma-dev` and I think `pyemma` conda packages (let me just do a complete clean up of the conda environment in a sec and confirm the release version is also doing this).

The error:

[code]

@jchodera also reporting the same thing with `pyemma-dev`:

[code]

while it's working ok for @maxentile with the `

[2016-04-30 03:35] franknoe commented on #790
Thanks for reporting. I don't know why the behavior might have changed
suddenly, as I don't see recent commits with changes in this code.
Latest change in `feature_reader` was 16 days ago.

However, it looks like this code branch runs into the issue of not
properly catching when an iterator runs empty (trying to get shape
information from a trajectory object that pops out of an iterator, but
is in

[2016-04-30 09:34] franknoe commented on #790
@clonker has addressed this issue in  #791. @rafwiewiora , please try again, and close this issue yourself if it works. Thanks again.

[2016-04-30 18:08] rafwiewiora commented on #790
Thanks for such fast fix! Confirming `pyemma-dev` working ok now, but not the release package yet.

Closing this, thanks again!

[2016-04-30 18:09] #790 closed, assigned to nobody

[2016-04-30 20:41] franknoe commented on #790
OK, we were planning a batch release anyway. Probably Mon/Tue.

Am 30/04/16 um 20:08 schrieb Rafal Wiewiora:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-01 16:17] rafwiewiora opened #792 "GLIBC problem"
So this is on our cluster (all ok on my Macbook), `pyemma-dev` throws this on clustering:

[code]

while if I install from the repo - all ok. Tagging @jchodera

[2016-05-01 16:21] jchodera commented on #792
`pyemma-dev` is built by travis using the docker infrastructure, which currently uses ubuntu 14.04.  Because of this, it's only usable on systems with a more recent GLIBC. Our CentOS 6.5 cluster doesn't have a recent GLIBC.

Solutions:
- You can `conda remove --yes pyemma-dev` and install it from the github repo source with `python setup.py install`
- You can wait for them to cut an official relea

[2016-05-01 17:10] franknoe commented on #792
The third solution sounds simple enough, but I'm pinging @marscher and
@clonker who are likely to have a more educated opinion on this than I do.

Am 01/05/16 um 18:21 schrieb John Chodera:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-02 10:25] marscher commented on #792
@jchodera wouldn't it also be easy to use the docker images of holy-build-box to just perform the build inside the image and perform the testing in the base travis image? Of course this would require some changes to the build-box image (move built packages to the mounted location).

like described here:
https://linuxconfig.org/how-to-share-data-between-a-docker-container-and-host-system-using-volu

[2016-05-02 12:01] jchodera commented on #792
That could work too if the overhead of downloading the image (which sometimes takes a few minutes) is acceptable. That reminds me that we also should be testing on OSX when possible.

I could experiment with this and take a stab at updating the devtools guidelines at http://github.com/omnia-md/devtools once I get something working, but it may not happen for a week or two. Let me know if you guys g

[2016-05-02 12:04] marscher commented on #792
Am 02.05.2016 um 14:01 schrieb John Chodera:

  That reminds me that we also should be testing on OSX when possible.

[2016-05-02 13:23] marscher commented on #786
I've updated the notebooks, they are currently being executed in the jenkins job.

[2016-05-02 13:23] #786 closed, assigned to nobody

[2016-05-02 23:09] jchodera commented on #759
I've managed to finish some clustering---it's MUCH faster with parallel clustering!---but the results we're getting from equitemporal generator selection with 1M snapshots and 10K clusters look, well, terrible.  I realize equitemporal clustering isn't optimal, but I'm surprised things are so bad.

I'm going to look into clustering some simpler systems (e.g. alanine dipeptide) with the parallel min

[2016-05-03 15:21] marscher commented on #782
I've now implemented nightly tests of the notebooks against pyemma-dev and automatic doc updates upon commits to pyemma repo.
The results are always visible in Travis and on http://www.emma-project.org/vdevel/ipython.html

[2016-05-03 15:21] #782 closed, assigned to marscher

[2016-05-03 15:27] franknoe commented on #782
Thanks!

Am 03/05/16 um 17:21 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-04 15:14] marscher commented on #480
This is still an issue. We really should use the approach which Robert pointed out. We need to collected all the frames via seek or just pass the desired indices to mdtraj.load (which will handle this efficiently via seeking in the future).

[2016-05-04 17:47] jchodera commented on #759
It appears that the results of equitemporal clustering can vary wildly depending on the number of threads used.  I'll open a new issue about this.

[2016-05-04 17:47] #759 closed, assigned to nobody

[2016-05-04 17:54] jchodera opened #794 "minRMSD clustering with equitemporally-selected generators gives wildly different results depending on number of threads used."
After getting some weird results using parallel minRMSD clustering with equitemporally selected generators in #759, I modified the script (thanks to @maxentile!) to apply equitemporal minRMSD clustering to an alanine dipeptide dataset.  The results appear to be wildly different depending on how many threads I use (selected via `OMP_NUM_THREADS`). Single-threaded results (`plot-1.png`) look great,

[2016-05-04 17:59] franknoe commented on #794
At least these two plots seem to do different things. One is the MLE
with the full data, which uses a sliding window. The other one looks
like it is a Bayesian MSM, so that would compute the effective count
matrix for the sampler, and the solid lines would be the MLE given that
effective count matrix which is different from the sliding window count.

So back to the issue - can you confirm directly

[2016-05-04 18:49] jchodera commented on #794
There are 10 trajectories for which discrete trajectories are produced.
The first (`0.npy`) is identical:

[code]

but the next trajectory is very different:

[code]

Happy to share these files if they would be of help!

[2016-05-04 18:59] franknoe commented on #794
I see. I guess @marscher needs to look into this. Is it possible that
there is just a change of labels because of a different order of listing
cluster centers in the multithread version?

Am 04/05/16 um 20:49 schrieb John Chodera:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:

[2016-05-04 22:05] jchodera commented on #794
The input trajectories have the same order, so the filenames (`0.npy`, `1.npy`) should be preserved.

If the cluster labels were exchanged, why would the first trajectory (`0.npy`) be assigned the correct cluster center IDs but the other trajectories be assigned different IDs?

[2016-05-05 05:56] franknoe commented on #794
Yeah, it seems unlikely. Can you confirm that cluster _centers_ are different too between the two runs or is there just an assignment issue?

[2016-05-05 12:58] jchodera commented on #794
Which attribute or method do I want to call to retrieve the cluster
generator snapshot indices or configurations?

http://www.emma-project.org/latest/api/generated/pyemma.coordinates.clustering.UniformTimeClustering.html

[2016-05-05 12:59] franknoe commented on #794
clustercenters

Am 05/05/16 um 14:58 schrieb John Chodera:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-05 14:53] jchodera commented on #794
The `clustercenters` are identical between 1 and 8 threads, but the cluster assignments differ wildly:

[code]

Script:

[code]

[2016-05-05 15:06] franknoe commented on #794
Thank you! So then it's definitely an issue, and the problem occurs
during assignment, i.e. it is independent of UniformTimeClustering.
Let's see what @marscher says.

Am 05/05/16 um 16:53 schrieb John Chodera:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 1419

[2016-05-06 08:46] marscher commented on #794
Thank you again for testing/analyzing potential problems for the new parallel assignment code, but unfortunately I can not reproduce what you just observed with a simple test like this:

[code]

How many threads/ or how many cores does your testing system have? I will re-run our tests on a system with more cores,
but I would assume that if the OMP code is correct, it will reproduce the same result

[2016-05-06 08:49] marscher commented on #794
The used chunk size may also be of interest to me

[2016-05-06 09:11] marscher commented on #794
I think it is only related to the minRMSD metric. I will look into this

[2016-05-06 11:28] marscher commented on #794
There are a lot of slightly populated centers in the parallel case. Since the loop is the same for euclidean distance, I assume that there is some kind of interference of the SSE code (mdtrajs theobald algorithm implementation) with OpenMP threads.

[code]

I've already checked that the centers array stays unmodified for every iteration. So at least there is no side effect due to a changing the ba

[2016-05-06 12:12] marscher commented on #794
I'll suggest for now to enforce single threaded execution in case of minRMSD metric, otherwise people will just run into the same problems as John. I'll put this in the already opened PR for this issue.

[2016-05-06 12:17] franknoe commented on #794
Agreed. Thanks.

Am 06/05/16 um 14:12 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-06 15:33] jchodera commented on #794
Thanks for the detective work here!

@mpharrigan may also have insight into mdtraj thread safety.

[2016-05-06 19:53] jchodera commented on #794
@marscher: Are you sure it isn't just a problem with the OpenMP directives?

On [this line](https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/coordinates/clustering/src/clustering.c#L136), you are copying data into `buffer_a` and `buffer_b` in each thread, but you haven't declared those buffers to be thread-private in [this line](https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/coordi

[2016-05-09 08:59] franknoe commented on #788
What's the situation with this issue?

[2016-05-09 09:01] franknoe commented on #674
I think this is done. Is there a developer documentation for it yet?

[2016-05-09 09:39] marscher commented on #794
This has been fixed in #796

[2016-05-09 09:39] #794 closed, assigned to nobody

[2016-05-09 09:42] franknoe commented on #794
yay!

Am 09/05/16 um 11:39 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-09 09:51] marscher commented on #788
I'm resolving the last problem on my bug fixing branch.

[2016-05-09 09:53] franknoe commented on #788
ok!

Am 09/05/16 um 11:51 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-09 09:57] marscher commented on #674
I can quickly wrap these things up. Where do prefer to store them? In the wiki?

[2016-05-09 09:59] franknoe commented on #674
The Wiki is more of a brainstorming place. What about a "cmb-internal"
section in the developer docs?

Am 09/05/16 um 11:57 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-09 10:00] marscher commented on #674
Am 09.05.2016 um 11:59 schrieb Frank Noe:

[2016-05-09 10:01] franknoe commented on #674
I know, but the Wiki is public too. BTW, we could at least publish the
results of these tests and over time we can work towards making the
tests publishable (once they don't rely on non-publishable data anymore).

Am 09/05/16 um 12:00 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:

[2016-05-09 10:06] marscher commented on #674
Thats true. At the moment the tests rely heavily on data stored in house so. For the next release we can sort this out. At the moment the tests are executed on the cluster and the results are compared between specified versions. The results are currently on my private Jenkins instance, but I should move them - or publish the results to some yet unspecified location.

[2016-05-09 10:10] franknoe commented on #674
Yes. I think for pure performance tests it might also be OK to just
generate synthetic data, and that could be done with very little code.
After all the performance should just depend on things like number of
trajectories, number of samples, number of dimensions, storage format
when reading from files etc. I think when properly generalizing this we
could even sample some of these properties automa

[2016-05-09 10:26] marscher commented on #763
I blame mdtraj for this, since these headers are public API of mdtraj. You should report upstream. The error seems to be that the headers are not exported during setup.py develop (which itself invokes build_ext)

Pinging @mpharrigan

[2016-05-09 10:30] franknoe commented on #763
So it works with `setup.py install` but not with `setup.py develop`?
That's strange, because I've never run into this error, although I
always install things from the source with `develop` option. I agree
we should discuss this issue with the mdtraj folks, probably it's a very
minor fix for them if the header isn't exported in some specific scenario.

Am 09/05/16 um 12:26 schrieb Martin K. Scherer

[2016-05-09 11:29] gph82 commented on #763
problem was with the mdtraj dev version, which I had at the moment. I have not tried yet with the new conda release. I'll report back soon.

[2016-05-12 16:06] jchodera opened #799 "Allow featurizer to take Topology argument in addition to PDB files?"
Would it be possible for `pyemma.coordinates.featurizer()` to accept a `Topology` object as a substitute for a PDB file?  The current API suggests only a filename is permitted right now:

https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/coordinates/api.py#L67

[2016-05-12 16:09] gph82 commented on #799
@jchodera you can:
https://github.com/markovmodel/PyEMMA/blob/8c695c5dcf78eba7176fea21a770b0925e7c66c5/pyemma/coordinates/data/featurization/featurizer.py#L55

it's just not actually documented...

[2016-05-12 16:09] franknoe commented on #799
I think that's already possible, see

https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/coordinates/data/featurization/featurizer.py#L54

but should be documented.

Am 12/05/16 um 18:06 schrieb John Chodera:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 1

[2016-05-12 16:46] jchodera commented on #799
Thanks!  Looks like you just need to [update the docstring](https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/coordinates/api.py#L72-L73) then.

[2016-05-12 16:57] marscher commented on #788
Still some hassle to solve with the FragmentedReader. It seems it collects the frames in wrong order. I've implemented a special case for the FeatureReader and also for FragmentedReader to return mdtraj.Trajectory objects (to have unit cell information in place).

I think @clonker and me can sort this out tomorrow.

[2016-05-12 17:29] jchodera commented on #799
Closed via #800

[2016-05-12 17:29] #799 closed, assigned to nobody

[2016-05-12 18:09] franknoe commented on #788
ok, thanks

Am 12/05/16 um 18:57 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-13 00:31] marscher commented on #604
I think we've handled that via the coordinates refactoring branch merged already in 2.1

[2016-05-13 00:33] marscher commented on #420
I found and fixed a major slow down, which has been introduced via an inefficient  stack inspection in the deprecated decorator. This is still present in the latest release of msmtools, so we should also make a new release to sort this out. The necessary changes are already merged there.

[2016-05-13 04:04] franknoe commented on #604
yes

Am 13/05/16 um 02:31 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-13 04:04] #604 closed, assigned to nobody

[2016-05-13 07:30] marscher commented on #769
For this to work the c-code needs to be adopted to take a list of contiguous c-arrays. Currently it only supports one large chunk - this is why we are making a copy.

The optimized cases will then include DataInMemory and DataSource.in_memory=True.

[2016-05-14 14:48] marscher commented on #763
Should be fixed upon merge of https://github.com/mdtraj/mdtraj/pull/1118

[2016-05-14 18:53] marscher commented on #763
fixed.

[2016-05-14 18:53] #763 closed, assigned to nobody

[2016-05-16 14:24] #788 closed, assigned to nobody

[2016-05-16 18:42] gph82 commented on #238
This should have been closed with PR #733

[2016-05-16 18:42] #238 closed

[2016-05-17 13:52] marscher commented on #420
@franknoe Shall we cut a new msmtools release for this purpose?

[2016-05-17 13:54] franknoe commented on #420
Sure, why not.

[2016-05-17 13:54] marscher commented on #756
There is a "Bayesian confidence intervals for the mean, var, and std." in SciPy, maybe we should use that:
https://github.com/scipy/scipy/blob/v0.17.0/scipy/stats/morestats.py#L43-L139

[2016-05-17 13:59] franknoe commented on #756
that's interesting, I will have a look at it.

Am 17/05/16 um 15:54 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-17 14:04] marscher commented on #420
with the fix in msmtools it is now much quicker to import.

[2016-05-17 14:04] #420 closed, assigned to marscher

[2016-05-17 14:04] franknoe commented on #420
thanks.

[2016-05-17 15:58] marscher opened #804 "config uses deprecated class SafeConfigParser"
This has been deprecated as of Python 3.2. Seek for alternatives.

[2016-05-17 18:18] marscher commented on #749
Isn't that just a duplicate of #570?

[2016-05-17 18:19] franknoe commented on #749
It is indeed!
Feliks is currently working on that.

Am 17/05/16 um 20:18 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-17 18:23] marscher commented on #749
Ok. I'll close the older issue then

[2016-05-17 18:56] marscher opened #806 "DeprecationWarnings are not shown (default filter)"
introduce our own type for "UserDeprecationWarning"

[2016-05-17 19:19] marscher commented on #772
I have a feature branch for this since a couple of weeks, but it is not yet mature.

[2016-05-17 20:07] franknoe commented on #772
ok, we can discuss it next week.

Am 17/05/16 um 21:19 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-18 02:18] #416 closed, assigned to nobody

[2016-05-18 04:04] #806 closed, assigned to marscher

[2016-05-18 15:17] franknoe opened #808 "pyemma.plots.plot_markov_model doesn't accept arrow_labels=None anymore"
In `pyemma.plots.plot_markov_model`, `arrow_labels=None` used to work before, but now leads to the following failure. I guess this is due to #793 that I unfortunately merged. I think we will have to add tests for the plots as well - not necessarily test the output as that is visual, but at least test for non failing using the Agg backend.

[code]

[2016-05-18 15:18] marscher commented on #808
Damn and I just pressed the release button...

[2016-05-18 15:21] gph82 commented on #808
Hi @franknoe , i think this was me. Can you please post the code that lead to the error?

[2016-05-18 15:21] franknoe commented on #808
that's ok, it's a minor thing and probably easy to fix. It's fine to put
it in the next patch.

Am 18/05/16 um 17:18 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-18 15:23] franknoe commented on #808
Just run plot_network with arrow_labels=None, the rest doesn't matter.

Am 18/05/16 um 17:21 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-18 19:34] #808 closed, assigned to nobody

[2016-05-19 16:18] marscher commented on #570
closing in favor of #749

[2016-05-19 16:18] #570 closed, assigned to nobody

[2016-05-25 15:13] marscher opened #810 "serialization of models and estimators"
During working on the serialization branch, I noticed that there is a little inconsistency for this attribute.

@franknoe is this intended or can I safely change this?

[2016-05-25 17:07] franknoe commented on #810
No, both are hidden variables, there is no intentional difference between them.

For the serialization, I think it is important to not simple store and load everything but to only store / save stuff that is important to reconstruct the model. I think the estimator and model parameters are probably a good start here. So let's discuss this before investing much in the implementation of this feature.

[2016-05-25 18:06] marscher commented on #810
The prototype already contains model and estimator parameters serialization, plus some hidden fields for MSM and MLMSM. This is actually needed for the use case
of restoring an estimated estimator, which is quite common. For instance a lot of methods in MLMSM rely on hidden fields set during estimation or even in
constructor. If would simply omit their serialization, the restored object will behav

[2016-05-25 18:39] franknoe commented on #810
ok, let's discuss it soon. My idea was that we definitely have to revise
some of the estimator / model objects, because most of them (especially
the ones written by me) are a little bit sloppy with respect to how
internal attributes are defined and named. A save/load protocol forces
us to think about these things more explicitly.

Am 25/05/16 um 20:09 schrieb Martin K. Scherer:

##

---

Prof. Dr.

[2016-05-25 18:40] franknoe commented on #810
btw, can you make this a public branch, so we can review and discuss it
while in progress?

Am 25/05/16 um 20:09 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-25 18:51] marscher commented on #810
The branch is visible on my fork:
https://github.com/marscher/PyEMMA/tree/models_estimators_serializeable

You're right, should tidy up before we establish naming conventions.

[2016-05-25 19:26] franknoe commented on #810
Can you push it to a feature branch in the public repo? This way we can
both commit or PR to it.

Am 25/05/16 um 20:51 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-25 19:28] marscher commented on #810
Am 25.05.2016 um 21:26 schrieb Frank Noe:

[2016-05-25 19:29] marscher commented on #810
same name, just in this repo.

[2016-05-25 19:33] franknoe commented on #810
yeah, makes it easier to find it without remembering on whose feature
branch it was. thanx.

Am 25/05/16 um 21:29 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-26 15:44] gph82 commented on #527
Hi, I'm starting to need this feature...any ideas it's best? With some pointers I can gladly start implementing myself

[2016-05-26 15:49] marscher commented on #527
I guess you would need to expose this info from the low level estimator in msmtools and bind it in pyemmas class.

[2016-05-26 16:01] gph82 commented on #527
This is somewhat related: what about starting by exposing some arguments of MaximumLikelihoodMSM (or BayesianMSM) like maxiterations? I mean, at least after its reports no convergence one could repeat the estimation wit more iterations, right? What do you think, @franknoe ?

[2016-05-26 16:05] marscher commented on #527
Am 26.05.2016 um 18:01 schrieb Guillermo Pérez-Hernández:

[2016-05-26 16:06] gph82 commented on #527
sure, but not at the moment of calling msm.its, right? Because I don't know which one of the models is behind the "not-converged" logging message. Or am I missing something

[2016-05-26 16:07] franknoe commented on #527
yes, but it would restart estimating from scratch. There is currently no
way to continue the iteration. I'm also not sure what would be the
sklearny way to doing this.

Am 26/05/16 um 18:05 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6

[2016-05-26 16:10] marscher commented on #527
Am 26.05.2016 um 18:06 schrieb Guillermo Pérez-Hernández:

A simple solution would be to introduce a converged attribute which is a list of booleans. We catch the msmtools.NotConvergedWarning and set the flags
accordingly. Or a dictionary keyed by lag time?

[2016-05-26 16:11] gph82 commented on #527
at the moment, what can I do with the "not-converged" info after an ITS estimation? Not much, because I do not know which ones are converged and which don't. Don't mind restarting from scratch if I can help cure that (on the other hand, I think my pathological case won't be helped by this). It's kind of limiting that many of the nice properties of the MSM estimation cannot be controlled when using

[2016-05-26 16:11] gph82 commented on #527
@marscher , that's exactly what I had in mind https://github.com/markovmodel/PyEMMA/issues/527#issuecomment-221917979

[2016-05-26 16:13] franknoe commented on #527
Yeah, I think memorizing the results (convergence info, likelihood, ...)
of the low-level estimation in the Estimator is the right way to do
this. Then you can inspect it a posteriori.

Am 26/05/16 um 18:11 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.d

[2016-05-26 16:17] gph82 commented on #527
that would enable the identification of the non-converged lagtime and the repetition of the estimation for only that model. Would something like this work automagically?:

[code]

[2016-05-26 16:20] franknoe commented on #527
See above - the convergence info should be a property of the
**Estimator**, not of the timescales command. Currently timescales are
used with Estimators where convergence info could be available, but this
is not going to be valid in the future.

Am 26/05/16 um 18:17 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Ber

[2016-05-26 16:21] marscher commented on #527
Am 26.05.2016 um 18:17 schrieb Guillermo Pérez-Hernández:

[2016-05-26 16:30] gph82 commented on #527
ok, of the estimator then, as long as I can reach them through something like its.model[2].converged, i'm happy. Plus, other estimators might not have the convergence attribute, so yeah, makes more sens.

[2016-05-26 16:31] franknoe commented on #527
This will make no sense if e.g. in the future we use TICA with an
estimator command. It's also unclear what convergence means with a
Bayesian estimator - certainly it isn't a boolean quantity in that case.
Convergence-Info (including if and what kind of convergence info is
available) is highly estimator specific. Let's say we add an attribute
`converged` to `MaximumLikelihoodMSM`, meaning that we

[2016-05-27 11:18] franknoe commented on #810
I've looked at the serialization code. I don't understand it in great detail, but two general comments:
1. I agree we should save objects by `obj.save(filename)`. I think it would be good to have load in a central place, so that the user doesn't have to guess which object type they want to load, e.g. simply `pyemma.load(filename)`. I guess that the `load` function in your serialization module can

[2016-05-27 11:28] marscher commented on #810
On 27.05.2016 13:18, Frank Noe wrote:

It does not store all attributes, but only the relevant (eg. defined)
ones. For estimators the estimator parameters will be stored, for models
the model parameters. Now for specialized subclasses one can define a
static field "_serialize_fields", which is a tuple of attribute names,
which will be tried to store (eg. in case the estimation has not
happened dur

[2016-05-27 11:39] franknoe commented on #810
OK, you need to look in the subclasses. Thanks, I'll have a closer look
into those.

Am 27/05/16 um 13:28 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-05-27 11:43] marscher commented on #810
Currently it is implemented for MSM and MLMSM

[2016-05-27 21:01] franknoe opened #812 "Make estimate_umbrella_sampling input robust"
This concerns the input of `pyemma.thermo.estimate_umbrella_sampling`, but perhaps there are similar issues in other functions of `thermo`.

Generally any kind of error with the input format will raise an exception that is uninterpretable unless you are a Python Guru. Since this is an API function, it should rescue any kind of input that _can_ be interpreted in the right way, and it should help th

[2016-05-27 23:16] fabian-paul commented on #812
I think for point 1, we can use np.ascontiguousarray(arr).reshape((-1,1)) for 1-D arrays to avoid the copy (if possible).

[2016-05-29 12:49] cwehmeyer commented on #812
PR #813 addresses this problem for `estimate_umbrella_sampling()` in the thermo module. Data formats which should be accepted are now handled within the protected `thermo.util` functions and inconsistencies in the data will be caught by `assert`.

This is only a first step, though. We should write some more tests to check that really all inconsistencies are caught.

[2016-05-30 13:51] thempel opened #814 "kmeans minRMSD bug"
There seems to be a bug in the kmeans clustering algorithm if used with minRMSD metric. What happens is that the ipython kernel dies without an error message. This problem occurred first with an aligned MD trajectory but can be reproduced with the following minimal example.

`import numpy as np`
`import pyemma.coordinates as coor`
`test_data = np.random.rand(500, 3)`
`test_clustering = coor.cluste

[2016-05-30 14:13] marscher commented on #814
confirmed. Expect a fix soon.

[2016-05-30 15:15] #814 closed, assigned to nobody

[2016-05-30 17:02] fabian-paul commented on #812
I have done some negative testing. There could be additional checks.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2016-05-30 19:57] marscher commented on #812
by the way it is preferable to use if clauses to check the input and raise ValueErrors, since the input is faulty and this exception type should be used for this purpose. In addition assertions could be simply turned off, in which case no input checking will be performed.

[2016-05-30 20:25] cwehmeyer commented on #812
Thx, @fabian-paul and @marscher
I will add your test cases and recommendations to #813

[2016-05-31 12:16] cclementi opened #817 "http://www.emma-project.org/ is not updated to include version 2.2 and doesn't have documentation for tram"
Hi, I have just noticed that the online documentation of pyemma has not been updated to include version 2.2, and there is no documentation on tram in the thermo package.
Also, in the documentation that is available for the estimate_umbrella_samplng function right now (see http://www.emma-project.org/latest/api/generated/pyemma.thermo.estimate_umbrella_sampling.html#pyemma.thermo.estimate_umbrella_

[2016-05-31 12:19] marscher commented on #817
Hi,

sorry, the trigger hasn't been pulled yet. The docs are currently building. Thank you!

[2016-05-31 13:34] marscher commented on #817
done

[2016-05-31 13:34] #817 closed, assigned to nobody

[2016-05-31 15:36] cclementi opened #818 "tram documentation"
Hi, this is related to issue I opened earlier (#817, now closed). I see that the online documentation has been updated to include version 2.2 (with tram). However, if you look for instance at the documentation for the function pyemma.thermo.estimate_umbrella_sampling (see http://www.emma-project.org/v2.2/api/generated/thermo-api/pyemma.thermo.estimate_umbrella_sampling.html#pyemma.thermo.estimate_

[2016-05-31 15:39] franknoe commented on #818
+1. Also the MEMM documention is not really revealing. I think if you
have an MEMM, the models will be MSMs, won't they? - so that should be
linked too.
 From estimation_umbrella_sampling you could get a MEMM or a
StationaryModel, depending on which estimator is used, so that would
need to be distinguished in the docs.

Am 31/05/16 um 17:36 schrieb Cecilia Clementi:

##

---

Prof. Dr. Frank Noe
H

[2016-06-01 13:58] franknoe commented on #818
Actually, the models attribute doesn't even appear in the documentation. I think we could solve that by defining a getter and setter for the property `models` (we need both, otherwise we just mask the attribute and can't write to it anymore) and documenting the getter.

[2016-06-01 14:52] sstolzenberg opened #821 "chain information in featurizer _describe_atom function?"
Hi,

it would be great to have some chain ID information in the _describe_atom method in

pyemma.coordinates.data.featurization.util

As far as I understand, the only way to retrieve this information with mdtraj is via
at.residue.chain.index
where "at" is an atom object, and the type of "index" is an integer

Is it possible to change this myself? (Guille found out 70 usages for this function)

Tha

[2016-06-01 15:04] gph82 commented on #821
@sstolzenberg , the function returns one single string anyway, so he extensions would be much easier than expected. If we're for this, I can implement it

[2016-06-01 15:08] sstolzenberg commented on #821
OK, fine by me

Thanks,
Seb

On 01.06.2016 17:04, Guillermo Pérez-Hernández wrote:

##

---

Sebastian Stolzenberg, Ph.D.
PostDoc, Computational Molecular Biology group
Freie Universität Berlin

Phone: (+49) (0)30 838 75153

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-06-04 18:24] cclementi opened #824 "tiny issue on Jupyter Notebook Tutorials"
Hi, I am looking at the tutorial:
http://www.emma-project.org/latest/generated/PyEMMA.thermo.estimate_umbrella_sampling_-_asymmetric_double_well.html
and I noticed that in the "Performance" section there is some text that has not been rendered correctly (from a LaTeX input, I guess):

Now, we compare mean first passage times (MFPT, kinetics) for MSM, dTRAM, and TRAM; reference values are 370$30ste

[2016-06-04 18:44] cclementi opened #825 "TRAM"
Hi, I am running TRAM with 500 states obtained by clustering the first 10 TICs from a total of 300,000 frames) and I get the following warnings that I don't understand:

finding connected set:   5% ( 29/500) [########                                                                                                                                           ] eta 01:55 -/home/mi/cclementi/anaconda2/li

[2016-06-05 07:38] fabian-paul commented on #825
Hi @cclementi,

The EmptyState state warnings are intentional. This means that the connectivity measure  'post_hoc_RE' sees no overlap between thermodynamic states {0,1,2} and the rest. I guess because the set of other thermodynamic states {3,4,..} is larger (in terms of total number of micro states), it got picked up as the largest connected set. This might actually not be what you want (?) But t

[2016-06-05 07:42] franknoe commented on #825
I think the Warning should not be shown, because it looks like something
is seriously wrong.
1. Would this work?
   https://docs.python.org/2/library/warnings.html#temporarily-suppressing-warnings
2. Alternative: Only do np.log() on the nonzero index set, and set the
   rest to Inf.

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49)

[2016-06-05 10:18] cclementi commented on #825
Thanks!

[2016-06-06 09:16] fabian-paul commented on #825
@franknoe actually I don't like any of your suggestions. :-/
1. The divide by zero warning is a RuntimeWarning so it's very unspecific and we would have to catch the warning based on the error message string (which I don't like).
2. Writing a fully numpy-compatible function with indexing and the generic support for scalar, lists, tuples, ... argument types that one expects from numpy is tough.
So

[2016-06-06 09:23] franknoe commented on #825
I'm happy with any other solution too, my only point is to not show a
warning if the user hasn't done anything wrong.

Am 06/06/16 um 11:16 schrieb fabian-paul:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-06-06 15:12] cclementi opened #826 "error when running pyemma.thermo.estimate_umbrella_sampling with the estimator='wham' option"
Hi, I am running wham using the function: pyemma.thermo.estimate_umbrella_sampling and, while it works fine with the estimator='tram' option, it gives me a weird error if I use the estimator='wham' option, with exactly the same data.
This is what I am running:

[code]

And this is the error I get:

[code]

If I understand the error message, it's complaining about the progress bar?

Thanks!

[2016-06-06 15:25] cwehmeyer commented on #826
You are correct, this is caused by the progress bar. Unfortunately, I cannot reproduce this exception with the pyemma-2.2 version from the omnia channel (which, I presume, you are using).

You could switch to the development version. The progress bar implementation has been changed recently and I would like to know if this exception would still appear.

[2016-06-06 15:29] cclementi commented on #826
Yes, I am using the pyemma-2.2 version from the omnia channel.
I am running at FU on shark, I will give you access to my dir and send you an email with the details on what I am running. In the meantime I can also try the development version.

Thanks!

[2016-06-06 16:10] cwehmeyer commented on #826
OK, I can reproduce this exception with pyemma-2.2 on shark. Switching to the development version fixes the issue.

[2016-06-06 16:10] #826 closed, assigned to nobody

[2016-06-06 18:39] cclementi opened #827 "devel version of pyemma.thermo.estimate_umbrella_sampling requires us_centers and us_force_constants to be list"
Hi,

I have installed the pyemma devel version because of a problem I was having running wham with version 2.2 (see issue #826, now closed). However, I have noticed that the format of the input is now different. In particular, if I define us_centers and us_force_constants as arrays (as in the documentation at http://www.emma-project.org/latest/api/generated/thermo-api/pyemma.thermo.estimate_umbrel

[2016-06-06 18:46] cwehmeyer commented on #827
That should not (yet) be part of the development version. Have you installed via pip or the pyemma-dev via conda?

[2016-06-06 18:50] franknoe commented on #827
I think both versions should work. Is this perhaps a side-effect of the
changes you made to make the umbrella sampling input more robust?

Am 06/06/16 um 20:46 schrieb Christoph Wehmeyer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-06-06 18:53] cclementi commented on #827
I've installed the pyemma-dev via conda (upon Frank suggestion :)

[2016-06-06 18:55] cwehmeyer commented on #827
That is indeed a side effect which I am currently working on.

The reason I was asking is that I saw an error message while running @cclementi's script on shark which I had not yet merged into devel. So I guess, there is an issue with the pyemma-dev version.

[2016-06-06 18:56] franknoe commented on #827
weird

Am 06/06/16 um 20:55 schrieb Christoph Wehmeyer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-06-06 19:01] cwehmeyer commented on #827
For clarification: I installed pyemma-dev today on shark, saw the error message, and checked that the relevant code was not yet on the devel branch. Hence, pyemma-dev might point the the most recent version across all branches.

pinging @marscher

[2016-06-06 19:06] cwehmeyer commented on #827
As for the original reason of this issue: I tried to support single trajectories in the high level API without the need to put the numpy.ndarray in a list or tuple, but that apparently backfired. Thanks for spotting, I will fix this before merging.

[2016-06-06 22:06] marscher commented on #824
ping @cwehmeyer

[2016-06-07 00:04] marscher commented on #827
@cwehmeyer deployments for pyemma-dev are only done for the devel branch, as it is obviously defined in the script devtools/ci/travis/after_success.sh ;)

Which commit does this specific version you are talking about point to?

[2016-06-07 05:32] cwehmeyer commented on #827
@marscher, I am not particularly sure about the commit. But look at the traceback of the exception:

[code]

If you refer to the pyemma.thermo.util module on the devel branch, you will not find anything that raises a ValueError anywhere around line 140. I made sure that only pyemma-dev was installed.

Afterwards, I uninstalled pyemma-dev and reinstalled via pip from the devel branch and the except

[2016-06-07 05:47] cwehmeyer commented on #827
Update: the relevant code was introduced in commit be3f399e10863b24294b65ab4a6692cb0323f7af (latest commit on robust_us).

[2016-06-07 07:31] marscher commented on #827
what is the version hash of conda's pyemma-dev?

[2016-06-07 07:48] cwehmeyer commented on #827
2.2+25.gb5fa199

[2016-06-07 12:25] marscher commented on #827
@cwehmeyer this version is a normal merge of a PR of yours (#813), so maybe you mixed your branches locally?

[2016-06-07 12:31] #821 closed, assigned to gph82

[2016-06-08 11:55] marscher commented on #827
I've fixed the script which decides whether a devel version should be uploaded.

[2016-06-12 12:41] stefdoerr opened #830 "TICA weird behaviour after update"
Hi, in different projects I am using TICA either as a class or as a function and I noticed that suddenly after updating scikit-learn (maybe also some other dependencies of it) the class way doesn't work anymore. Was I abusing somehow some functionality?

[code]

This works fine. However the following gives an error

[code]

[code]

[2016-06-12 12:50] stefdoerr commented on #830
Here is the data I used as well, even though I don't think it's related

[traj.zip](https://github.com/markovmodel/PyEMMA/files/310771/traj.zip)

[2016-06-12 20:23] franknoe commented on #830
PS: don't know what's happening here, but we should introduce a test
case for this.

Am 12/06/16 um 14:50 schrieb Stefan:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-06-13 09:17] gph82 opened #831 "[coor/cluster_kmeans] init parameter could accept centers itself"
After a non-converged kmeans estiamtion, it'd be useful to be able to use these centers as starting point (and save the iterations performed so far)

[2016-06-13 10:12] giopina opened #832 "estimate_hidden_markov_model not working"
After upgrading to the latest pyemma version  pyemma.msm.estimate_hidden_markov_model() is not working anymore. The same error is encoutered when using the method coarse_grain() on an msm object.

This is the error the program gives when calling msm.estimate_hidden_markov_model(dtrajs,4,100)

---

AttributeError                            Traceback (most recent call last)
<ipython-input-20-b43ba42

[2016-06-13 10:47] franknoe commented on #832
Is this the 2.2 conda release, or are you working on the devel version?

Am 13/06/16 um 12:12 schrieb giopina:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-06-13 10:49] franknoe commented on #832
PS, pls also report which bhmm version you have and try upgrading. We
used to have a problem with the conda updating of bhmm, so maybe that's
the issue here.

Am 13/06/16 um 12:12 schrieb giopina:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germ

[2016-06-13 11:30] franknoe commented on #832
I checked the latest devel version, and it's passing all tests:

[code]

This feature is definitely tested and the function `lag_observations`
is part of bhmm since a while ago. My guess is that you had an older
bhmm version on your machine and for some reason the updating didn't
work properly or there are multiple competing installations of this
package and the wrong version gets imported. I sugg

[2016-06-13 12:03] giopina commented on #832
Fixed.
I removed everything and installed pyemma and bhmm again. Apparently as you said there was some old bhmm version competing.
Thanks

[2016-06-13 12:31] franknoe commented on #832
cool, thanks

[2016-06-13 12:31] #832 closed, assigned to nobody

[2016-06-13 18:51] #812 closed, assigned to cwehmeyer

[2016-06-13 18:51] #827 closed, assigned to nobody

[2016-06-15 12:32] fabian-paul opened #834 "Ipython/Jupyter help shows docstring of base estimator's method instead of the subclass method."
Help form the Python-OO gurus in fixing this would be appreciated.

[code]

[2016-06-16 16:03] nsplattner opened #835 "problem with minRMSD assignment to clustercenters"
The assignment of trajectories to clustercenters (obtained from the same trajectories) using a minRMSD metric produces a completely different result for PyEMMA 2.2 than for previous PyEMMA versions and leaves about 15 % of all centers with no frames assigned. This is most likely an error.

[2016-06-16 17:54] juanmit opened #836 "parameters for tram"
Hi, I am a new user of PyEMMA, and trying to apply tram estimator onto my projects. However, I am feeling really confused about the parameters for the tram analysis.

X : tuple of (ttrajs, dtrajs, btrajs)

Here is my understanding of each element.

ttrajs are the index of the frames. Assuming each traj has 5 frames so ttrajs=[[0,1,2,3,4],[0,1,2,3,4]]
dtrajs are the index of Markov State(assuming 4

[2016-06-16 18:10] cwehmeyer commented on #836
Hi and welcome to PyEMMA!

First, I would recommend to use the `pyemma.thermo.tram` API function instead of the class; is is usually much more convenient. This function also requires you to provide `ttrajs`, `dtrajs`, and `bias` (`btrajs` when you use that class), as well as the lagtime parameter `lag`.

`ttrajs` is (like `dtrajs`) a list of discrete trajectories. The elements do not number the fr

[2016-06-16 18:21] juanmit commented on #836
Thanks a lot. That 's really really helpful. I will spend more time on tram to see how further I can get.

--Hongbin

[2016-06-16 20:14] jchodera commented on #835
Are you using the parallel version? Can you quickly try comparing the serial version with the parallel version (I think you can specify the number of threads) and see if the serial version works correctly?

I may have messed something up in my parallelizarion fix.

[2016-06-17 11:54] nsplattner commented on #835
I have now tested different numbers of threads (1, 2, 4) using the n_jobs variable. The problem persists for all these choices and the assignment looks identical in all cases. Is there a serial version of the code accessible by a lower level API function or are all these choices of n_jobs using the same code anyway?

[2016-06-17 15:51] jchodera commented on #835
The relevant C-level code is [here](https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/coordinates/clustering/src/clustering.c#L46-L177).  There's only a parallel codepath right now, but reducing this to one thread should eliminate any issues that might involve unsynchronized data or race conditions. It's possible the issue is outside of this C code block then.

[2016-06-17 16:59] franknoe commented on #835
Do you have a suggestion for a commit that could be checked out to see
whether it was working before the last major change on this code?

Am 17/06/16 um 17:51 schrieb John Chodera:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-06-17 19:38] jchodera commented on #835
I think [this commit](https://github.com/markovmodel/PyEMMA/commit/eeafe71fb7035ac186e93e27ba1b84056e01c148#diff-caca5449251e2d740e0259924f0bb7f1) before _any_ parallelization was done might be a good one to check.

[2016-06-17 22:13] franknoe commented on #835
OK, Nuria, can you check out that commit and see if it behaves better?

Am 17/06/16 um 21:38 schrieb John Chodera:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-06-18 12:13] nsplattner commented on #835
Using commit eeafe71fb7035ac186e93e27ba1b84056e01c148 the assignment is different and looks somewhat more reasonable, however, there are still clustercenters with no frames assigned. So I think the problem already existed at this point and is getting worse in later code versions.

[2016-06-19 14:13] marscher commented on #834
This is totally expected as the TRAM estimator does not override
"estimate" but "_estimate".

So you can override estimate in TRAM, set the docstring there and call
Estimator.estimate via super.

[2016-06-19 14:18] franknoe commented on #834
I don't think you should override estimate in the subclass, but you can
still set the docstring, right?

Am 19/06/16 um 16:13 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-06-19 14:23] marscher commented on #834
On 19.06.2016 16:18, Frank Noe wrote:

[2016-06-19 14:27] franknoe commented on #834
I see, that's not an option then. OK, then Martin's option seems better,
if you feel you have to set the docstring in the estimate of the class.
We should think about the design here. Seems we need to do something
unnatural to achieve something simple.

Am 19/06/16 um 16:23 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Ber

[2016-06-19 14:31] marscher commented on #834
It is very ugly - I agree. Maybe it is possible to override the
docstring in a different manner.

[2016-06-19 16:05] marscher commented on #835
confirmed... we need to inspect this in more detail.

[2016-06-19 18:43] jhprinz commented on #834
A little comment, because I had some troubles with setting docstrings in OPS. What I found about setting docstrings is that you cannot. At least not for objects that are generated using the default metaclass. As soon as you use another metaclass (in my case I used the package abc for abstract base classes) you can use `class.__doc__ = ...`. Not sure if that helps with the problems of subclasses. T

[2016-06-20 23:39] #835 closed, assigned to nobody

[2016-06-21 10:39] marscher commented on #830
@stefdoerr can you please confirm that #833 solved your issue?

[2016-06-22 16:22] stefdoerr commented on #830
Seems to work

[2016-06-22 16:22] #830 closed, assigned to nobody

[2016-06-22 17:46] marscher commented on #830
Thanks!

[2016-06-23 04:19] jchodera opened #838 "segfault in KmeansClustering"
Has anyone run into segfaults in `KmeansClustering` before?

[code]

Here is my script:

[code]

The dataset is rather large (63G), but I can give people access to it if needed, or try to prepare a smaller test dataset.

[2016-06-23 07:36] marscher commented on #838
The data-set is really massive for a feasible run of kmeans, since we
first accumulate the data to run kmeans iterations efficiently. How much
RAM does this machine have?

Actually I recommend using mini-batch-kmeans.

However I'm curious what exactly is seg-faulting here, since the case of
not enough memory is handled accordingly.

The output states, that the applications memory core had been dum

[2016-06-23 10:26] marscher commented on #838
I can reproduce the crash with a large fake data-set. The backtrace:

[code]

Actually the pointer to the pre-calculated trace is set to NULL in the
source (kmeans.c:410), but within the execution the actual value is 0x8...

[2016-06-23 10:37] marscher commented on #838
it seems NULL is not set 0x0. When defining it explicitly, there is no crash any more.

[2016-06-23 12:09] jchodera commented on #838
Awesome, thanks!

[2016-06-23 12:19] marscher commented on #838
Thank you for testing.

[2016-06-23 12:19] #838 closed, assigned to nobody

[2016-06-23 13:03] ppxasjsm opened #840 "Issue solving PCCA samples in release version 2.2"
So we have run into some problems saving frames that would correspond to a series of PCCA states.

To be precise, calling pyemma.coordinates.save_trajs() to save pcca sampled snapshots was not saving any files and lead to an error termination finishing with the following statement.

[code]

Commenting out lines 126 127 132 and 133 of that file seemed to get rid off the error and now the files are

[2016-06-23 13:14] marscher commented on #840
Thanks for your report. Can you please show us the un-truncated
stacktrace please?

[2016-06-23 13:28] ppxasjsm commented on #840
It'll take a while to run. I'll get back to you.

[2016-06-23 13:46] giopina commented on #840
I think I'm facing the very same problem
It seems to happen when I try to  use save_trajs to save a large (>200) number of frames.

[2016-06-24 12:27] #840 closed, assigned to nobody

[2016-06-24 16:15] OleksandraQ opened #843 "A small issue with pyemma.coordinates.featurizer add_backbone_torsions() function"
Dear PyEmma Developers,
I faced a small issue with pyemma.coordinates.featurizer selecting add_backbone_torsions(deg = True). The .describe() output is
['PHI 0 GLU 2 ',
 'PHI 0 GLU 3 ',
 'PHI 0 GLU 4 ',
 'PHI 0 GLU 5 ',
 'PHI 0 GLU 6 ',
 'PHI 0 GLU 7 ',
 'PHI 0 GLU 8 ',
 'PSI 0 GLU 1 ',
 'PSI 0 GLU 2 ',
 'PSI 0 GLU 3 ',
 'PSI 0 GLU 4 ',
 'PSI 0 GLU 5 ',
 'PSI 0 GLU 6 ',
 'PSI 0 GLU 7 ']
But actual

[2016-06-24 16:18] franknoe commented on #843
So you're saying describe and actual ordering are inconsistent? That's
definitely a bug.

Am 24/06/16 um 18:15 schrieb OleksandraQ:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-06-24 16:22] OleksandraQ commented on #843
Yes, but it was not a case for some previous versions. I've check it for 2.2., 2.1 and 2.0: the order in describe and output are different.

[2016-06-24 16:24] franknoe commented on #843
Thanks Oleksandra! Weird - which commit could have affected this
functionality?

Am 24/06/16 um 18:22 schrieb OleksandraQ:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-06-25 18:25] ppxasjsm commented on #840
The full error trace is:

[code]

[2016-06-25 19:54] franknoe commented on #840
I think this is solved - at least the issue is closed. Have you tried updating?

[2016-06-27 15:04] marscher commented on #843
The order of the output is indeed different from the returned description. The order of the indices passed to mdtraj for the angle calculation is:

 (phi_1, psi_1, ..., phi_n, psi_n)

while the order of the description list is
(phi_1, ... phi_n, psi_1, ..., psi_n)

I'll open up a PR for this.

[2016-06-27 17:50] #843 closed, assigned to nobody

[2016-06-27 20:43] bonimba87 opened #845 "Tram convergence check"
Hi all,
I have been running Tram on a set of biased and unbiased simulation data, and I argue the results are not converging but I cannot figure out why.
I have a set of 24 umbrella sampling simulations (generated with a 1d umbrella coordinate, each with 9000 frames) and a set of 20 regular MD trajectories (each with 2000 frames).
I ran TICA on the us data to extract independent components to use

[2016-06-28 10:01] ppxasjsm commented on #840
Yeah sorry, my browser hadn't updated and then I already posted. All ok.

[2016-06-29 12:30] fabian-paul opened #846 "chunksize is ignored in TICA"
Apparently setting the chunk size parameter doesn't have any effect in TICA anymore.
I have a long (microsecond) trajectory that I want to use to evaluate a larger set of features. Setting the chunk_size doesn't have any effect on the feature reader as can be seen from the output below.

[code]

I added the following print statement here:

[code]

This is the output I get.

[code]

I'm not sure ho

[2016-06-29 12:38] fabian-paul commented on #846
With .get_output() it's the same problem. The ckunksize parameter of the transformer and it's source are not respected.

[2016-06-29 15:31] Vron-Vron opened #847 "Question about TICA tutorial"
Hi

I am new to python and have been trying to follow your online PyEMMA tutorial on TICA analysis. I have managed to generate the graph with the states mapped to the free energy and I was wondering if it is possible to create a number of representative sample structures and save them? The python keeps recommending random_sample() but how would I then be able to match the conformation to the state

[2016-06-29 16:12] marscher commented on #846
the self.chunk_size property is delegated through the pipeline, so it should be taken from there. Your approach is the correct fix, but do not take the property from the iterable but self instead.

I can not see why the chunksize in Iterable.get_output should not be respected, since it is passed correctly:
https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/coordinates/data/_base/iterable.py#L

[2016-06-29 16:25] marscher commented on #846
And you are right, the handling in param_stage is wrong, since the set chunksize of the reader/datasource is overridden with 0.

[2016-06-29 16:52] marscher commented on #846
@fabian-paul can you please confirm that the behaviour correct with the suggested PR?

[2016-06-30 12:41] fabian-paul commented on #846
@marscher yes, this solved the problems.

[2016-06-30 12:46] marscher commented on #846
Thank you for reporting and testing!

[2016-06-30 13:35] marscher commented on #846
@clonker with these changes the test_fragmented_reader_xtc fails with wrong coordinates. Do you have any clue what could be broken now?

[2016-06-30 13:41] marscher commented on #846
I'd guess that the chunked mode is somehow broken, since the tested behaviour used always chunksize=0

[2016-06-30 14:53] marscher commented on #846
I've found the culprit: in patches.iterload there was no proper setter for chunksize...

cc @clonker

[2016-06-30 15:50] #846 closed, assigned to nobody

[2016-07-01 14:26] fabian-paul commented on #845
Hi Lorenzo,

to check the connectivity of the data, a starting point would be to look at the connectivity information that the TRAM object provides. They are:
- `tram.csets[k]` # for every thermodynamic state number k: the states in k that contribute to the stationary distribution
- `tram.active_set` # tram.csets[k] projected along the k axis = states that contribution to the consensus stationary

[2016-07-01 14:49] fabian-paul commented on #825
The division by zero warning is fixed by markovmodel/thermotools@67028efd70a4ffc7053cebf69a75433629dc2aca
As the rest of this issue is related to the sampling situation, I'm closing this here.

[2016-07-01 14:49] #825 closed, assigned to nobody

[2016-07-01 14:49] #836 closed, assigned to nobody

[2016-07-01 15:29] fabian-paul commented on #847
Hi and welcome to PyEMMA!

In short: I would recommend following the tutorial the end, it's explained there (in the PCCA section):
http://www.emma-project.org/latest/generated/pentapeptide_msm.html

If I try to read a bit between the lines of you question, I can only assume that you want to get the representative structures directly from TICA without builing an MSM. Is there any reason not to buil

[2016-07-01 16:36] marscher commented on #824
The $\pm$ setting is recognized correctly in Jupyter notebook itself but during the conversion to RST it brakes. Since this is an upstream bug, we could only replace the std deviation symbol with something else.

[code]

My guess is that something during the conversion from rst to html is bogus.

[2016-07-01 16:46] #824 closed, assigned to nobody

[2016-07-01 16:47] marscher commented on #824
Tested locally, with some spaces around the math string it renders correctly. Please stand by the online docs will be updated soon.

[2016-07-01 18:06] bonimba87 commented on #845
Hi Fabian,
thank you for your kind reply.

I did build a Markov Model out of the unbiased simulation data. It is defined on basically the same subset of clusters which were visited by regular MD, as the tram.msm.transition_matrix is. The other clusters apparently drop out even if they were visited by umbrella simulations. I am not really sure whether I can consider it reaching convergence at some

[2016-07-02 00:10] #834 closed, assigned to nobody

[2016-07-05 12:57] stefdoerr opened #855 "TICA on BPTI Shaw data"
Hey, I am trying to replicate some work by Caflisch where he does a sin/cos dihedrals featurization of the BPTI data and then uses TICA (1microsec lag, 20 dim) on it. However when I apply TICA on this data I get following error:

[code]

Any suggestions?

[2016-07-05 13:06] stefdoerr commented on #855
Nevermind I seem to have done something wrong. Rerunning it worked. Sorry.

[2016-07-05 13:06] #855 closed, assigned to nobody

[2016-07-05 15:19] gph82 opened #856 "[coor.util.frames_from_file] wrong error message?"
Please @marscher take a look at the following behavior:

[code]

Now, look at this error message:

[code]

So, in principle, the file  './LEOS_tmp/10197_rhodopsin_ip_extended/RUN182/CLONE73/frames0-0.Prot-Masses_PLM.xtc' does not have **5** \* stride = 250 frames.

Let's take a look at the entries of `isample` that are responsible for this error:

[code]

Frame nr. **5** was never asked for. Since

[2016-07-05 15:22] gph82 commented on #856
What's even weirder, this works (and produces the right frames):

[code]

[2016-07-05 16:50] gph82 commented on #856
yep, commenting  out the "sanity checks"  avoids this error and retrieves the right frames. Perhaps some of the variables are not tracking what you think are tracking?

[2016-07-06 09:59] fabian-paul commented on #845
Hi Lorenzo,

I think these implied time scales are not converged at all. (Even though some publications seem to sell plots like this as converged. But I think there is quite a bit of nonsense in the published literature.) They look like shifted version of the black identity line which means that the timescales are linearly diverging.
From my experience this can be a consequence of missing connecti

[2016-07-06 18:05] marscher commented on #856
It seems the stride argument is missing here: https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/coordinates/data/util/frames_from_file.py#L105

[2016-07-07 08:40] gph82 commented on #856
I don't think so, because the frame indices have already multiplied by the stride here:
https://github.com/markovmodel/PyEMMA/blob/devel/pyemma/coordinates/data/util/frames_from_file.py#L77

BTW, i think we can clean my code a bit and leave the "verbose" argument out. Also the case if stride!=1, and just always multiply by stride. I mean completely exchange this code

[code]

for

[code]

Doesn't

[2016-07-07 09:47] gph82 opened #859 "[doc] Document get_output(self, dimensions=slice(0, None), stride=1, skip=0, chunk=None)"
Surprisingly, this does not appear documented anywhere in the api or in these files...
./pyemma/coordinates/transform/transformer.py:    def get_output(self, dimensions=slice(0, None), stride=1, skip=0, chunk=None):
./pyemma/coordinates/data/_base/iterable.py:    def get_output(self, dimensions=slice(0, None), stride=1, skip=0, chunk=None):

Any way we can "pull up" the doc from here automatically

[2016-07-07 11:37] marscher commented on #859
We have a decorator for this ("doc_inherit") and we should use it here. Thanks for spotting!

[2016-07-07 15:11] gph82 opened #860 "[coor/featurizer] add group mindist detects wrong duplicates"
This should not happen:

[code]

[2016-07-07 15:30] marscher commented on #856
Could not reproduce. Waiting for input

[2016-07-08 10:31] #859 closed, assigned to nobody

[2016-07-08 10:32] #860 closed, assigned to nobody

[2016-07-08 11:17] Vron-Vron commented on #847
Hi,

Thank you for your response. Yes, I was trying to get representative structures without having to build the MSM.

[2016-07-10 19:31] franknoe opened #865 "simulation data handling"
Would this strategy of handling sample simulation data make sense for PyEMMA?

https://github.com/omnia-md/conda-recipes/pull/552/files

[2016-07-10 20:15] jchodera commented on #865
See my comment here: https://github.com/omnia-md/conda-recipes/pull/552#issuecomment-231608472

[2016-07-11 08:59] #847 closed, assigned to nobody

[2016-07-11 10:20] marscher commented on #865
I would suggest to host this data on our webspace and provide a download script, since the size exceeds multiple gigabytes.

[2016-07-11 10:21] franknoe commented on #865
Yes, I meant the download-skript way of handling this. Not to host the
data on the repo.

Am 11/07/16 um 12:20 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-07-11 15:38] franknoe opened #866 "Microstate label and connected set discussion"
I've just received a comment from a PyEMMA user:

[code]

I think we should reconsider the use of labels. We have discussed this recently in the context of connected sets. Can we have some discussion here how to sort this out / do you already have a prototype or draft how to handle connectivity?

[2016-07-12 14:42] marscher opened #868 "[frames_from_files] show a warning if user passes a non random-accessible data format."
For certain formats (e.g xyz) the simulated random access shows horrible performance (eg. reading the last frame, reads all prior frames and discards the data).

We should inform the user that this is inefficient

[2016-07-12 14:50] marscher commented on #866
If we provide a numpy string array with the same shape as the full state space, we can perform index tricks by passing the desired label to a "select_subset" method, which then sets the state space for subsequent evaluations.

The projection to the full state space is already provided by the "Subset" mixin, but in general we can also put the labeling functionality there (when we have defined what

[2016-07-14 10:13] cwehmeyer commented on #866
We could provide two simple methods to
1. **prune** a user-provided set from the full state space (remove states not in the active set), and
2. **map** a user-provided set from the full state space onto their internal states.

@franknoe do you know why the cited user wants to assign labels?

[2016-07-14 10:16] franknoe commented on #866
no

Am 14/07/16 um 12:13 schrieb Christoph Wehmeyer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-07-14 15:53] juanmit opened #871 "dimensionality for tram estimator's inputs (btrajs)"
Hi PyEMMA,

I am working on getting the tram algorithm work for my own project, and I met an issue do not know how to solve. Please give me some suggestions. Thanks a lot.

Basically, I have run simulations with different thermodynamic conditions with different length(different number of total frames). And when I tried to make the input btrajs, it always gave me an error saying ValueError: setting

[2016-07-14 17:15] fabian-paul commented on #871
Hi Hongbin,

just keep the outmost dimension as a Python list. TRAM accepts a list of btrajs where every element corresponds to the bias energies from one simulation trajectory.

Best,
Fabian

[2016-07-14 18:36] juanmit commented on #871
Hi Fabian,

Thanks for replying. I will keep working on the a "multi-length_element" list for TRAM. Once TRAM can recognize the dimensions, it should work in the end. Thanks.
--Hongbin

[2016-07-15 08:29] giopina commented on #840
I am still getting apparently the same error.
I'm using the conda version of pyemma 2.2.1

[2016-07-19 12:26] marscher commented on #871
I guess this question has been answered.

[2016-07-19 12:26] #871 closed, assigned to nobody

[2016-07-21 13:44] marscher commented on #544
@gph82 I guess this has been fixed?

[2016-07-21 13:59] gph82 commented on #544
yeah, looks like that, thanks

[2016-07-21 13:59] #544 closed, assigned to gph82

[2016-07-22 09:15] #375 closed, assigned to nobody

[2016-07-22 15:06] nsplattner opened #878 "Bayesian MSM estimate fails for data where normal estimate works"
msm.bayesian_markov_model() fails for a set of discrete trajectories/lagtime for which msm.estimate_markov_model() works fine. The results for msm.estimate_markov_model  such as the fraction of states in the active set and the CK test look o.k.. Here the error message for the Bayesian estimate:

[code]

[2016-07-22 15:43] marscher commented on #878
[dtrajs.zip](https://github.com/markovmodel/PyEMMA/files/378558/dtrajs.zip)

[2016-07-22 15:44] marscher commented on #878
[tmatrix_sampler_crash.py.txt](https://github.com/markovmodel/PyEMMA/files/378561/tmatrix_sampler_crash.py.txt)

[2016-07-22 15:45] marscher commented on #878
The dtrajs and the script reproduces the error.

[2016-07-22 15:55] marscher commented on #878
This check fails in sampler_rev.pyx in the constructor of the Sampler class during input checking:

[code]

@fabian-paul could you have a look please?

[2016-07-22 22:08] franknoe commented on #878
I have seen this problem before - it is a numerical problem and needs to
be fixed in msmtools. This happens when a very low transition probably
becomes zero due to underflow. It's pathological, but it can happen. In
this case the count matrix and the estimated transition matrix that is
used as an initial input to the sampler have differing sparsity
patterns. This situation is checked and then this

[2016-07-28 09:43] gph82 opened #880 "[xtc lagged iterators] error for short trajectories?"
I'm observing this new behavior in the last devel version, where the iterators are not able to skip too short trajectories. That was normally possible. Anybody has a clue of what happened?

[code]

Then:

[code]

[2016-07-28 09:45] gph82 commented on #880
And, BTW, same thing would happen using the tica function (I used the iterator directly to make it clearer). Here's what happens:

[code]

[2016-07-28 12:43] marscher commented on #880
Hey,
thanks for the report! We moved the initial seeking for the lag time from the constructor of mdtraj iterators to the next method (which is invoked for every chunk), because we wanted to be able to reset the skip parameter for an existing iterator. However we haven't had too short trajectories in mind.

A simple fix would surround the seek call with try catch IndexError and raise a StopIterati

[2016-07-28 12:45] gph82 commented on #880
We we're writing at the same time. Turns out this only happens with XTCs, and I can confirm it's happening with commits as old as January! (thanks, git bisect)

So I doubt any recent changes made this, after all.

[2016-07-28 12:49] gph82 commented on #880
[code]

Output

[code]

[2016-07-28 13:04] marscher commented on #880
mhm, I guess you're not using mdtraj-1.7.2?

[2016-07-28 13:34] marscher commented on #880
I think the proposed PR should fix this.

[2016-07-28 13:57] gph82 commented on #880
I just fetched your branch and my example is working now. So we should be okay

[2016-07-28 14:08] marscher commented on #880
thanks for testing!

[2016-07-28 14:22] gph82 commented on #880
Sorry to bring bad news, @marscher, but now now this happens:

[code]

output:

[code]

[2016-07-28 14:28] marscher commented on #880
Am 28.07.2016 um 16:23 schrieb Guillermo Pérez-Hernández:

[2016-07-28 14:40] marscher commented on #880
I guess this is a bug in covartools, since it requires at least two storage instances to operate, but this test case will only produce one valid chunk.
This won't hurt in practice as you will most likely have more than one chunk/file

[2016-07-28 14:52] gph82 commented on #880
sorry but it's failing also with this...

[code]

[2016-07-28 15:45] gph82 commented on #880
Hope this helps: When only one file is used, no error appears:

[code]

works like a charm. Note that I've added the feature "CA" s.t. the tica diagonalization didn't take ages

[2016-07-28 15:52] marscher commented on #880
the problem is, that the iterator now stops upon the first too short trajectory, whereas it should continue with the next file

[2016-07-28 16:12] jvreede opened #882 "OSError: [Errno 13] Permission denied: '/traj_info_usage' in pyEMMA version 2.2.2"
When following the tutorial on
http://www.emma-project.org/latest/generated/MSM_BPTI.html
for my own data I get the error message below.
I got the tutorial to work with my own data with pyEMMA version 2.2.1. The error occurred when I switched to pyEMMA version 2.2.2.

[code]

[2016-07-28 16:26] marscher commented on #882
This is a known (and already fixed, but unreleased) issue. You can circumvent this by creating a pyemma configuration directory by invoking:

pyemma.config.save()

once and restart Python to apply the changes.

[2016-07-28 16:26] marscher commented on #882
fixed by #879

[2016-07-28 16:27] franknoe commented on #882
Can you do a patch release with this?

Am 28/07/16 um 18:26 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-07-28 16:38] marscher commented on #882
Sure.

[2016-07-28 16:43] franknoe commented on #882
Btw, if this has been fixed before today, Jocelyne could also just
install the devel build, no?

Am 28/07/16 um 18:38 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-07-28 16:44] marscher commented on #882
Am 28.07.2016 um 18:43 schrieb Frank Noe:

[2016-07-28 16:45] franknoe commented on #882
thanks

Am 28/07/16 um 18:38 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-07-28 20:08] jvreede commented on #882
Thanks!

[2016-07-29 09:39] gph82 opened #884 "[http://www.emma-project.org] DOWN?"
Hi, we're seeing this from different computers and different ISPs:

Forbidden
You don't have permission to access /latest/ on this server.
Apache Server at www.emma-project.org Port 80

[2016-07-29 10:13] #884 closed, assigned to nobody

[2016-07-29 13:36] #880 closed, assigned to nobody

[2016-07-30 16:29] franknoe commented on #756
I checked that - that's not doing what we want. This function computes
the standard error of moments like mean and std dev using a Bayesian
model. Check e.g.:

[code]

What we want is to compute the confidence intervals, i.e. what is the
interval within which 95% of the data lies:

[code]

Am 17/05/16 um 15:54 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular

[2016-08-02 23:05] marscher opened #886 "NumpyFileReader has no attr "_data" raised in describe method"
this one has been forgotten during refactoring coor.

[2016-08-03 19:29] jchodera opened #887 "cluster_mini_batch_kmeans eats all memory before dying"
I'm trying to cluster a very large dataset (1.2M frames) with `pyemma.coordinates.cluster_mini_batch_kmeans`, and find that the clustering code eats up all memory over a few hours without ever starting to write the progress bar. Any idea what might be going on?

Input data is obviously too big to post, but here is the script:

[code]

output:

[code]

[2016-08-04 02:25] juanmit opened #888 "How to track the info of each state after TRAM?"
Hi PyEMMA,

I am recently running TRAM on my simulation data, and the simulation data had been clustered into 250 states. However, after running TRAM, the output of the stationary population only shows populations of 244 states, which 6 states are missing. Does it mean these 6 states have negligible population?  And how to find which population is for which state?  Thanks for helping.

BTW, how bi

[2016-08-04 09:43] fabian-paul commented on #888
Hi Hongbin,

you can map back the stationary distribution of the TRAM estimator using the property `active_set`.
Suppose that you have the tram object

[code]

Then you can show the active set and bring the stationary vector to the shape 250 by doing:

[code]

We are currently working on a feature that will make this transformation more user-friendly.

This is slightly hackish because here I assum

[2016-08-04 14:04] clonker commented on #887
This is odd.
Could you tell us the dimensionality of your data? Perhaps the chunk (i.e. 10% of your frames per iteration) was too big to fit into memory twice, as the algorithm makes a true copy of the current data.

The required memory in bytes is: 2 \* batch_size \* n_frames \* dim \* 4.

We can prepare a branch with more debug output if you are willing to test this again.

[2016-08-04 14:19] jchodera commented on #887
Whoops!  My previous example had the actual clustering call commented out. It was:

[code]

There are 1179914 frames, with each frame 5532 atoms x 3 spatial dimensions. That means the whole dataset is 73 GB in size. If we cut this down to 10%, that's only 7.3 GB of configuration data, and even twice that should fit in memory (we requested 128 GB).

Could the fact that we're using 16 threads here b

[2016-08-04 15:07] clonker commented on #887
Valgrind did not find any memory leaks and we checked the implementation: The data does not get copied but is shared between the threads.
Also running a smaller test with a h5 file, 8 threads and mini-batch did not fail for us.

So to make more sense of this issue, we will prepare a branch with a couple debug statements.. please stand by!

[2016-08-04 15:14] jchodera commented on #887
Sounds great!

It might even be useful to leave in some output about how much memory is going to be allocated for each step of the process, since it's not always easy to see how much memory will be used, especially with different memory mapping strategies.

[2016-08-04 17:39] marscher commented on #887
I think this only happens in conjunction with HDF5 trajectories. I've performed some tests and the memory requirement only exploded for this format.

A fairly small dataset (100k frames, 30 atoms, ~700 mb) blows up the memory during clustering to like 4.5 GB with a batch size of 10%.
[test.pdf](https://github.com/markovmodel/PyEMMA/files/402250/test.pdf)

As seen from the plot the memory requireme

[2016-08-04 17:53] marscher commented on #887
[test_xtc.pdf](https://github.com/markovmodel/PyEMMA/files/402272/test_xtc.pdf) This looks better, however it also seems like the memory requirements are almost equal to the size of the data set.

[2016-08-04 18:02] jchodera commented on #887
Do we think this is an `mdtraj` issue, or an upstream `pytables` issue?

[2016-08-04 18:10] marscher commented on #887
I'm not sure. I could also be an issue at our side. The memory requirements are far too high for mini batch kmeans anyway.

[2016-08-04 18:44] marscher commented on #887
@clonker the large increment in memory seems to come from the iterload in patches.py. It seems that itertools groupby stuff is evil. For large stride arrays it creates tons of Python integers.

[code]

[2016-08-04 19:07] juanmit commented on #888
Thanks a lot!!!!! I appreciate your help!!!!! It works well for me now.  I think you are right about the slowness due to "not-reach-equilibrium" simulation data.  Initially, the toy model was really fast for me, but it is super slow for my large protein systems(not sure if it needs more simulation data or not).
And I do not think I can use post_hoc_RE to speed up my research since my simulation da

[2016-08-05 13:36] clonker commented on #887
Hmmm.. i believe it comes from creating _a lot_ of small trajectory objects:

[code]

As you can see, there is an increase of roughly 0.1 MB per iteration (line 244) and the loop gets called 1200 times in my setup. Since the GC can only collect them after they have been joined, we have an increase of about 120 MB.

The self.groups(...) is a self written grouping iterator that only keeps the curren

[2016-08-05 13:42] clonker commented on #887
Aside from that there were a few things broken in the mini-batch-kmeans implementation. I fixed them in a [branch](https://github.com/clonker/PyEMMA/tree/mini_batch_kmeans_fixes) of mine - I guess we should add a few more tests so this does not happen again.

[2016-08-05 14:25] marscher commented on #887
Yes. That's the cause. We need to allocate the memory before create the Trajectory object (I think this was the way Guille handled this in save_trajs).

The reset method of the FeatureReaderIterator didn't re-create the underlying mditer, so only the first loop was effective for md-data...

[2016-08-05 14:25] marscher commented on #887
I can handle the iterator stuff

[2016-08-05 14:30] marscher commented on #887
The problem with read seems to be that every format returns something different (for hd5 for example it is a named tuple containing all the info).

[2016-08-05 14:30] marscher commented on #887
but the first element are always the coordinates, so we're good to go.

[2016-08-05 14:31] greenTara opened #889 "generating trajectories"
The documentation shows a generate_traj method for the estimator BayesianHMSM. However an attempt to call that method gives the error

'BayesianHMSM' object has no attribute 'generate_traj'

Actually, I would have expected a generate_traj method on a Model object, rather than an estimator.
The document shows no such methods e.g. on MSM.

[2016-08-05 14:33] marscher commented on #889
Thanks for the catch, this method should obviously be available in the MSM class.

[2016-08-05 14:40] greenTara commented on #889
I can think of two modes where this would be useful
1. draw k initial values randomly from the stationary distribution (or some specified distribution) and then sampled according to the model for n steps
2. k initial values are specified as an input parameter, and then sampled for n steps

[2016-08-05 14:43] clonker commented on #887
Cool! The other stuff was only minor, i can PR it against your feature branch.

[2016-08-05 14:56] marscher commented on #887
mhm, what bothers me about this approach is, that we will loose the box shape, which is eg. used by frames_from_files for visualization purposes and in feature calculations... so we need to provide this / convert this for all formats...

[2016-08-05 15:08] marscher commented on #887
Also the length conversion has to be done manually then.. huge hassle.

[2016-08-05 16:57] franknoe commented on #889
generating discrete trajectories in the models would make sense.
MaximumLikelihoodMSM.generate_traj does more than that: it generates a
list of frames sampled from the input data according to a randomly
generated discrete trajectory. That can't be done by a Model, because
you need input data to do that.

Two possible solutions:
- add a functionality generate_dtraj to the MSM models
- add a functio

[2016-08-05 18:14] marscher commented on #887
@clonker you can open another pr for your changes or merge with my fork. https://github.com/marscher/PyEMMA/tree/mditer_ra_use_mdtraj_read

[2016-08-05 19:21] greenTara commented on #889
What would be the data that is passed into a generate_traj method in the model base class?

[2016-08-05 20:56] franknoe commented on #889
This is a first shot, so a good design may need a bit more thinking
about the problem on our side.

On your question: I'd say the same type of data you would parametrize an
estimator with. For example, if your model is a discrete-state model,
you parametrize it with discrete trajectories. ''generate_traj'' then
generates a synthetic discrete trajectory, looks up where the
corresponding states have

[2016-08-06 07:26] greenTara commented on #889
The functionality we need is when there is no data, just the model
parameters, and we want to run the model to create simulated data. We will
then use this to test our methods for learning model parameters. So it
appears that what we need is the first option you listed, where the
functionality is on a specific model class. We would use the constructor
for a particular model class, e.g. MSM, to cre

[2016-08-06 09:26] marscher commented on #889
On 06.08.2016 09:26, Tara Athan wrote:

Note that this is a low-level API function which will be dropped out of
PyEMMAs public API soon. So you should import it from
msmtools.generation directly.

I think this one covers exactly the functionality you have described here.

The second use case is a special case of the first one, right? So I
suggest to just wrap the msmtools function to give a desire

[2016-08-06 09:31] marscher commented on #889
I think we should just bind this function to the MSM class, since it is
data free and only depends on the transition matrix.

[2016-08-06 10:07] marscher commented on #887
After applying the fixes from #890, the memory footprint looks like this:
[after_fixes.pdf](https://github.com/markovmodel/PyEMMA/files/404965/after_fixes.pdf)

@jchodera can you please re-run the clustering with your massive data set?

[2016-08-06 10:37] greenTara commented on #889
Yes http://emma-project.org/latest/api/generated/msmtools.generation.generate_traj.html?highlight=generation will take care of generating a single trajectory for an MSM, and it looks like it covers both cases of a given intial value or sample from the stationary distribution. I agree that it would logical to bind it to the MSM class.

We would also (and most importantly) like to have a similar fun

[2016-08-06 15:23] jchodera commented on #887
Thanks so much, everyone!

I'm testing the `devel` head right now.

[2016-08-06 18:08] franknoe commented on #889
I agree, these are useful and easy to do. We should just avoid name
clashes with `generate_traj` which does something different, but I'm
not very happy with that name anyway. I suggest to:
- find proper name for generating realizations/trajectoryies of the
  model. Any suggestions / is anyone aware of naming conventions for sth
  like this e.g. in sklearn or similar packages?
- find a more explici

[2016-08-06 18:12] franknoe commented on #889
P.S.: what about just `simulate` to generate model realizations? Seems
pretty general and should also work for other models than MSMs and HMMs.

Am 06/08/16 um 12:37 schrieb Tara Athan:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-08-06 18:31] greenTara commented on #889
There is this:
http://scikit-learn.org/stable/modules/classes.html#samples-generator

The naming convention appears to be "make_..."

Tara

On Sat, Aug 6, 2016 at 8:08 PM, Frank Noe notifications@github.com wrote:

[2016-08-06 18:35] greenTara commented on #889
sounds good to me.

Tara

On Sat, Aug 6, 2016 at 8:12 PM, Frank Noe notifications@github.com wrote:

[2016-08-06 19:16] jchodera commented on #887
That's odd---I still ran out of memory and was terminated by the batch queue system before it actually printed the clustering progress bar, despite having allocated 64GB.

[code]

Did I get the right version installed---the `devel` head?

[code]

[2016-08-06 19:54] clonker commented on #887
The pull request #890 is not merged yet, so the changes aren't in the devel branch. You can, however, [check out the pull request locally](https://help.github.com/articles/checking-out-pull-requests-locally/) and use that version.

I hope that then everything works. :)

[2016-08-06 19:55] jchodera commented on #887
Sorry, my fault! I saw a merge go by, and thought it was for #890.

Testing that branch now...

[2016-08-06 20:29] jchodera commented on #887
It seems to be running just fine! Memory usage < 15GB. Thanks!

[2016-08-06 21:43] marscher commented on #887
Ah sorry, we haven't merged yet. The version of my feature branch is:

2.2.3+16.gaccb804

please install as following:

conda create -n memleak_test pyemma
source activate memleak_test
pip install
git+https://github.com/marscher/PyEMMA.git@mditer_ra_use_mdtraj_read

[2016-08-06 21:54] marscher commented on #887
Oh didn't follow the conversation, thank you Moritz and thanks for
testing John! Merging...

[2016-08-06 22:07] #887 closed, assigned to nobody

[2016-08-06 23:25] jchodera commented on #887
The original run (`batch_size=0.1`) was going to take 55 hours, so I changed `batch_size` to `0.01`, and this seems to have run into a segfault:

[code]

[2016-08-07 02:00] franknoe commented on #887
8382 dims - maybe there's a memory issue here? How many clusters do you
request?

While that should be fixed, or produce a more informative error, I think
direct clustering in 8382 features is probably not a good idea. I guess
even a very conservative compression such as PCA with 99% or more
retained variance would probably significantly reduce the dimension
without changing the metric qualitative

[2016-08-07 02:33] jchodera commented on #887
Here's the relevant clustering code:

[code]

A generator_ratio of 250 for 1179914 frames requests ~4719 clusters.

Things work just fine with equitemporal clustering:

[code]

but I thought it would be best to see if iterative K-medoids can at least reproduce the kind of clustering we did back in 2006.

Note that the features here are just the protein coordinates, and I'm trying to do minRMSD clu

[2016-08-07 02:44] jchodera commented on #887
Also, the whole dataset is only 37GB (8382 features \* 4 bytes/feature \* 1179914 snapshots), so could even fit into memory!

[2016-08-07 04:35] franknoe commented on #887
Am 07/08/16 um 04:33 schrieb John Chodera:

Or are you referring to lack of efficiency? If I recall correctly,
Martin and you have OpenMP-parallelized the minRMSD clustering code. If
you still feel that the code is slow compared to your own implementation
on comparable molecular systems, I think you are the most knowledgeable
person to suggest how to improve it.

A bottleneck might be that we are

[2016-08-07 16:28] jchodera commented on #887
I think this is the surprising thing! The field has moved to the belief that minRMSD clustering does not work well for problems of the size we're interested in, but none of the modern MSM construction (until recently!) have had the ability to actually do that comparison on datasets of current size!

No, not that at all---the Theobald QCP + OpenMP implementation in `pyemma` now (thanks to the hard

[2016-08-08 18:48] jchodera commented on #887
Hm, I wonder if my number of requested clusters was larger than (or comparble to) the number of samples being used in the k-medoids minibatch when I set the `batch_size` very small....

[2016-08-08 19:05] sonyahanson opened #891 "AssertionError: C0 is not a symmetric matrix"
We are getting an Assertion Error when trying to run `pyemma.coordinates.pipeline`

[code]

Have you seen this before?  Let us know if you need more information. Tagging @maxentile, in case he can help clarify anything.

[code]

[2016-08-08 19:14] maxentile opened #892 "Complications when operating on a trajectory file which is being written to"
Hi!

Sometimes trajectory files are being written to at the same time as PyEMMA is running, and we would like to use PyEMMA to analyze the data as it arrives. This has caused a couple errors, which can be avoided by copying the trajectories to a "staging" folder where nothing is changing.

Tagging @sonyahanson and @jchodera .

Error  1: `kmeans.get_output()` is assigning some frames the label -1,

[2016-08-08 20:51] marscher commented on #892
Hi,

reading from a file which is currently under change is totally
unreliable in general. You do not know when a buffer has been finally
written by the operating system eg. when it arrives the file system.
Unless you have a file format which supports it (I'd guess hdf5 for
parallel file systems might support it)l, this mode will most likely
brake everything.

So both errors you observe are due to

[2016-08-08 22:31] jchodera commented on #892
Thanks for the quick response!

Two comments:
1. I believe these errors in particular persisted even when the data was
   staged. Can you confirm @maxentile?
2. Are there formats you would consider "more sane"? If we want to be able
   to adaptively build MSMs, we would ideally figure out some sort of solution
   aside from staging. If the behavior is simply that the file may get longer
   as more

[2016-08-08 23:00] maxentile commented on #892
Thanks so much, Martin!
1. Hmm, I believe data-staging actually eliminated these two errors. @sonyahanson , is that correct? (I believe [this other error](https://github.com/markovmodel/PyEMMA/issues/891) is one that may have persisted even when the data was staged.)
2. Martin mentioned HDF5 as a format that could support concurrent read/write file access, and our trajectories are currently stored

[2016-08-09 00:12] marscher commented on #892
I think of a solution right now.
@clonker could we change the trajectory_length attribute that way, that it will back propagate to the final source, which will os.stat the underlying files again to find a proper length (if the file format supports it). The underlying iterators would then have to obtain the length every time from the reader. I'm not sure we've done this? An iterator would then know

[2016-08-09 12:12] marscher commented on #891
Actually I've never seen this behaviour before and it looks like something went horribly wrong... Do you also write to trajectories, while pyemma reads them?

[2016-08-09 12:34] jchodera commented on #891
@sonyahanson: Was this error still occurring on staged data, or only when the trajectories were still being synced from FAH?

[2016-08-09 13:43] marscher opened #893 "[kmeans] parallelize distance calcuation during clustering phase"
So far, we've only implemented this for the cluster assignment phase.

[2016-08-09 13:47] jchodera commented on #893
Isn't the parallel cluster assignment used in the clustering iteration process? Is it just the generator update that isn't parallelized?

[2016-08-09 13:54] marscher commented on #893
No it is only used during assignment. We need to create an abstract function, which will wrap all distance calculations loops and do a reduction on the minimum distance.

[2016-08-09 14:46] sonyahanson commented on #891
This error was still occurring on staged data.

[2016-08-09 14:54] marscher commented on #891
@fnueske Did you ever observed that the unlagged covariance matrix is not symmetric? We also use covartools from variational to calculate this matrix.

@sonyahanson Can you please save the covariance matrix and send it to us or attach it to this issue? Maybe the check is too strict.

np.save('cov.npy', tica.cov)

[2016-08-09 16:19] clonker commented on #892
Sure, we ask all the parent estimators about the trajectory length.. so except for the os.stat part the infrastructure is there.
I'm just not sure how well it is going to behave..

[2016-08-09 16:22] fnueske commented on #891
No, I can't recall having observed this. We need to look at the example
to find out what's happening.

Am 09.08.16 um 16:54 schrieb Martin K. Scherer:

[2016-08-09 17:33] jchodera commented on #892
This sounds like a good idea!

[2016-08-09 20:54] sonyahanson commented on #892
Yes, data-staging eliminated these errors as far as I can tell.

[2016-08-10 09:40] fabian-paul commented on #891
I have a hypothesis: lately I've encountered some NaN that came out of my tica transformations. I've not been able to replicate this in a systematic way or narrow down the cause. It only affected a few frames, so I just threw away that data. Since NaN != NaN, every correlation matrix that contains one NaN entry must be non-symmetric.
The causes for NaN in the data can be many, since we use np.empt

[2016-08-10 09:48] fabian-paul commented on #888
Hi Hongbin,

I guess that there is some misunderstanding here. You CAN use connectivity='post_hoc_RE' for data that comes from multi-temperature simulations. I would even recommend it.
But you should rather not use direct_space=True.

Best,
Fabian

[2016-08-10 10:51] gph82 commented on #891
I confirm this, but it is very hard to reproduce. I j think the NaNs appear at values integer of the chunksize
Sent from my phone
Apologies for brevity and typos

[2016-08-10 11:08] marscher commented on #891
We could add this check in a very general interface of the streaming
pipeline. However it is not trivial what should happen if a NaN is
detected. Should we just discard this frame then and hope for the best
or raise a error?

One could also think of a NaN-handler class which can be set by the user
to decide what should happen. Eg. replace with a sane value or omit.

Discarding stuff will most like

[2016-08-10 11:37] fabian-paul commented on #891
I would rather initialize arrays with NaN and try to fix all indexing errors.

[2016-08-10 11:40] fabian-paul commented on #891
In that case that the input data of the user contains NaNs: from the top of my head I don't see any reason why we should allow this.

[2016-08-10 11:51] franknoe commented on #891
It's fairly simple - First of all we need to find out why the symmetry
check fails, and then it needs to be avoided, unless it's directly due
to the user input.

Other remarks:

Initialization: C0 is just a sum of matrix products. So it's reasonable
to initialize it with 0's as long as no data have been used.

Input checks: If the input data contains NaNs, that shouldn't be
allowed, but that would

[2016-08-10 12:43] marscher commented on #891
Am 10.08.2016 um 13:51 schrieb Frank Noe:

If you say, that should not be allowed, how would we then disallow it, if we don't check for that?

I would question, if the time cost for the check (which can be switched on/off) would not be dominated by the time of the user,
if he or she would given some hint, what is actually broken.

[2016-08-10 12:46] marscher commented on #891
Am 10.08.2016 um 11:40 schrieb fabian-paul:

fails with the exact same error message.

[2016-08-10 13:37] jchodera commented on #891
Thanks, everybody!

Our trajectories should never have `NaN`s in them---the FAH machinery prevents this from happening---but I wonder if there might be some issues with incompletely-`rsync`ed HDF5 trajectory data. I don't know if the HDF5 reader interprets incomplete final dataframes as containing some `NaN`s. We can check this with a simple Python script that scans the trajectories to see if ther

[2016-08-10 14:46] marscher commented on #891
Am 10.08.2016 um 15:37 schrieb John Chodera:

The problem with re-syncing is exactly what leads to error in #892 and most probably also in this case. You can not assure, that the data (structure)
is in a sane state, while it is being written to, as long the underlying data structure supports it. I found that a HDF5 access needs to be set up differently,
if parallel read/write access is desired and

[2016-08-10 14:59] juanmit commented on #888
Hi Fabian,

Thanks a lot for the notation. I really appreciate your notation!!!

I did not use connectivity='post_hoc_RE' initially because I was thinking that calculating all_assumed_overlap( summed_count_matrix) would be more accurate, and also I misunderstood the concepts of post_hoc_RE and direct_space.  Since my simulation data is at different temperatures and restraints, I will try to apply

[2016-08-10 16:21] sonyahanson commented on #891
Thanks for your insights here, and sorry for the delay, but I only see this error when running a script that takes a while to run. I have now been able to reproduce the error while outputting the covariance matrix.

I'm not quite sure what to look for, but this is what the covariance matrix looks like:

[code]

I've also sent the full `cov.npy` file to @marscher.

Let me know if there's anything e

[2016-08-10 16:25] jchodera commented on #891
Are you able to tell if the matrix has NaNs in it? I think this is
np.any(np.isnan(C0)) or similar.

[2016-08-10 16:52] sonyahanson commented on #891
[code]

[2016-08-10 17:07] sonyahanson commented on #891
Actually just realized this might be the wrong file...

[2016-08-10 17:35] sonyahanson commented on #891
Sorry about that, I have reason to believe that this is the covariance matrix generated while running the same script on a smaller subset of trajectories for which I don't see this error.  Doing this again and also outputting `tica.cov_tau`.

[2016-08-10 23:27] jchodera commented on #891
Thanks, @sonyahanson!

[2016-08-12 16:23] sonyahanson commented on #891
A few updates here: I was not able to actually output `tica.cov`, since the error occurs during the creation of the tica object.

[code]

Suggestions on an alternative way to figure out what's going on are welcome.  We are currently looking into if there is a problem with the trajectories themselves...

[2016-08-12 16:48] franknoe commented on #891
Just wondering, does this only occur when you use the pipeline? You
don't need to use the pipeline for this example.

Am 12/08/16 um 18:23 schrieb sonyahanson:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-08-12 18:30] jchodera commented on #891
I don't see how this could be a problem with the trajectories. We've established that these are complete trajectories that are not being appended to and the resulting C0 has no NaNs. This should be within the valid domain of the code.

[2016-08-12 20:00] jchodera opened #897 "Discard initial frames from trajectories in pyemma.coordinates.source?"
The idiom

[code]

is incredibly convenient for loading datasets, but is there a simple way we can discard the first `ndiscard` frames from each trajectory to remove initial bias?

[2016-08-12 20:09] marscher commented on #897
On 12.08.2016 22:00, John Chodera wrote:

assume you've create reader with the source function:

[code]

[2016-08-12 20:11] jchodera commented on #897
Maybe this would be a useful feature to add?

It's not quite the same as a lag time---we just want to discard the first `ndiscard` frames and then use all the frames after that, and potentially a lag time that has nothing to do with `ndiscard`.

We're working with very big datasets, of course.

[2016-08-12 20:13] marscher commented on #897
I'm wrong. It is in the public interface ;)

see the docstring I've sent you. Note that you can pass the iterator to
TICA.

[2016-08-12 20:17] marscher commented on #897
uh, this is wrong... :/

even the private _estimate method, which should accept it directly, does
not eat it.

[2016-08-15 13:38] sonyahanson commented on #891
At the moment the error has only occurred using the pipeline. Since it seems to be occurring only for the full set of trajectories and for the exact way we are picking our features, it is possible we won't be able to do it without the pipeline due to the amount of memory required, but we'll look into it.

[2016-08-16 10:02] gph82 opened #899 "[estimators/ChapmanKolmogorovValidator] accept n_jobs?"
Am I wrong, or we can make cktest accept an n_jobs parameter to parallelize it?
LaggedModelValidator accepts it already:
https://github.com/markovmodel/PyEMMA/blob/327f24202c590aea33da59b2b80434f482ebefd4/pyemma/msm/estimators/lagged_model_validators.py#L40

Happy prepare a PR if it's just raising n_jobs it to the level of cktest

[2016-08-16 10:03] marscher commented on #899
yes please :+1:

[2016-08-16 10:06] marscher commented on #891
The default chunk size of the pipeline is very small (100). It could be that with such a large data set numerical errors ruin the final matrices, since we chop down the summation to much operations than necessary.
Actually we wanted to change the chunksize parameter such, that it uses a sane amount of memory, eg. number of floats per chunk.

@sonyahanson Could you confirm this by increasing the ch

[2016-08-16 12:20] gph82 commented on #899
Hi @marscher , I cannot really follow the logic of this error message, see this branch of mine for the code generating the error:
https://github.com/markovmodel/PyEMMA/compare/devel...gph82:parallel_cktest?expand=1

[code]

[2016-08-16 12:41] marscher commented on #899
I would also have to look into this deeply. At first view it looks like
the estimator has not been estimated before the observables are
requested, so it should be done before accessing them.

[2016-08-16 12:48] gph82 commented on #899
Yeah, I it's estimates all the way down...;)

Happens only with n_jobs=2, though

On 16.08.2016 14:41, Martin K. Scherer wrote:

##

Dr. Guillermo Pérez-Hernández
Freie Universität Berlin
Institute for Mathematics
Arnimallee 6
D-14195 Berlin
tel       0049 30 838 75775

## http://userpage.fu-berlin.de/gph82/

[2016-08-16 13:03] marscher commented on #899
On 16.08.2016 14:48, Guillermo Pérez-Hernández wrote:

[2016-08-16 13:06] gph82 commented on #899
sorry, yeah, that's what I meant. If you look at the test, orginally
there was a loop over a couple of n_job values which I reduced to just [2]

On 16.08.2016 15:03, Martin K. Scherer wrote:

##

Dr. Guillermo Pérez-Hernández
Freie Universität Berlin
Institute for Mathematics
Arnimallee 6
D-14195 Berlin
tel       0049 30 838 75775

## http://userpage.fu-berlin.de/gph82/

[2016-08-16 13:19] marscher commented on #899
the flag is lost during estimator cloning, which is needed for
multiprocessing.

So the chapman test is not perse multiprocessing compatible because it
violates sklearn estimator assumptions (eg. the estimation only depends
on the parameters given in the constructor).

[2016-08-16 13:32] marscher commented on #899
If the estimation fails for a certain lag time, self._is_estimated is
never set. This what the error message tells us (has no attr...). So
this case needs to be handled separately.

[2016-08-16 14:57] gph82 commented on #899
separately in sklearn or pyemma-side? Sorry but you lost me at "cloning
estimators"

On 16.08.2016 15:32, Martin K. Scherer wrote:

##

Dr. Guillermo Pérez-Hernández
Freie Universität Berlin
Institute for Mathematics
Arnimallee 6
D-14195 Berlin
tel       0049 30 838 75775

## http://userpage.fu-berlin.de/gph82/

[2016-08-16 14:59] marscher commented on #899
On 16.08.2016 16:57, Guillermo Pérez-Hernández wrote:

[2016-08-16 22:28] #899 closed, assigned to nobody

[2016-08-17 15:39] marscher commented on #897
fixed by #901

[2016-08-17 15:39] #897 closed, assigned to nobody

[2016-08-18 16:32] sonyahanson commented on #891
Running this, sorry for the delay. Just to note (mentioned up top) that the chunksize was already slightly higher than default (`chunksize = 1000`).

[2016-08-18 16:53] marscher commented on #891
Than probably this is not the issue...

[2016-08-18 18:26] marscher commented on #891
@sonyahanson Could you please install from the debug branch like this to get a dump of the correlation matrices?

[code]

This will create a new environment with the devel version of pyemma (so all dependencies are dragged in) and the installs the debug branch via pip.

[2016-08-18 20:39] sonyahanson commented on #891
Will do! Thanks!

[2016-08-18 21:54] marscher commented on #891
Sorry, there is an error. Have you already started?

[2016-08-18 21:55] marscher commented on #891
mhm in this case it would not matter, it will save the matrices in any
case.

[2016-08-20 01:19] jchodera opened #905 "Trajectory info cache sometimes tries to use /"
On travis-ci, we are noticing that the trajectory info cache sometimes tries to write to `/` with the conda version of `pyemma 2.2.3` or the current git head:

From [this log](https://travis-ci.org/choderalab/msm-pipeline/jobs/153712453#L680-L714):

[code]

[This comment](https://github.com/markovmodel/PyEMMA/blob/49e4a3dd68bfec6bf08cd14ed06efc4661e2d59a/pyemma/coordinates/data/util/traj_info_back

[2016-08-20 01:23] jchodera commented on #905
This seems like a duplicate of #882 (which was closed)

[2016-08-20 11:55] #892 closed, assigned to nobody

[2016-08-22 10:34] marscher commented on #905
Do you invoke your script via nose/pytest or bash?

[2016-08-22 10:46] marscher commented on #905
A comment to your two cents. We do not write the database file next to your trajectory files, but next to the main database, which is stored in exactly the place you have described (dot folder in $HOME). However Frank didn't want to have this by default (eg. it is not written until the user requests it).

Actually the LRU cache should not even be used, if there is only a "in-memory" database in yo

[2016-08-22 13:53] #905 closed, assigned to nobody

[2016-08-22 14:16] marscher commented on #399
done.

[2016-08-22 14:16] #399 closed, assigned to nobody

[2016-08-23 01:02] jchodera commented on #905
Sorry for not being able to respond earlier! Thanks for the clarifications and bugfix here!

[2016-08-23 03:12] kai687 opened #907 "TypeError in _draw_arrow() with newer versions of numpy"
Using numpy 1.11, I tried to plot a Hidden Markov Model with _plot_markov_model()_, explicitly providing the positions of the states with with an array. I received the following error:

`TypeError: ufunc 'true_divide' output (typecode 'd') could not be coerced to provided output parameter (typecode 'l') according to the casting rule ''same_kind''`

I replaced the offending line in _plots/network.p

[2016-08-24 08:07] greenTara opened #909 "propagate function of msm.models.msm and hmsm returns complex values"
When the number of propagation steps k is one or more, the return value from propagate is a vector of complex values. Although the imaginary part is 0.j, this cause unexpected results when using this function. If the input is real and k is a nonnegative integer, then I believe there is no reason the output should be anything but real-valued.

[2016-08-24 13:56] marscher commented on #909
I guess you have a dense matrix there. The only thing which could introduce complex values here are the eigenvalues/vectors of P during the propagation. I think we wanted to cut the dtype to float, if the imaginary parts are all zero in msmtools.analysis.rdl_decomposition (it is on the issue list in msmtools)

[2016-08-24 13:57] marscher commented on #909
Is your model reversible? (since non-reversible matrices can have a non-real spectrum).

[2016-08-24 14:15] greenTara commented on #909
The model is not reversible. This is coming up in testing. I constructed a
transition matrix from a decomposition, so I know the eigenvalues are
supposed to be real.

I just checked on what the .eigenvalues() method returns - they are complex
values, but with 0.j as imaginary part.

So yes, this is probably where the complex part is coming in.

However, I would have expect the propagate function t

[2016-08-24 14:45] marscher commented on #907
are you passing the positions as an integer array?

[2016-08-24 14:56] marscher commented on #909
for dense matrices this code branch is being executed:

[code]

This is cheaper to compute than raising P to the power of k. So this case is not handled explicitly, which needs to be done.

As a workaround you could do something like this:

[code]

before invoking the propagate method.

[2016-08-24 15:22] stefdoerr opened #911 "Rename PCCA metastable_assignment(s)"
it's called metastable_assignment**s** in the other classes

[MaximumLikelihoodHMSM.metastable_assignments](http://emma-project.org/latest/api/generated/pyemma.msm.MaximumLikelihoodHMSM.html#pyemma.msm.MaximumLikelihoodHMSM.metastable_assignments)
[MaximumLikelihoodMSM.metastable_assignments](http://emma-project.org/latest/api/generated/pyemma.msm.MaximumLikelihoodMSM.html#pyemma.msm.MaximumLikeli

[2016-08-24 15:42] franknoe commented on #911
The msm object just uses the PCCA object in order to compute the
metastable assignments, so it must the same in this case. But in the
hidden MSM metastable assignments are computed differently.

Regarding the naming: we could change that, but it would change the
msmtools API. I think the most important point is that the kinetic
models have compatible namings (msm.metastable_assignments,
hmsm.metas

[2016-08-25 08:51] #911 closed, assigned to nobody

[2016-08-25 12:44] marscher commented on #909
@franknoe Do you think we should add a check in the decomposition method on PyEMMAs side to discard the imaginary part, if all parts are zero?

[2016-08-25 13:26] greenTara commented on #909
I was just looking at the input assertions - k is only allowed to be a
non-negative integer.
So there should be no need to check if the imaginary part is zero - the
imaginary part should always come out to be zero, if the input is real.
There is not currently an input assertion for that.

Tara

On Thu, Aug 25, 2016 at 2:44 PM, Martin K. Scherer <notifications@github.com

[2016-08-25 13:39] kai687 commented on #907
I guess I did.

[2016-08-25 13:41] stefdoerr opened #912 "HMM weird transition matrix"
[code]

How is it possible to have a stationary distribution with a disconnected transition matrix? Also if you have any idea why I get such a transition matrix would help :)

The MSM before coarse graining looks fine from timescales at least

![index](https://cloud.githubusercontent.com/assets/7935362/17971292/8cb34be2-6ada-11e6-9c50-d348007b8c4b.png)

[2016-08-25 14:48] greenTara commented on #912
Any vector is an eigenvector of the identity matrix, so any distribution will be a stationary distribution.

[2016-08-25 14:57] franknoe commented on #912
My guess is that you used connectivity='all' or similar in the
estimation. That means you get all states, even if they are
disconnected. The HMM algorithm can handle that. Now if you want, you
could select the the largest metastable state, or the most populous one,
and continue the analysis with that part of the data. You can also set
the connectivity so as to directly get a model on that subset,

[2016-08-25 15:05] marscher commented on #907
The cast warning (which is triggered as an exception due to the safe-cast rule) indicates, that the input wasn't floating point.

Can you show us how you've set the positions please? Anyhow we should cast the input accordingly and throw an error, which is not that misleading.

[2016-08-25 15:14] marscher opened #913 "Joblib/multiprocessing copies parent process memory"
The situation is that a user has already loaded a fairly large dataset into memory before he/she invokes a parallel estimation. Every time we perform a parallel computation, we will create a new process pool, which will memory map the parents memory. In modern operating systems (like Linux), this virtual memory mapping will only cause a copy of the base memory if the data is actually written.

How

[2016-08-25 15:25] gph82 commented on #913
Thanks for the solid 2h debugging session, @marscher. If we go this way,
it would also be sane to check that the machine one is working on has at
least the number of cpus that "initial_pool_size" wants to set,
otherwise reduce it. Oder?

On 25.08.2016 17:14, Martin K. Scherer wrote:

##

Dr. Guillermo Pérez-Hernández
Freie Universität Berlin
Institute for Mathematics
Arnimallee 6
D-14195 Berlin
te

[2016-08-25 15:26] stefdoerr commented on #912
Ok I see now about the stationary distribution.

I was following the [penta-peptide tutorial](http://www.emma-project.org/latest/generated/pentapeptide_msm.html#coarse-grained-kinetic-model-using-a-hidden-markov-model). There are no options for connectivity to [coarse_grain](http://www.emma-project.org/latest/api/generated/pyemma.msm.MaximumLikelihoodMSM.html#pyemma.msm.MaximumLikelihoodMSM.coarse

[2016-08-25 15:29] marscher commented on #913
one could also try to configure the multiprocessing package to use a fork_server, which will spawn a server which will then serve minimal resource processes as workers.

[2016-08-25 15:31] marscher commented on #913
https://docs.python.org/3/library/multiprocessing.html#contexts-and-start-methods

[2016-08-25 15:32] marscher commented on #913
however multiprocessing is wrapped by joblib itself

[2016-08-25 15:51] franknoe commented on #912
Yes, try to play with using `estimate_hidden_markov_model` directly,
it gives you more control. The current coarse-grain option is a bit of a
relict, I think it would be less confusing to replace it by something
that actually coarse-grains the MSM rather than doing a new estimate.

Am 25/08/16 um 17:26 schrieb Stefan:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Frei

[2016-08-25 16:24] franknoe commented on #913
I have mostly bad experiences with python multiprocessing, and would probably avoid it in general (at least PyEMMA shouldn't use it by default). I'm not sure what's the exact context you have tried it on, but apart from the fact that is sometimes crashes or blocks, in some cases it can be slower than serial execution. My feeling is that this happens mainly when there is a lot of data associated wi

[2016-08-27 03:12] kai687 commented on #907
Sure. I used the following line, which throws the above mentioned error:
`mplt.plot_markov_model(hmm, pos=np.array([ [0,0], [5,0], [5,-5] ]))`
(hmm is a hidden markov model, same procedure as in your examples)
The network plots as expected, when I perform the above mentioned
change in the normalization.

[2016-08-29 15:53] trendelkampschroer commented on #909
@marscher: The result of

[code]

can be safely cast to real if a full set of eigenvalues and eigenvectors of a transition matrix have been used. I assume that is always the case here.

[2016-08-30 11:57] gph82 commented on #913
Hi, IDK about the (some) technical issues, and I am all for better algos (who isn't?). I can report that I tested this branch (timescales(**, n_jobs=5) and confirmed the speedup is significant! Thanks @marscher

[2016-08-30 12:04] marscher commented on #913
@franknoe:
Some assumptions you've made are not true. For instance the need to serialize things in multiprocessing only holds for platforms, which do not provide the process-"fork" method. This method is available on all Unix systems, so serialization overhead only comes into play for Windows systems. The fork method creates a virtual address mapping of the process being forked from and only copie

[2016-08-30 12:04] #913 closed, assigned to nobody

[2016-08-30 12:07] #889 closed, assigned to nobody

[2016-08-30 12:32] marscher commented on #913
https://stackoverflow.com/questions/26025878/what-is-being-pickled-when-i-call-multiprocessing-process

[2016-08-30 13:23] #907 closed, assigned to nobody

[2016-08-30 19:53] marscher commented on #909
thanks for clarifying.

[2016-08-30 20:48] #909 closed, assigned to nobody

[2016-08-30 21:34] franknoe opened #917 "subtree variational"
I discussed with Feliks and Hao today, suggesting that we should add a suitable commit of the variational package as a code dependency under `pyemma.ext`. This will allow us new variational/TICA estimators to be used in PyEMMA, and avoids the need of having duplicate code.

To be clear: I wouldn't want a package dependency, since there is no official release of the variational package yet, the API

[2016-08-31 01:22] marscher commented on #917
I understand your concerns about adding a new dependency, but using the structure as it is of the variational repository does not fit the git subtree pattern.
This emerges from the fact that subtrees add the root of the repository (variational) under a given path in the integrating repo (pyemma). So we would need to change the structure of the variational repo (a plain python package, with an `__i

[2016-08-31 02:03] marscher commented on #917
@fnueske

[code]

Is this file really needed? I'd guess you can come up with smaller test data or just generate it on the fly?

[2016-08-31 02:17] marscher commented on #917
It seems this file has been deleted along the way but it will clutter the history. If we decide to remove it from the history, the subtree will not be compatible anymore for future updates (or we overwrite the markovmodel/variational history too).

[2016-08-31 07:48] fnueske commented on #917
Yes, the file has been deleted and is not needed anymore. I'm sorry,
this was a beginner's mistake using the github. Can you explain why
removing it from the history would be a problem? If pyemma starts
referencing a current commit of variational, wouldn't the file be gone
already?

Am 31.08.16 um 04:17 schrieb Martin K. Scherer:

[2016-08-31 08:07] franknoe commented on #917
msmtools is pretty solid, but we have had a lot of package dependency issues with bhmm that we also started to depend on while it was still under development. For this reason we now currently just have a copy of part of the code of variational. We have discussed this a couple of times and I still believe we need to reduce the package dependencies rather than increase them in order to keep PyEMMA m

[2016-08-31 08:10] franknoe commented on #917
If the subtree issues creates headaches, maybe we can find a more systematic way to copy code from one repo to another? As far as I remember sklearn essentially keeps literal copies of most of its dependencies in the repo, and they seem to be doing very well with that.

[2016-08-31 09:33] stefdoerr opened #918 "HMM metastable_memberships error"
[code]

[code]

I assume because one state is not in the active_set (due to connectivity largest) there is a bug in the metastable_memberships code?

[2016-08-31 09:35] stefdoerr commented on #918
Also small inconsistency in the docs
http://www.emma-project.org/latest/api/generated/pyemma.msm.estimate_hidden_markov_model.html#pyemma.msm.estimators.maximum_likelihood_hmsm.MaximumLikelihoodHMSM.sample_by_observation_probabilities

The function takes one parameter but you document two parameters

[2016-08-31 09:48] marscher commented on #917
@fnueske we first would need to remove this file from the history of variational. If we we remove it only from the split repo, this will not be mergeable in the future with the legacy. I thought you intended to keep this one, right?
It is not a problem to remove the junk, BUT you have to merge **everything** lying around before, for the same reason above. Note that you can only apply un-merged cha

[2016-08-31 10:14] marscher commented on #917
@franknoe copying code around is the worst thing for maintainability vs. overhead as from my experience :-1: It may be the right approach for scikit-learn for tiny libraries like joblib (which they have started to maintain too, since the have an army of contributors), though.

Look at the files they've copied over vs. the changes between 0.10.2 and 0.10.0.

https://github.com/joblib/joblib/compare

[2016-08-31 10:32] marscher commented on #917
@fnueske I took a look again at the cleaning instructions and you would only have to push your branches to the main repo in order to rewrite the history for all of them with just one call. So just make sure that everything you want to keep is there.

[2016-08-31 10:35] fnueske commented on #917
No, don't keep that file. The tests that were using it have been
removed, and as I said, it was a mistake to upload such a large data file.

Let me get this straight: I need to merge all branches lying around
right now into the master branch before we can do this? This will be a
bit of work. I'll try to sort this out, but it will take some time.

Am 31.08.16 um 11:48 schrieb Martin K. Scherer:

[2016-08-31 10:36] marscher commented on #917
Sorry. I need to clarify. You just need to ensure that you push your work to origin, before we proceed.

[2016-08-31 11:35] franknoe commented on #917
I'm good with the subtree approach if it can be done.

Am 31/08/16 um 12:14 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-08-31 11:46] fnueske commented on #917
Okay. Still, I think this is a good time to have a look at the different branches I created and clean them up. I'll let you know when I'm done with this.
@franknoe , would you like to include the Koopman estimation routines in pyemma right now? If yes, we should discuss how the functions in variational should look like before proceeding with this issue.

[2016-08-31 12:48] franknoe commented on #917
The immediate TODO would be to connect the parts of the variational package already used by TICA. I think these functions haven't changed, so this should be a purely technical issue of replacing the PyEMMA code by a dependency to the subtree.

Agreed about the Koopman estimation stuff. As long as we have no dependency on that we can change it though, so let's discuss this in the variational github

[2016-08-31 15:22] marscher commented on #917
If we cut out coordinates too, how should we deal with TICA then? Should it be exclusively usable in pyemma?

[2016-08-31 15:36] franknoe commented on #917
I don't understand. In PyEMMA there is currently a subpackage that is
called variational (I think), and that's just a copy of the code of the
variational package. I was talking about replacing that with a link to
the subtree'd package.

Am 31/08/16 um 17:22 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49)

[2016-08-31 15:43] marscher commented on #917
Sorry for being off topic. Of course we can handle it the same way, right.

[2016-09-01 07:17] fnueske commented on #917
@marscher: You can go ahead now. I have deleted three obsolete branches and pushed all my local changes. By the way: What is the purpose of the plain branch?

[2016-09-01 11:17] marscher commented on #917
Thank you! I've just pushed the rewritten branches back to origin. The plain branch was just a test branch of mine.

[2016-09-01 13:21] marscher commented on #743
we've worked around that by moving tests out of _base...

[2016-09-01 13:21] #743 closed, assigned to nobody

[2016-09-05 15:45] gph82 opened #920 "HMM multiprocessing"
IDK if #913 has anything to do with this, but I get an
`MaybeEncodingError: Error sending result:` when multiprocessing/pool.py tries to return the models. I'm running: '2.2.3+97.g3cd8ba5'

[code]

[2016-09-05 15:58] gph82 commented on #920
Together with @marscher  could not reproduce with a smaller dataset, we'll report back

[2016-09-05 20:10] franknoe commented on #913
Am 30/08/16 um 14:04 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-09-06 08:25] gph82 commented on #920
Happens also with n_jobs=1 and the full dataset...

[2016-09-06 09:32] marscher commented on #920
https://bugs.python.org/issue17560

[2016-09-06 10:16] gph82 commented on #920
Weird that nothing's being done since 2013, right?

[2016-09-06 10:25] marscher commented on #920
Seems like... its a fundamental design issue, which cant be changed for backward compatibility reasons.

Since this happens during receiving the results, the HMM estimators are blown up beyond the 4GB limit. I doubt that this is really necessary.

[2016-09-06 10:27] gph82 commented on #920
what does blown up mean, exactly, in this context? Do you mean "unnecessary large"?

[2016-09-06 11:44] marscher commented on #920
exactly. Some very large data is attached to the Estimator objects returned, which exceed the limit.

[2016-09-06 15:48] jeiros opened #922 "How to add featurizer to Amber NetCDF files?"
Hi all,

I'm trying to understand how would I load only a subset of features from a NetCDF Amber simulation file.
From the documentation of the [load](http://www.emma-project.org/latest/api/generated/pyemma.coordinates.load.html#pyemma.coordinates.load) function, I can use `features (MDFeaturizer, optional, default = None) – a featurizer object specifying how molecular dynamics files should be rea

[2016-09-07 14:46] marscher commented on #922
Thank you for your detailed report. We have not tested netcdf extensively, so we really appreciate. Can you confirm, the same behaviour if you use the "source" function of coordinates?

[2016-09-07 14:50] marscher commented on #922
The _assert_toptraj_consistency method actually passes the top argument to the underlying loader (netcdf), so it is not obvious why the netcdf loader of mdtraj complains it is lacking the top argument.

[2016-09-07 15:08] marscher commented on #922
I think we assume that topfile is really a file not a mdtraj.Topology object (which the documentation is actually clear about). So our type-checking gets somehow confused, because "topfile" isn't a string.

[code]

However we should support passing Topology objects, too.

[2016-09-07 15:22] marscher commented on #922
the load function of mdtraj type checks three cases, we could also support.
1. str (path)
2. Trajectory
3. Topology

However the "topologyfile" argument is then somehow misleading.

[2016-09-07 15:22] jeiros commented on #922
Hi @marscher ,

I've used the `source` function as follows:

[code]

So in that case it works fine

[2016-09-07 15:25] jeiros commented on #922
Also, if I just pass the string of the `.prmtop` file, the `load` function gives an OSError because it doesn't recognize the extension of the file:

[code]

[code]

Edit: This is why I actually passed the topology as an mdtraj topology object, because although in the docs of the `load` function the top argument is meant to be a string, it doesn't work for files ending in `.prmtop`.

[2016-09-07 15:41] marscher commented on #922
ah I see. You should have said that in the first place :+1:

[2016-09-07 17:31] Sawrz opened #924 "Mapping back PCA & TICA Dimensions to Input Data Set"
Hey there,
I'm trying to figure out a way, where i can find out which of the given dimensions survived TICA or PCA. All I got is the already projected data set, where i can't map the dimensions back to the data set I did PCA or TICA on.
Is there an already build in function or a work around for getting the index of the input dataset of the survived dimension where i could easily map it back?

I ho

[2016-09-07 18:57] gph82 commented on #924
Hi, not confusing at all. Your question is very meaningful...if you change the word "survived" with "most correlated to". We've implemented exactly that here:
http://www.emma-project.org/latest/api/generated/pyemma.coordinates.transform.TICA.html#pyemma.coordinates.transform.TICA.feature_TIC_correlation

The PCA equivalent is not yet there, but will be soon. Not to high prio for now

[2016-09-09 06:14] #922 closed, assigned to nobody

[2016-09-09 08:55] #924 closed, assigned to nobody

[2016-09-09 09:21] marscher opened #926 "Cut out coordinates"
In order to prepare for the transition of coordinates being cut out to a separate package, we need to ensure the following things:
1. [ ] provide an interface to the theobald rmsd library of mdtraj to avoid the dependency in the new pkg.
2. [ ] register the FeatureReader for tested formats in the new FileFormatRegistry.
3. [ ] tidy up variational, so we can use the running covar estimator in TICA.

[2016-09-09 12:52] giadefa opened #927 "Parallel execution in TICA"
I find the TICA mean+covariance part really slow (i.e. hours). Looking at the CPU utilization it seems that is parallel but not really efficient with utilisation around 30% of all cores.

How is parallel via numpy? I wonder if this could be improved by explicitly parallelizing on trajectories which should be able to get full occupancy.

gianni

[2016-09-09 13:01] franknoe commented on #927
Am 09/09/16 um 14:52 schrieb Gianni De Fabritiis:

Parallelization over trajectories would be on the Python side, and I
have no good experiences with that. Technically it should not be too
hard to add a parameter that allows to use parallel jobs. @marscher or
@clonker can comment on this.

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone:

[2016-09-09 13:06] giadefa commented on #927
Data is in memory.

I think that numpy blas does not do a perfect job here. A simple joblib.Parallel call over X cores with an accumulation at the end could be faster but I am not sure if it's possible.

[2016-09-09 13:17] marscher commented on #927
@giadefa Do you use MKL or OpenBLAS (or even another BLAS impl)? Due to my experience MKL sometimes scaled very weakly...
I installed nomkl in my conda environment and re-installed numpy to ensure it is not linked against MKL.

The scaling also depends on how much data you are processing at once. Try increasing the chunksize in order to give more work to the cores.

We could also try to paralleliz

[2016-09-09 13:22] franknoe commented on #927
Am 09/09/16 um 15:17 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-09-09 13:30] giadefa commented on #927
we have usually fast enough IO to load up even 16 processes when we do the metrification in htmd.
I have no idea what type of blas I am using. How do I check?

g

[2016-09-09 13:30] marscher commented on #927
If you don't know and use anaconda, you are using MKL.

[2016-09-09 13:31] giadefa commented on #927
yes, i have mkl installed

[2016-09-09 13:32] marscher commented on #927
Am 09.09.2016 um 15:22 schrieb Frank Noe:

I think MKL is considered "good" by most people. I just made bad experiences with it and Anaconda wants to sell
licenses for that too, which I dont like. If we enforce the usage of OpenBLAS, users
of scikit-learn ans some other packages also have to use it, since these packages
are linking against MKL by default.

What kind of trigger are you thinking of?

[2016-09-09 13:35] franknoe commented on #927
Am 09/09/16 um 15:32 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-09-09 13:39] marscher commented on #927
TICA does not use n_jobs at all.

[2016-09-09 13:41] franknoe commented on #927
Yes. That would be the suggested addition if we want to do
parallelization over trajectories.

Let's check bottlenecks in the covariance computation first though.

Am 09/09/16 um 15:39 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 141

[2016-09-12 09:18] giadefa commented on #927
around 2000 trajectories, 100 frames, 7500 dimensions

On Fri, Sep 9, 2016 at 3:35 PM, Frank Noe notifications@github.com wrote:

[2016-09-12 10:18] franknoe commented on #927
7500 dimensions, that makes things very slow, because the effort is
quadratic in the number of dimensions. On my Mac a naked numpy
calculation of X.T X with X being dimension 100x7500 takes about 0.5 s.
We need roughly four times the effort in TICA to compute X.T X, X.T Y,
Y.T X and Y.T Y where X and Y are the data matrices separated by the
time lag. That means more than one hour for computing the

[2016-09-12 10:21] giadefa commented on #927
We use distances though. I guess that I could remove dimensions which never
become small.

g

On Mon, Sep 12, 2016 at 12:18 PM, Frank Noe notifications@github.com
wrote:

[2016-09-12 10:22] franknoe commented on #927
yes

Am 12/09/16 um 12:21 schrieb Gianni De Fabritiis:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-09-12 10:23] gph82 commented on #927
for what it's worth,
I use a cutoff for heavy-atom-heavy-atom distances between 3-4 Angstroms.
Anything that spends all the simulated time either:
entirely above, or
entirely below
that cutoff, doesn't even get considered for TICA

On 09/12/2016 12:21 PM, Gianni De Fabritiis wrote:

##

Dr. Guillermo Pérez-Hernández
Freie Universität Berlin
Institute for Mathematics
Arnimallee 6
D-14195 Berlin
tel

[2016-09-12 10:25] franknoe commented on #927
yes, that's the contact-based selection I was talking about - but you
can keep the actual distances for the coordinates you keep.

Am 12/09/16 um 12:23 schrieb Guillermo Pérez-Hernández:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-09-12 10:26] gph82 commented on #927
I do, I do . I don't  "binarize" to zeroes or ones afterwards. TICA  then uses the continous distances values

[2016-09-12 10:36] giadefa commented on #927
3847 left, so still a lot.

On Mon, Sep 12, 2016 at 12:26 PM, Guillermo Pérez-Hernández <
notifications@github.com> wrote:

[2016-09-12 10:36] franknoe commented on #927
That will be 4 times as fast though.

Am 12/09/16 um 12:36 schrieb Gianni De Fabritiis:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-09-12 10:38] jchodera commented on #927
It would be great if there was an automated way in pyemma to do the contact
subset selection. I think this would be of use to many people.

[2016-09-12 10:40] franknoe commented on #927
OK, we can offer ways to do that. Exactly constant coordinates are
already filtered out during the covariance computation, if it looks like
it's worth the effort, but we can give more general filtering tools.

Am 12/09/16 um 12:38 schrieb John Chodera:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research

[2016-09-12 10:41] giadefa commented on #927
Point 2 based on auto-correlation seems toi me a good way to do it rather
than arbitrarily selectively a threshold.

The joblib.parallel is also rather easy to do and should get you a factor
2x.

On Mon, Sep 12, 2016 at 12:38 PM, John Chodera notifications@github.com
wrote:

[2016-09-12 10:45] gph82 commented on #927
The "autocorrelation" criterion will also be arbitrary, what will you
consider fast, what slow?

This is the question TICA tries to answer.

On 09/12/2016 12:41 PM, Gianni De Fabritiis wrote:

##

Dr. Guillermo Pérez-Hernández
Freie Universität Berlin
Institute for Mathematics
Arnimallee 6
D-14195 Berlin
tel       0049 30 838 75775

[2016-09-12 10:50] jchodera commented on #927
Could you just compute the autocorrelation for each contact independently
and offer the user the option of keeping the slowest fraction X of those?

On the other hand, you might also want to filter out contacts that don't
change, or contacts whose minor fraction is less than a threshold Y.

[2016-09-12 10:53] franknoe commented on #927
I wouldn't say it's arbitrary, you just need to set a parameter. A
reasonable cutoff would be some fraction of the lag time. Also this is
just one possible way to do a priori coordinate filtering. I agree that
we should offer this feature and now we need to decide how to do it
technically.

Essentially we are now doing feature selection. I think this should be
an Estimator/Transformer like TICA (b

[2016-09-12 10:55] franknoe commented on #927
##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-09-12 15:17] jeiros opened #928 "How to proceed with disconnected MSM"
Hi everyone,

I'm following the [BPTI tutorial](http://www.emma-project.org/latest/generated/MSM_BPTI.html) with a system I'm studying (a ligand binding to a protein). I'm just testing around and learning how to use your software, so for the moment I'm just proceeding forward with the MSM building workflow without doing much hyper parameter tuning. My dataset in total is 900 ns (45000 frames) for

[2016-09-13 07:39] franknoe commented on #928
Hi, you can use M.active_set to get the indexes of states in the active
set (in this case largest connected set). With that you can stride the
clusters you want to visualize. We are thinking about doing this in a
more convenient way, but this is how it workes at the moment.

Am 12/09/16 um 17:17 schrieb Juan Eiros:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie U

[2016-09-14 09:16] jchodera opened #930 "Implementing core-based (milestone) coarse-graining approaches"
Eric Vanden-Eijnden recently [published a nice paper](http://arxiv.org/abs/1605.01150) on a new approach for finding core sets for coarse-graining. Has anyone started to implement this scheme into pyemma yet?

@maxentile in my group has been looking into implementing this, but I wanted to make sure we weren't duplicating effort.

[2016-09-14 13:05] gph82 commented on #882
It appears this error has been popping up in the workshop. We're going to include a question in our workshop-evaluation form to see in what platform/versions. What information do you need of apart from the pyemma.**version** and their platform?

[2016-09-14 19:09] marscher commented on #882
On 14.09.2016 15:05, Guillermo Pérez-Hernández wrote:

[2016-09-19 16:33] sstolzenberg opened #932 "pyemma.coordinates.save_coor: obsolete outputs even with verbose=False"
Hi,

in the pyemma.coordinates.save_coor method, regardless of whether I set verbose=False or =True, I always get an output statement for each particular coordinate file that I just wrote out, e.g.:

9-09-16 18:26:38 pyemma.coordinates.api INFO     Created file WT.pcca2_100samples.bs_0.dcd
INFO:pyemma.coordinates.api:Created file WT.pcca2_100samples.bs_0.dcd

This can be quite cumbersome for a lar

[2016-09-19 16:42] marscher commented on #932
@gph82 The log level of the "file created" message is info, which is too high in my opinion and anyway should only be fired if verbose is set.

[2016-09-19 16:47] gph82 commented on #932
@marscher: I find that the automatic behavior should be to inform the user by default if a file is being created. Also, it leaves the behavior of the API intact.

Less important: from my experience in the workshops this is one of the features that inexperienced users use the most ("Finally, after all the model-building, I get to see some structures"), and it is nice that they're being informed abo

[2016-09-19 18:18] #932 closed, assigned to nobody

[2016-09-20 06:16] marscher commented on #882
@gph82 what about the info of the system this occurred on?

[2016-09-20 06:16] #856 closed, assigned to nobody

[2016-09-20 06:20] #912 closed, assigned to nobody

[2016-09-20 06:21] gph82 commented on #882
@marscher, two people answered the online form, this answer is pretty descriptive, but not representative, since I saw it happening on Linux and Mac as well. Anyway:
"The package dependeny error in mdtraj: pyemma version 2.2.3 python version 2.X operating system: Windows 10 behavior: (...) according to our system adim, miniconda does not find the correct windows dependency for C/C++ library. It is

[2016-09-20 06:25] marscher commented on #882
On 20.09.2016 08:21, Guillermo Pérez-Hernández wrote:

So these people could not use mdtraj at all? The traj info cache uses
mdtraj to obtain the information the first time. But this would then not
lead to the error in described in this issue.

Which version did you use in the workshop by the way?

[2016-09-20 06:27] marscher commented on #792
to change this it would require to change a lot of mission critical things, so I refuse this.

Use pip install git+https://github.com/markovmodel/pyemma@devel, if you install on the CentOs systems (as you probably already do since months).

[2016-09-20 06:27] #792 closed, assigned to nobody

[2016-09-20 06:30] marscher commented on #100
done

[2016-09-20 06:30] #100 closed

[2016-09-20 11:46] jchodera commented on #792
I concur that this is a simple alternative that works well for me.

We _could_ also add pyemma to the http://github.com/omnia-md/conda-dev-recipies nightly builds. Do we think that would be valuable?

[2016-09-20 11:55] marscher commented on #792
Yes, that would do it. But I guess we need to change something in the recipe for that?

[2016-09-20 11:55] marscher commented on #792
I'll add the recipe there, thank you!

[2016-09-20 11:59] marscher commented on #792
omnia-md/conda-dev-recipes/pull/37

[2016-09-20 13:04] marscher commented on #882
I can reproduce this with the latest release, but not with latest devel... I dont know why this merge doesn't show up in 2.2.3, since this release was meant as a quick fix rel for this issue.

[2016-09-20 13:04] #882 closed, assigned to nobody

[2016-09-21 08:42] marscher opened #934 "recommend Python3 in installation docs"

[2016-09-21 15:35] marscher opened #935 "[MSM] reversible attribute can not be overridden in constructor."
This leads to an error in the pentapeptide notebook when pcca is requested: the model claims that the matrix is not reversible (with the tolerance of 1E-8).

[2016-09-21 16:02] marscher opened #937 "Some samples of BayesianMSM are not reversible"
This happens often ... (unfortunately I dont have the statistics, since I restart the jobs on Travis then, but it happens almost for every pull request).

[code]

[2016-09-21 16:35] #935 closed, assigned to nobody

[2016-09-22 08:44] stefdoerr opened #939 "Using partial_fit with TICA gives different results"
This is the data after projecting with TICA. First using `pyemma.coordinates.tica` with all the data and second using `pyemma.coordinates.transform.tica.TICA` and `partial_fit`

[code]

Signs are flipped sometimes and some values diverge a bit. Is that to be expected?

[2016-09-22 09:01] stefdoerr commented on #939
also `pyemma.coordinates.transform.tica.TICA.transform()` seems to take my `float32` and return `float64` while `pyemma.coordinates.tica.get_output()` returns `float32`. Not a big issue since I can cast it but you might want to take a look at it

[2016-09-22 09:15] stefdoerr commented on #939
And lastly also maybe try to get rid of this warning:
`/shared/sdoerr/Software/anaconda3/lib/python3.5/site-packages/pyEMMA-2.2.1-py3.5-linux-x86_64.egg/pyemma/coordinates/transform/tica.py:282: VisibleDeprecationWarning: converting an array with ndim > 0 to an index will result in an error in the future
  self._used_data += len(it)`

[2016-09-22 10:05] marscher commented on #939
how many issues are these now in one post? Happy to accept a PR on the last two ones. I will look into the first one with @fnueske

[2016-09-22 10:21] stefdoerr commented on #939
Oh well, didn't want to spam your issue tracker. The first one is the most important, the other two I don't worry about too much.

[2016-09-22 10:26] fnueske commented on #939
@marscher we can have a look at this today if you like. I guess it's because of changes I made to variational without thinking about problems in pyemma.

[2016-09-22 10:27] stefdoerr opened #940 "How to compile pyemma C code to use local git clone (instead of conda)"
Talking about PRs, could you tell me how to compile your C code so that I can use the local pyemma git fork I have? Are there instructions somewhere? Because when I try to import it I get errors like these:

[code]

[2016-09-22 11:09] franknoe commented on #939
Since we use a subtree, the import is fixed to a certain commit, right? So changes to variational after that commit have no effect unless we update the import, correct? That's important, i.e. please don't import the latest commit, but keep a fixed version.

The weighting option was I think the main thing that changed between the old variational code that was part of PyEMMA and the last commit at t

[2016-09-22 11:45] marscher commented on #940
Am 22.09.2016 um 12:27 schrieb Stefan Doerr:

[2016-09-22 11:46] marscher commented on #940
http://emma-project.org/latest/DEVELOPMENT.html

[2016-09-22 11:47] marscher commented on #939
The test is already there, but I guess it does not use enough data to reproduce the problem.

[2016-09-22 11:48] #940 closed, assigned to nobody

[2016-09-22 11:48] #934 closed, assigned to nobody

[2016-09-22 11:49] stefdoerr commented on #939
I also saw that with 2 trajectories I get more consistent results. Using
200 changes the results a bit

On Thu, Sep 22, 2016 at 1:47 PM, Martin K. Scherer <notifications@github.com

[2016-09-22 11:49] stefdoerr commented on #940
Perfect! Thanks

[2016-09-22 11:54] marscher commented on #939
could you quantify "a bit"? Maybe that will give us a hint what to look for.

[2016-09-22 11:59] stefdoerr commented on #939
Give me a moment to test it a bit further. I'll come back with some more
details

On Thu, Sep 22, 2016 at 1:54 PM, Martin K. Scherer <notifications@github.com

[2016-09-22 12:01] franknoe commented on #939
Is there a chance that there is an algorithmic difference in the frames
that are being read or the total number of frames being counted in the
two different modes?

If it is a purely numerical issue I think the problem is that a full
fitting will perform a hierarchical summation of the covariance matrices
inside the variational package. I assume (but not sure) that using
partial_fit will purge the

[2016-09-22 12:06] stefdoerr commented on #939
Sorry for the false alarm :disappointed: Appears that in the `partial_fit` I was accidentally feeding 2 extra simulations since they were being streamed. This caused large differences of up to 0.2.

The absolute difference after fixing it is nothing:

[code]

Except the signs which still seem to flip. Sorry for wasting your time :(

[code]

[2016-09-22 12:06] #939 closed, assigned to nobody

[2016-09-22 12:09] stefdoerr commented on #939
I'll try to make a PR for the warning and dtypes to atone for my false issue :P

[2016-09-22 12:09] franknoe commented on #939
Puh, that's reassuring.

Am 22/09/16 um 14:06 schrieb Stefan Doerr:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-09-22 12:11] franknoe commented on #939
Cool. You're welcome to post more false issues if you pay by PRs,
especially if you add a false-issue flag ;)

Am 22/09/16 um 14:09 schrieb Stefan Doerr:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-09-22 12:16] marscher commented on #939
Thanks! @fabian-paul suggested, that we could introduce a check, if a trajectory has already been fitted. We could achieve this by getting the fingerprint of the trajectory from the TrajInfoCache and save it in a set. If the file has already been added, we print a warning and continue.

[2016-09-22 12:18] franknoe commented on #939
Good idea, but I would print only one warning per estimator. I could
imagine doing this on purpose for generating toy data and then I
wouldn't want to be flooded by warnings.

Am 22/09/16 um 14:16 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnim

[2016-09-22 12:20] stefdoerr commented on #939
If it's for my case then it would not help. The problem is that when I do TICA with normal fit I pass my precalculated projections to it, where I have already thrown out any broken trajectories. We identify broken trajectories by their length not being correct.

In the streaming case I did not know beforehand the length of the trajectories so I was training it on 2 additional broken trajectories.

[2016-09-22 12:24] fnueske commented on #939
About the signs: I think there is no mathematically or physically meaningful choice of the sign, but we can offer such a convention as an option.

[2016-09-22 12:28] franknoe commented on #939
Maybe an optional parameter in the variational solver package but always
use it from the PyEMMA estimators? I think too many options are
confusing because then it becomes hard to find the important ones, and
this is nothing the user should be worried about, especially because
sign changes produce mathematically equivalent results.

Am 22/09/16 um 14:24 schrieb Feliks Nüske:

##

---

Prof. Dr. Fra

[2016-09-22 12:29] franknoe commented on #939
PS that would solve the issue that people get different (mirrored) PMFs
in the BPTI notebook when using different installations / machines.

Am 22/09/16 um 14:24 schrieb Feliks Nüske:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

## Mail:  Arnimallee 6, 14195 Berlin, Germany

[2016-09-23 02:35] MamtaMohan opened #944 "How to save MSM model"
Hello,

I would like to know if there is a way to save the model which I built for future.

I took tutorial for pentapeptide and I would like to save the whole model.

Mamta

[2016-09-23 11:47] marscher commented on #944
see #867. This will be merged soon.

[2016-09-23 11:47] #944 closed, assigned to nobody

[2016-09-23 15:55] Sawrz opened #947 "Internal handling of TICA with cossin tuples"
Hi,
I'm trying to improve the space I'm using TICA on. Since I'm using angles I found out that pyEmma has already a feature where an arithmetic mean can be computed easily by using the cossin statement in the coor.featurizer that, so far I understood it right, creates a tuple for each angle x in the form of ( cos(x), sin(x) ).
Because I'm dealing with RNA and have already the necessary dihedreals

[2016-09-23 16:40] franknoe commented on #947
Hi Sandro. We haven't worked with DNA, so it's possible that there are
problems with the featurization itself, but TICA shouldn't have any
problems in the scenario you describe, at least conceptually it's
straightforward. Say you have N angles and you compute the cossin
transform, then you get 2N coordinates out of your featurizer. TICA just
gets arrays of size (T x 2N) if T is your trajectory siz

[2016-09-23 16:40] #947 closed, assigned to nobody

[2016-09-26 09:18] #928 closed, assigned to nobody

[2016-09-26 16:34] marscher commented on #917
@franknoe I'd like to add this directly to the cut out coordinates package or do you need this here for your work on oASIS?

[2016-09-26 16:56] franknoe commented on #917
Cut out coordinates package? I thought we only cut out the variational
subtree.

I only need it for oASIS right now, no need to update the subtrees
unless we have a specific need for them.

Am 26/09/16 um 11:34 schrieb Martin K. Scherer:

##

---

Prof. Dr. Frank Noe
Head of Computational Molecular Biology group
Freie Universitaet Berlin

Phone: (+49) (0)30 838 75354
Web:   research.franknoe.de

#

[2016-09-26 17:05] franknoe commented on #917
Just checking again. What I intented was
1. to use a subtree link from variational to pyemma/_ext/
2. remove the coordinates/estimators and instead use
   pyemma._ext.variational.

Since I can't find 1, this is apparently not what happened. As far as I
recall I never suggested to cut out the entire coordinates package,
because that it an integral part of PyEMMA. Please summarize the current
state

[2016-09-26 17:13] sstolzenberg opened #949 "why does pyemma.msm.MSM.metastable_assignments use "metastable_distributions" instead of "metastable_memberships"?"
documentation in "metastable_assignments" says:

"Computes the assignment to metastable sets for observable states"

so this should using "metastable_memberships" instead no?

(Currently, "metastable_assignments" uses "observation_probabilities" which is returned by "metastable_distributions")

Thanks!

Sebastian